/*幻灯*/

/*.index-slider {
	position: fixed;
	top: 0;
	z-index: 999;
}*/

.index-slider .mui-slider-indicator .mui-indicator {
	width: 14px;
	height: 3px;
	border-radius: inherit;
	background: #fff;
	-webkit-box-shadow: none;
	box-shadow: none;
	margin: 1px 3px;
}

.index-slider .mui-slider-indicator .mui-active.mui-indicator {
	background: #0e9ef3;
}

.index-list {
	width: 100%;
	height: auto;
	overflow: hidden;
	padding: 10px 0px;
	background: #fff;
}

.index-list>li {
	width: 33.33%;
	height: auto;
	overflow: auto;
	float: left;
	padding: 8px;
	text-align: center;
}

.index-list>li img {
	width: 50px;
	height: 50px;
}

.index-list>li p {
	font-size: 14px;
	color: #333;
	margin-bottom: 0px;
}

.index-gg {
	width: 100%;
	height: auto;
	overflow: hidden;
	background: #fff;
	margin-top: 2%;
}

.index-ad-photo {
	float: left;
	width: 10%;
	text-align: center;
	height: 40px;
	line-height: 40px;
	padding: 0;
	margin: 0;
	border: 0;
	overflow: hidden;
}

.index-ad-photo img {
	width: 30px;
	height: 30px;
	position: relative;
	top: 4px;
}

.index_photo_news {
	width: 80%;
	height: 40px;
	line-height: 40px;
	padding: 0;
	margin: 0;
	border: 0;
	overflow: hidden;
	float: left;
}

.index_photo_news p {
	margin: 0;
	height: auto;
	margin-left: 3%;
	font-size: 14px;
	color: #ffba15;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	word-break: break-all;
}

.more-news {
	width: 10%;
	height: 40px;
	line-height: 40px;
	padding: 0;
	margin: 0;
	border: 0;
	overflow: hidden;
	float: left;
	padding-right: 4px;
}

.more-news a {
	font-size: 14px;
	color: #999;
}

.tuij_box {
	width: 100%;
	height: auto;
	overflow: hidden;
	background: #fff;
	margin-top: 2%;
}

.tj-title h2 img {
	height: 30px;
	width: 30px;
	vertical-align: middle;
	display: inline-block;
	margin-right: 12px;
}

.tj-title h2 span {
	vertical-align: middle;
	display: inline-block;
	font-size: 18px;
	color: #FF0000;
}

.tj-title a {
	float: right;
	font-size: 14px;
	color: #999;
	margin-top: 3%;
}

.tj-title {
	overflow: hidden;
	padding: 0 2%;
	width: 100%;
	height: auto;
}

.tj-title h2 {
	float: left;
	width: 60%;
}

.tj-worklist {
	width: 100%;
	height: auto;
	overflow: hidden;
	border-top: 1px solid #F0F0F0;
	padding: 10px;
	position: relative;
}

.tj-worklist .work {
	float: left;
}

.tj-worklist .work img {
	width: 120px;
	height: 80px;
	margin-right: 10px;
}

.work .px-title {
	font-size: 17px;
	color: #333;
}

.work .px-con {
	color: #f2b300;
	font-size: 15px;
}

.work .px-people {
	color: #666;
}

.work .px-gr {
	color: red;
}

.work p {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	word-break: break-all;
	margin-bottom: 0px;
	line-height: 1.9;
}

.work-yh {
	position: absolute;
	right: 7px;
	top: 8px;
	font-size: 12px;
	color: #f2b300;
	letter-spacing: 1.2px;
}

.tj-worklist .work1 {
	color: #333;
	font-size: 17px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.tj-worklist .work1 span {
	color: #999;
	font-size: 12px;
	float: right;
}

.tj-worklist .work2 {
	font-size: 15px;
	color: #666;
	margin: 3% 0 4%;
}

.tj-worklist .work2 b {
	font-weight: 400;
	color: red;
	margin-left: 1.5%;
}

.tj-worklist .work3 c {
	font-style: normal;
	color: #f2b300;
	border: #f2b300 solid 1px;
	margin-bottom: 3%;
	border-radius: 3px;
	margin-right: 3px;
	padding: 2px;
	font-size: 12px;
}

.tj-worklist .work3 span {
	color: #999;
	font-size: 12px;
	float: right;
}

.gg-where {
	width: 100%;
	height: auto;
	overflow: hidden;
	margin: 3% auto;
}

.gg-where img {
	width: 100%;
}

.business {
	width: 100%;
	height: auto;
	overflow: hidden;
	background: #fff;
}

.business-title {
	font-size: 17px;
	color: #FF0000;
	text-align: left;
	padding: 10px;
	border-bottom: 1px solid #F0F0F0;
}

.business-list>li {
	float: left;
	width: 25%;
	height: auto;
	overflow: hidden;
}

.business-list>li img {
	width: 40px;
	height: 40px;
}

.business-list>li p {
	font-size: 12px;
}

.index-footer {
	width: 100%;
	height: auto;
	overflow: hidden;
	background: #fff;
	margin-top: 3%;
}

.index-login {
	border-bottom: #eee solid 1px;
	text-align: center;
	padding: 4% 0;
}

.index-login a {
	font-size: 15px;
	color: #999;
	display: inline-block;
	padding: 0 1%;
	border-left: #999 solid 1px;
	line-height: 100%;
	padding: 0 2%;
}

.index-login a:first-child {
	border-left: none;
}

.index-jj {
	text-align: center;
	margin: 5% 0;
}

.index-jj span {
	display: inline-block;
	vertical-align: middle;
	margin: 2%;
}

.index-jj span a {
	font-size: 14px;
	color: #999;
	border-bottom: #999 solid 1px;
	text-decoration: none;
}

.index-jj span:after {
	content: ">";
	color: #ffe037;
	margin-left: 4px;
	font-size: 14px;
}

.index-footer .txt {
	text-align: center;
	color: #999;
	font-size: .22rem;
	line-height: 180%;
}


/*兼职模块*/

.part-time .aui-flex {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center;
	padding: 5px;
	position: relative;
}

.part-time .aui-flex-box {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	flex: 1;
	min-width: 0;
	font-size: 14px;
	color: #333;
}

.part-time .aui-flex-box h3 {
	font-size: 15px;
	color: #000000;
	margin-bottom: 10px;
}

.part-time .aui-flex-box h4 {
	font-size: 12px;
	color: #a8a8a8;
	margin-bottom: 10px;
	font-weight: normal;
}

.part-time .aui-flex-box h4 em {
	font-style: normal;
	color: #eb5942;
	font-size: 14px;
}

.part-time .aui-flex-box h5 {
	font-size: 14px;
	color: #797979;
	margin-bottom: 10px;
	font-weight: normal;
}

.part-time .aui-sam-img {
	width: 100px;
	height: 63px;
}

.part-time .aui-sam-img img {
	width: 100%;
	height: auto;
	display: block;
	border: none;
	border-radius: 10px;
}

.part-time .aui-sam-text p {
	font-size: 12px;
	color: #999;
	text-align: center;
	margin-top: 8px;
}

.part-time .aui-flex-box h5 i {
	width: 15px;
	height: 15px;
	display: block;
	float: left;
	margin-right: 8px;
}

.part-time .aui-flex-box h5 i img {
	width: 100%;
	height: auto;
	display: block;
	border: none;
}
.tj-worklist a{
	background: inherit;
}
