* {
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
}

div.screening {
	width: 100%;
	overflow: hidden;
	background: #fff;
	/*position: fixed;*/
	z-index: 4;
}

div.screening>ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	border-bottom: solid 1px #eceaea;
	overflow: hidden;
}

div.screening>ul>li {
	float: left;
	font-size: 14px;
	width: 33.33%;
	text-align: center;
	line-height: 45px;
	border-left: solid 1px #eceaea;
	color: #333;
}

div.screening>ul>li:first-child {
	border-left: none;
}

div.screening>ul>li>span {
	background: url("../img/on_1.png") no-repeat right center;
	background-size: 0.75em;
	padding-right: 15px;
}

div.screening>ul>.current>span {
	background: url("../img/on_2.png") no-repeat right center;
	background-size: 0.75em;
	color: #f2b300;
}

.meishia-t li a {
	color: #e0a703;
}


/* grade */

.meishi22,
.grade-eject,
.Category-eject,
.Sort-eject {
	position: fixed;
	top: -65%;
	width: 100%;
	height: 63%;
	z-index: 1;
	-webkit-transition-duration: 0.4s;
}

.meishi22>ul,
.grade-eject>ul,
.Category-eject>ul,
.Sort-eject>ul {
	margin: 0;
	padding: 0;
	overflow: auto;
	height: 100%;
	width: 100%;
	-webkit-transition-duration: 0.4s;
}

.meishi22>ul>li,
.grade-eject>ul>li,
.Category-eject>ul>li,
.Sort-eject>ul>li {
	height: 45px;
	line-height: 45px;
	font-size: 14px;
	padding-left: 24px;
	border-bottom: solid 1px #eee;
}

.meishi22>ul.meishia-w,
.grade-eject>ul.grade-w,
.Category-eject>ul.Category-w {
	background: #fff;
	position: absolute;
	z-index: 1;
}

.meishi22>ul.meishia-t,
.grade-eject>ul.grade-t,
.Category-eject>ul.Category-t {
	background: #eee;
	position: absolute;
	z-index: 2;
	left: 100%;
}

.meishi22>ul.meishia-t>li,
.grade-eject>ul.grade-t>li,
.Category-eject>ul.Category-t>li {
	border-bottom: solid 1px #e5e5e5;
}

.meishi22>ul.meishia-s,
.grade-eject>ul.grade-s,
.Category-eject>ul.Category-s {
	background: #fff;
	position: absolute;
	z-index: 3;
	left: 100%;
	list-style-type: none;
}

.meishi22>ul.meishia-s>li,
.grade-eject>ul.grade-s>li,
.Category-eject>ul.Category-s>li {
	border-bottom: solid 1px #eee;
	margin-left: 1rem;
	padding: 0;
}

.grade-w-roll {
	top: 93px;
}

.grade-w-roll::after {
	position: fixed;
	content: "";
	width: 100%;
	height: 100%;
	display: block;
	background: rgba(0, 0, 0, 0.2);
	top: 0;
}


/*Sort-eject*/

.Sort-Sort {
	background: #fff;
	position: absolute;
	z-index: 3;
	left: 0;
	list-style-type: none;
}

.Sort-Sort>li {
	border-bottom: solid 1px #eee;
	padding: 0;
}

.Sort-height {
	height: 63%;
}


/* demo-content */

.demo-content {
	padding-top: 3rem;
}

.xiaobiao {
	background-color: #d2d3ce;
	color: #FFFFFF;
	padding: 0px 5px;
	font-size: 10px;
	border-radius: 8px;
	margin-left: 10px;
}

.xiaobiao1 {
	font-size: 10px;
	margin-left: 20px;
}

.zimu {
	height: 20px;
	background-color: #e4e4e4;
	border-bottom: 1px solid #e5e5e5;
	padding-left: 20px;
	line-height: 20px;
}

.wrap {
	position: relative;
	margin-top: -60px;
}

.slider-v3 {
	margin: 1.5em auto;
}

.wrap input {
	position: absolute;
	left: -9999px;
}

.slider-v3 {
	position: relative;
	display: block;
	width: 5em;
	height: 2em;
	cursor: pointer;
	border-radius: 1.5em;
	transition: 350ms;
	background: #ddd;
}

.slider-v3::after {
	position: absolute;
	content: '';
	width: 1.5em;
	height: 1.5em;
	top: 0.2em;
	left: 0.5em;
	border-radius: 1.5em;
	transition: width 200ms ease-out, height 300ms 50ms ease-in, top 300ms 50ms ease-in, left 250ms 50ms ease-in, box-shadow 300ms ease-in;
	background: #e23a46;
	box-shadow: 0 0 0 1.5em #f2f2f2 inset;
}

input:checked+.slider-v3::after {
	top: 0.2em;
	left: 3em;
	box-shadow: 0 0 0 0 #f2f2f2 inset;
}

.choose a {
	color: #666666;
	text-decoration: none;
}

.choose a:hover {
	color: #990000;
	text-decoration: none;
}

.choose {
	padding: 13px 30px 30px 0;
}

.choosetext {
	height: 24px;
	padding: 20px 0;
	font-size: 14px;
}

.choosebox {
	padding: 0 0 35px 0;
}

.choosebox li {
	float: left;
	margin-right: 10px;
	display: inline;
	padding-bottom: 22px;
}

.choosebox li a {
	float: left;
	background: #fff;
	font-size: 14px;
	border: 1px solid #ccc;
	height: 14px;
	line-height: 14px;
	padding: 4px 12px;
	display: block;
}

.choosebox li a.current {
	background: #e23a46;
	color: #FFFFFF;
}

.choosebox li input {
	display: none;
}

.choose .btn-img {
	overflow: hidden;
	background: #fff;
	cursor: pointer;
	border: 0;
}

.choose .btn-img span {
	font-size: 18px;
	font-weight: 800;
	color: #e23a46;
	font-family: "微软雅黑", "宋体";
}

.job-list {
	width: 100%;
	height: auto;
	overflow: hidden;
	background: #FFFFFF;
	margin-top: 91.5px;
}

.job-list .tj-worklist {
	width: 100%;
	height: auto;
	overflow: hidden;
	border-top: 1px solid #F0F0F0;
	padding: 10px;
	position: relative;
}

.job-list .tj-worklist .work1 {
	color: #333;
	font-size: 17px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.job-list .tj-worklist .work1 span {
	color: #999;
	font-size: 12px;
	float: right;
}

.job-list .tj-worklist .work2 {
	font-size: 15px;
	color: #666;
	margin: 3% 0 4%;
}

.job-list .tj-worklist .work2 b {
	font-weight: 400;
	color: red;
	margin-left: 1.5%;
}

.job-list .tj-worklist .work3 c {
	font-style: normal;
	color: #f2b300;
	border: #f2b300 solid 1px;
	margin-bottom: 3%;
	border-radius: 3px;
	margin-right: 3px;
	padding: 2px;
	font-size: 12px;
}
.zy_module-content .mui-table-view-cell>a:not(.mui-btn) {
	position:  inherit;
	display: block;
	overflow: hidden;
	margin: 0px;
	padding: inherit;
	white-space:  inherit;
	text-overflow:  inherit;
	color: inherit;
}
.job-list .tj-worklist .work3 span {
	color: #999;
	font-size: 12px;
	float: right;
}

.job-list .tj-worklist .work3 .sq-job {
	color: #fff;
	background-color: #f2b300;
	font-size: 15px;
	right: 2%;
	padding: 10px 12px;
	border-radius: 3px;
	line-height: 8px;
	text-align: center;
}

.job-list .tj-worklist .work4 {
	color: #999;
	font-size: 13px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	margin-top: 5%;
	border-top: #f2b300 dashed 1px;
	padding-top: 10px;
}

.job-list .tj-worklist .work4 span {
	color: #999;
	font-size: 13px;
	float: right;
}

.job {
	position: fixed;
	z-index: 999;
	top: 0;
	width: 100%;
}


/*找工作页面*/


/*找工作详情页面*/

.job-xq {
	width: 100%;
	height: auto;
	overflow: hidden;
	margin-top: 50px;
}

.job-top {
	color: #f2b300;
	font-size: 14px;
	padding: 3% 2%;
	background: #fff;
}

.job-xq .work_tit {
	border-bottom: #ddd solid 1px;
	padding-bottom: 2%;
	background: #fff;
	height: auto;
	overflow: hidden;
}

.job-xq .p_02 {
	padding: 0 2%;
}

.job-xq .work_tit h2 {
	font-size: 18px;
	color: #333;
	line-height: 140%;
	margin-top: 0px;
	margin-bottom: 0px;
}

.job-xq .work_tit p {
	line-height: .6rem;
}

.job-xq .work_tit p a {
	font-size: 15px;
}

.job-xq .l {
	float: left;
}

.job-xq .r {
	float: right;
	color: #999;
}

.job-xq .gr {
	color: red;
}

.job-xq .work_tit p span {
	font-size: .22rem;
	margin-left: .5em;
}

.job-xq .p_2 {
	padding: 2%;
}

.job-xq .work_info>div {
	overflow: hidden;
	font-size: .24rem;
	line-height: .5rem;
}

.job-xq .work_info>div span {
	float: left;
	color: #999;
	width: .72rem;
	overflow: hidden;
}

.job-xq .work_info>div p {
	float: right;
	width: calc(100% - .72rem);
	color: #333;
}

i,
cite,
em,
var,
address,
dfn {
	font-style: normal;
}

.job-xq .work_info>div p em {
	font-style: normal;
	border-right: #ddd solid 1px;
	padding: 0 3%;
}

.job-xq .work_info div.apply {
	line-height: .8rem;
	font-size: .3rem;
	margin: 3% 0 2%;
}

.job-xq .zy_butn {
	background-color: #f2b300;
	width: 100%;
	color: #fff;
	font-size: .26rem;
	line-height: .8rem;
	text-align: center;
}

.job-xq .bord_3 {
	border-radius: 3px;
}

.work_info {
	background: #fff;
}

.work_zhize {
	background: #fff;
	padding: 2%;
	margin-top: 2%;
}

.work_zhize h4 {
	color: #999;
	font-size: .24rem;
	line-height: .5rem;
}

.work_zhize .txt p {
	color: #333;
	font-size: .24rem;
	line-height: .5rem;
}

.job-xq .bgwh {
	background-color: #fff;
}

.job-xq .mb6 {
	margin-bottom: 6px;
}

.job-xq .work_contact>div {
	border-bottom: #ddd solid 1px;
	padding: 0 2%;
	height: .72rem;
	line-height: .72rem;
	font-size: .24rem;
}

.job-xq .work_contact>div span {
	display: inline-block;
	color: #999;
}

.job-xq .work_contact>div p {
	display: inline-block;
	color: #333;
}

.job-xq .work_contact>div p a {
	color: #333;
}

.job-xq .work_contact>div img {
	display: inline-block;
	vertical-align: middle;
	width: .32rem;
	margin-left: .5em;
}

.job-xq .work_contact .more a {
	display: block;
	color: #f2b300;
	font-size: .26rem;
	background: url(../img/right_jt01.png) no-repeat center right;
	background-size: .16rem;
}

.job-xqall .zy_search_top_box {
	position: fixed;
	z-index: 99;
	top: 0;
	width: 100%;
}

.job-xq .work_zhize h2 {
	font-size: 17px;
	font-size: #333;
	margin: 3% 0;
}

.xq_foot {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 53px;
	background: #fff;
	box-shadow: 0 0 7px #bbb
}

.xq_foot a {
	width: 30%;
	text-align: center;
	font-size: .22rem;
	color: #333;
	border-left: #ddd solid 1px;
	float: left;
	height: .9rem;
	background: #fff;
}

.xq_foot a img {
	display: block;
	width: 18px;
	height: 18px;
	margin: 6% auto 5%;
}

.xq_foot a:first-child {
	border: 0;
}

.xq_foot .apply {
	color: #fff;
	background-color: #f2b300;
	width: 40%;
	height: .9rem;
	text-align: center;
	line-height: .9rem;
	font-size: .3rem;
	float: left;
}

.more-job .tj-worklist {
	margin-top: 2%;
	background: #fff;
}

.more-job .tj-worklist:first-child {
	margin-top: 0px;
}


/*培训课程样式*/

.training div.screening>ul>li {
	width: 50%;
}

.training-list {
	margin-top: 92px;
}

.training-list .tj-worklist {
	background: #fff;
	margin-top: 2%;
}

.training-list .tj-worklist:first-child {
	margin-top: 0px;
}

.training-xq .other_head {
	border-bottom: #f2b300 dashed 1px;
	padding: 2% 0 3%;
	width: 100%;
	height: auto;
	overflow: hidden;
}

.training-xq h2 {
	width: 72%;
	font-size: .3rem;
	color: #333;
	line-height: 150%;
	float: left;
}

.training-xq .dis_flex span {
	width: 25%;
	font-size: .22rem;
	color: #999;
	text-align: right;
	float: right;
}

.training-xq .other_info {
	width: 100%;
	height: auto;
	overflow: hidden;
	margin-top: 5px;
}

.training-xq .other_info>div span {
	float: left;
	color: #999;
	width: 1.25rem;
	overflow: hidden;
}

.training-xq .other_info>div p {
	float: right;
	width: calc(100% - 1.25rem);
	color: #333;
}

.training-xq .ge04 {
	color: #f2b300;
}

.training-xq .work_zhize .txt p {
	margin-bottom: 0px;
}

.xq_foot01 {
	box-shadow: none;
}

.xq_foot01 a:first-child {
	background-color: #3d3c41;
}

.xq_foot01 a {
	width: 50%;
	text-align: center;
	border: 0;
	background: #f2b300;
	color: #fff;
}

.xq_foot01 a span {
	display: inline-block;
	vertical-align: middle;
	font-size: .3rem;
	line-height: .9rem;
}

.xq_foot01 a {
	width: 50%;
	text-align: center;
	border: 0;
	background: #f2b300;
	color: #fff;
}


/*个人中心样式*/

.person-header {
	width: 100%;
	height: 220px;
	background: url(../img/head-bj.png) no-repeat;
	background-size: 100% 100%;
}

.person-top {
	width: 100%;
	height: auto;
	overflow: hidden;
	padding: 10px 0px 10px 0px;
	text-align: center;
	font-size: 17px;
	color: #fff;
}

.person-top c {
	position: relative;
	left: 15px;
}

.person-top span {
	float: right;
}

.person-top img {
	width: 20px;
	height: 20px;
	margin-right: 10px;
}

.person-photo {
	width: 100%;
	height: auto;
	overflow: hidden;
	padding: 10px 0px 10px 0px;
	text-align: center;
}

.person-photo img {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	border: 3px solid #fff;
}

.header-list {
	width: 100%;
	height: auto;
	overflow: hidden;
	padding: 20px 0px 10px 0px;
	text-align: center;
}

.header-list>.list-one {
	float: left;
	width: 33.33%;
	font-size: 13px;
	color: #fff;
	border-left: 1px solid #a2e8ae;
}

.header-list>.list-one a {
	color: #fff;
}

.header-list>.list-one:first-child {
	border-left: none;
}

.header-list>.list-one p {
	font-size: 15px;
	color: #fff;
	margin-bottom: 0px;
}

.person-list {
	width: 100%;
	height: auto;
	overflow: hidden;
	background: #fff;
	text-align: center;
}

.person-list>li {
	float: left;
	width: 25%;
}

.person-list>li:first-child {
	border-left: none;
}

.person-list>li img {
	width: 47px;
	height: 47px;
}

.person-list>li p {
	font-size: 14px;
	color: #333;
}

.ad {
	width: 100%;
	height: auto;
	overflow: hidden;
	background: #fff;
	padding: 20px;
}

.ad img {
	width: 100%;
}

.person-service {
	width: 100%;
	height: auto;
	overflow: hidden;
	background: #fff;
	padding: 12px;
	font-size: 15px;
	color: #333;
	border-bottom: 1px solid #F5F5F5;
}

.service-list {
	width: 100%;
	height: auto;
	overflow: hidden;
	background: #fff;
	padding: 8px;
	text-align: center;
}

.service-list>.service-one {
	float: left;
	width: 50%;
	height: auto;
	overflow: hidden;
	text-align: center;
}

.service-list>.service-one img {
	width: 40px;
	height: 40px;
}

.service-list>.service-one span {
	font-size: 15px;
	color: #333;
	width: 65%;
	float: right;
	text-align: left;
	line-height: 42px;
}

.service-list>.service-one a {
	width: 35%;
	float: left;
}


/*个人设置*/

.vip_user_info .head {
	padding: 3%;
	position: relative;
}

.zy_module-content .bgwh {
	background-color: #fff;
}

.zy_module-content .bbd {
	border-bottom: 1px solid #ddd;
}

.zy_module-content .mb6 {
	margin-bottom: 6px;
}

.vip_user_info .head a i img {
	display: block;
	width: 100%;
	height: 100%;
}

.vip_user_info .head a i {
	display: inline-block;
	vertical-align: middle;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	overflow: hidden;
}

.vip_user_info .head a dl {
	display: inline-block;
	vertical-align: middle;
	margin-left: 1%;
}

.vip_user_info .head a dl dt {
	font-size: 16px;
	color: #f2b300;
	line-height: 140%;
	margin-bottom: 10px;
}

.vip_user_info .head a dl dd {
	font-size: 14px;
	color: #999;
}

dl,
dd,
dt,
p,
ul,
li,
ol {
	margin: 0;
	padding: 0;
}

.vip_user_info ul li:first-child {
	border-top: #ddd solid 1px;
}

.vip_user_info ul li {
	padding: 10px;
	border-bottom: #ddd solid 1px;
	position: relative;
}

.vip_user_info ul li a {
	color: #666;
	font-size: 15px;
	display: block;
}

.vip_user_info .exit {
	position: fixed;
	bottom: 61px;
	width: 100%;
	background-color: #f2b300;
}

.vip_user_info .exit a {
	color: #fff;
	font-size: 18px;
	display: block;
	line-height: 2.6;
	text-align: center;
}

.vip_user_info .head a,
.vip_user_info ul li a {
	background: url(../img/right_jt_50.png) no-repeat center right;
	background-size: 8px;
}

.vip_user_info .head a {
	display: block;
}


/*编辑资料*/

.mine-personal {
	margin: 60px 20px 20px 20px;
	height: auto;
	overflow: hidden;
	border: 1px solid #ddd;
	border-radius: 2px;
}

.personal-photo {
	width: 100%;
	height: auto;
	overflow: hidden;
	padding: 13px 0px 13px 0px;
	border-bottom: 1px solid #ddd;
}

.personal-photo .personal-left {
	float: left;
	width: 50%;
	text-align: left;
	padding: 0px 10px 0px 10px;
	font-size: 16px;
	color: #666;
	line-height: 50px;
}

.personal-photo .personal-right {
	float: right;
	width: 50%;
	text-align: right;
	padding: 0px 10px 0px 10px;
	position: relative;
}

.personal-photo .personal-right img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 1px solid #ddd;
}

.photo_scc {
	position: absolute;
	top: 4px;
	width: 50px;
	height: 50px;
	right: 0px;
	opacity: 0;
}

.personal-photo-two .personal-left {
	float: left;
	width: 40%;
	text-align: left;
	padding: 0px 10px 0px 10px;
	font-size: 16px;
	color: #666;
	line-height: 50px;
}

.personal-photo-two .personal-right {
	float: right;
	width: 60%;
	font-size: 15px;
	line-height: 45px;
	color: #f2b300;
	text-align: right;
	padding: 0px 10px 0px 10px;
}

.personal-photo-two .personal-right input {
	margin-bottom: 0px;
	border: none;
	text-align: right;
	margin-top: 4%;
	font-size: 15px;
	color: #333333;
}

.personal-photo-two {
	width: 100%;
	height: auto;
	overflow: hidden;
	border-bottom: 1px solid #ddd;
}

.personal-photo-two:last-child {
	border-bottom: none;
}

.personal-button {
	width: 90%;
	margin: 5% auto;
	height: auto;
	overflow: hidden;
}

.button.button-positive {
	border-color: #f2b300;
	background-color: #f2b300;
	color: #fff;
	width: 100%;
	padding: 12px 0px 12px 0px;
	font-size: 16px;
}


/*我的简历*/

.vip_user_resume {
	padding-bottom: 12px;
}

.vip_user_resume ul {
	padding-bottom: 5px;
}

.vip_user_resume ul li {
	border-bottom: #ddd solid 1px;
	padding: 2%;
	overflow: hidden;
	background-color: #fff;
}

.vip_user_resume ul li dl {
	float: left;
}

.vip_user_resume ul li dl dt {
	font-size: 17px;
	color: #333;
	margin: 5px auto 10px;
}

.vip_user_resume ul li dl dd {
	font-size: 12px;
	color: #999;
}

.vip_user_resume ul li h2 {
	float: right;
}

.vip_user_resume ul li h2 a {
	display: block;
	font-size: 14px;
	color: #fff;
	background-color: #f2b300;
	border-radius: 3px;
	width: 80px;
	height: 28px;
	line-height: 25px;
	text-align: center;
	margin: 6px 0;
}

.vip_user_resume ul li h2 a:last-child {
	color: #999;
	background-color: #eee;
}

.vip_user_resume .jianl {
	position: fixed;
	left: 0;
	bottom: 60px;
	width: 100%;
	padding: 5px 0;
	background-color: #f2b300;
	text-align: center;
}

.vip_user_resume .jianl .zy_butn {
	font-size: 17px;
}

.zy_butn {
	background-color: #f2b300;
	width: 100%;
	color: #fff;
	font-size: 17px;
	line-height: 2.7;
	text-align: center;
}


/*创建简历*/

.user-deit {
	width: 100%;
	height: auto;
	overflow: hidden;
}

.user-photo {
	padding: 3% 0;
	margin-bottom: 6px;
	background-color: #fff;
	width: 100%;
	height: auto;
	text-align: center;
}

.user-photo img {
	width: 90px;
	height: 90px;
	border-radius: 50%;
	border: 2px solid #EFEFEF;
}

.user-photo p {
	margin-bottom: 0px;
}

.user-photo .sc-tx {
	font-size: 15px;
	color: #333333;
}

.photo_scc1 {
	position: absolute;
	top: 4px;
	width: 50px;
	height: 50px;
	right: 0px;
	opacity: 0;
}

.user-about {
	width: 100%;
	height: auto;
	overflow: hidden;
}

.user-about .mui-input-group:before {
	background-color: #ffffff;
}

.user-about .mui-input-row label {
	font-size: 15px;
	color: #333;
	line-height: 1.6;
}

.user-about .mui-input-row label~input,
.mui-input-row label~select,
.mui-input-row label~textarea {
	font-size: 15px;
	color: #333;
	padding: 22px 5px;
}

.user-about .mui-input-group .mui-input-row {
	height: 45px;
}

.user-about .mui-input-group .mui-input-row:after {
	background-color: #e7e7e8;
	right: 15px;
}

.user-about .mui-input-group:after {
	display: none;
}

.demo-select-opt {
	float: right;
	width: 65%;
	text-align: left;
}

.demo-select-opt #names_dummy {
	font-size: 15px;
	color: #333;
	padding: 0px;
}

.baodan_list_content .mui-input-row textarea {
	font-size: 15px;
	color: #333;
	width: 65%;
	height: 120px;
	display: inline-block;
	vertical-align: top;
	height: 120px;
}

.user-about .baodan_list_first .mui-input-row .mui-icon {
	right: 17px;
	top: 14px;
	position: absolute;
	color: #969494;
}

.baodan_list_content .mui-input-row .mui-icon {
	right: 17px;
	top: 14px;
	position: absolute;
	color: #969494;
}

.work-years {
	height: 120px;
	border-bottom: 1px solid #fff6db !important;
}

.mui-work-years {
	height: 120px;
}

.mui-work-years:after {
	display: none;
}

.work-years textarea {
	font-size: 15px;
	color: #333;
	padding: 5px 15px 5px 15px;
}

.zy_login_btn {
	border: 1px solid #f2b300;
	padding: 0px;
	width: 100%;
	background-color: #f2b300;
	color: #fff;
	border-radius: 3px;
	font-size: 16px;
	line-height: 3;
	margin: 20px auto;
}


/*我的收藏*/

.user-mysc .mui-table-view:after {
	background-color: #e1e0e4;
}

.user-mysc .mui-table-view-cell {
	padding: 0px;
}

.user-mysc .mui-table-view-cell:after {
	display: none;
}


/*面试邀请*/

.user-msyq {
	width: 100%;
	height: auto;
	overflow: hidden;
	font-size: 15px;
	color: #333;
}

.user-msyq span {
	float: right;
	font-size: 13px;
	color: #999;
}

.user-msyq-one {
	color: #999;
	font-size: 13px;
	margin: 9px auto;
}

.user-msyq-one span {
	color: #f2b300;
}

.user-msyqlist {
	margin-top: 3%;
}

.user-msyqlist:first-child {
	margin-top: 0px;
}

.user-mysc {
	background: none;
	margin-top: 48px;
}

.user-mysc .mui-table-view {
	background: none;
}

.salary-xqall {
	position: fixed;
	z-index: 99;
	top: 0;
	width: 100%;
	height: auto;
	overflow: hidden;
}


/*消息通知中心*/

.zy_msg ul li {
	border-bottom: #F5F5F5 solid 1px;
	height: 50px;
	line-height: 50px;
	padding: 0 2%;
	background: #fff;
}

.zy_msg ul li h3 {
	float: left;
	width: 86%;
	font-size: 15px;
	color: #333;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	position: relative;
	line-height: 50px;
	margin: 0;
}

.zy_msg ul li span {
	float: right;
	font-size: 12px;
	color: #999;
}

.zy_msg ul li h3 i {
	position: absolute;
	left: 0;
	top: 14%;
	width: 4px;
	height: 4px;
	border-radius: 100%;
	background-color: #f00;
}

.news-content .p_2 {
	padding: 2%;
	height: auto;
	overflow: hidden;
}

.news-content .zy_msg .msg_xq .txt {
	font-size: 15px;
	line-height: 2;
}

.news-content .zy_msg .msg_xq .txt>div {
	margin: 4% 0;
	height: auto;
	overflow: hidden;
	width: 100%;
}

.news-content .l {
	float: left;
}

.news-content .g9 {
	color: #999;
}

.news-content .zy_msg .msg_xq .txt p {
	width: calc(100% - .8rem);
	color: #333;
	font-size: 15px;
	margin-bottom: 0px;
}

.news-content .zy_msg .msg_xq .btn {
	margin-top: 8%;
}

.news-content .zy_msg .msg_xq .btn a {
	float: left;
	width: 48%;
	text-align: center;
	background-color: #f2b300;
	color: #fff;
	font-size: 16px;
	height: 40px;
	line-height: 40px;
	border-radius: 3px;
}

.news-content .zy_msg .msg_xq .btn a:last-child {
	float: right;
	background-color: #3d3c41;
	color: #f2b300;
}


/*新闻公告*/

.news-ann .bgwh {
	background-color: #fff;
}

.news-ann .zy_newslist_box .newslist ul li {
	padding: 2.5% 2%;
	border-bottom: #ececec solid 1px;
}

.news-ann .zy_newslist_box .newslist ul li a {
	display: block;
	overflow: hidden;
}

.news-ann .zy_newslist_box .newslist ul li h2 {
	float: left;
	width: calc(100% - 1.95rem - 2%);
}

.news-ann .zy_newslist_box .newslist ul li h2 p {
	color: #333;
	font-size: 15px;
	margin-top: 1.5%;
	overflow: hidden;
	line-height: 1.6;
}

.news-ann .zy_newslist_box .newslist ul li h2 span {
	color: #999;
	font-size: 13px;
	margin-top: 6%;
	display: block;
}

.news-ann .zy_newslist_box .newslist ul li a i {
	float: right;
	width: 114px;
	height: 88px;
}

.news-ann .zy_newslist_box .newslist ul li a img {
	width: 100%;
	display: block;
	height: 88px;
}

.news-ann .tc {
	text-align: center;
	color: #999;
	padding-bottom: 10px;
	padding-top: 10px;
}

.news-ann .zy_news_xqbox .tit h2 {
	font-size: 20px;
	color: #333;
	line-height: 130%;
	margin: 2% 0;
}

.news-ann .p_2 {
	padding: 2%;
}

.news-ann .zy_news_xqbox .tit span a {
	color: #999;
	font-size: 13px;
	margin-right: 4%;
}

.news-ann .zy_news_xqbox .txt p {
	margin: 3% 0;
	font-size: 14px;
	color: #666;
	line-height: 1.7;
}

.news-ann .zy_news_xqbox .txt img {
	display: block;
	width: 100%;
}

.news-ann .zy_news_xqbox h3 p a {
	color: #666;
	font-size: 14px;
}

.news-ann .zy_news_xqbox h3 p b {
	color: #333;
}

