.qq-float{width: 124px; position: fixed; right: 5px; bottom: 250px; z-index: 5000;display: none;}
.qq-float.left{ left: 5px;}
.qq-float .qq{ background-color: #DB342E; padding: 10px 0 20px; border-bottom: 1px dashed #e6716d; }
.qq-float .qq .item{text-align: center; padding-top: 10px;}
.qq-float .contact{ background-color: #DB342E; padding: 10px 0 15px;}
.qq-float .contact .tip{ text-align: center; color: #f9d041; font-family: "microsoft yahei","宋体"; font-size: 16px;}
.qq-float .contact .tel{ background-image:url(../images/red_tel.png); background-repeat:no-repeat; background-position:7px 5px; font-size: 13px; color: #FFFFFF; padding: 6px 0 0 27px;}
.qq-float .contact .qr-code{ width: 100px; height: 100px; margin: 10px auto; background-color: #FFFFFF;}
.qq-float .contact .qr-code img{ width: 100px; height: 100px; border: 0;}
.qq-float .contact .tip.scan{ font-size: 14px;}
.qq-float .footer{ width: 124px; cursor: pointer;}

.qq-float-min{width:35px; height:195px; background-image: url(../images/red_right.png); position: fixed; right: 0; bottom:330px; cursor: pointer; z-index: 5000; }
.qq-float-min.left{background-image: url(../images/red_left.png); left: 0;}