<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<qscms:jobfair_show 列表名="info" 招聘会id="$_GET['id']" 标题长度="30"/>
<qscms:jobfair_exhibitors_list 列表名="list" 招聘会id="$_GET['id']" 显示数目="10" 分页显示="1"/>
	<include file="Home@default/public/meta" />
	<link href="{:C('TPL_HOME_PUBLIC_DIR')}/css/common.css" rel="stylesheet" type="text/css" />
	<link href="{:C('TPL_PUBLIC_DIR')}/css/jobfair.css" rel="stylesheet" type="text/css" />
	<script src="{:C('TPL_HOME_PUBLIC_DIR')}/js/jquery.common.js" type="text/javascript" language="javascript"></script>
</head>
<body>
<include file="Home@default/public/header_other" />


<div class="jobfairshow">

 <div class="state <if condition="$info['predetermined_ok'] eq 0">end</if>"></div>
    <div class="td1">
    <div class="imgbox"><img src="{$info.thumb}" border="0"/></div>
	</div>
	<div class="td2">
	 	 <div class="tit substring link_gray6"><a href="javascript:;">{$info['title']}</a></div>
		  <div class="txt substring">举办时间：{:date('Y年m月d日',$info['holddate_start'])} - {:date('Y年m月d日',$info['holddate_end'])}</div>
		   <div class="txt substring">举办地点：{$info['address']}</div>
      <div class="txt substring">联系方式：{$info['phone']}（{$info['contact']}）</div>
	</div>
	<div class="td3">
	<if condition="$info['predetermined_ok'] eq 1">
	<a href="{:U('jobfair_reserve',array('id'=>$info['id']))}#reserve">我要预订</a>
	<else />
	<a class="end">已停止预订</a>
	</if>
	</div>
	<div class="clear"></div>
	
    <div class="share bdsharebuttonbox" data-tag="share_1">
		<a class="li s1 bds_tsina" data-cmd="tsina"></a>
		<a class="li s2 bds_renren" data-cmd="renren"></a>
		<a class="li s3 bds_qzone" data-cmd="qzone"></a>
		<a class="li s5 bds_sqq" data-cmd="sqq"></a>
		<a class="li s6 bds_weixin" data-cmd="weixin"></a>
		<li class="code"><img src="{:C('qscms_site_dir')}index.php?m=Home&c=Qrcode&a=index&url={:urlencode($info['url'])}" border="0"/></li>
		<div class="clear"></div>
	</div>
</div>
<div class="jobfairshow_1">
  <div class="tittab_bg">
	<div class="tab">
		<ul class="link_gray6">
		<li><a href="{:U('jobfair_show',array('id'=>$info['id']))}">招聘会详情</a></li>
		<li class="select"><a href="{:U('jobfair_com',array('id'=>$info['id']))}">参会企业</a></li>
		<if condition="$info['predetermined_ok'] eq 1">
		<li><a href="{:U('jobfair_reserve',array('id'=>$info['id']))}">在线预订</a></li>
		</if>
		<li><a href="{:U('jobfair_traffic',array('id'=>$info['id']))}">交通线路</a></li>
		<if condition="$info['holddate_end'] lt strtotime($Think.now)">
		<li><a href="{:U('jobfair_retrospect',array('id'=>$info['id']))}">精彩回顾</a></li>
		<!--已经结束的招聘会才有精彩回顾 -->
		</if>
		</ul>
		<div class="clear"></div>
	</div>
  </div>
  <div class="com">
  	<notempty name="list['recommend']">
    <div class="tit">推荐企业</div>
    <div class="comads link_gray6">
    	<volist name="list['recommend']" id="vo">
		<div class="adli">
		 	 <div class="imgbox"><a href="{$vo['company_url']}"><img src="{$vo['company_logo']}" border="0" /></a></div>
		     <div class="txt substring"><a href="{$vo['company_url']}">{$vo['company_name']}</a></div>
		</div>
		</volist>
		<div class="clear"></div>
	</div>
	</notempty>
    <div class="titbot">
			<div class="lt">目前已有{$list['total']}企业参会，<if condition="$info['predetermined_ok'] eq 0">已停止预定<else/>正在陆续增加中.....</if></div>
			<!-- <div class="ct">你在寻找什么职位？</div>
			<div class="rt">
			  <div class="sbg">
			  <input name="" type="text" class="keyinput" />
			  <input type="button" value="搜索"  class="btn"/>
			  </div>
			</div> -->
			<div class="clear"></div>
	</div>
    <div class="clist">
    <div id="com_list">
    	<volist name="list['list']" id="vo">
		  <div class="cli">
		    <div class="cinfo">
		 	  <div class="comtit link_gray6"><a target="_blank" href="{$vo['url']}"><strong>{$vo['companyname']}</strong></a><span>展位号：{$vo['position']}</span></div>
			   <div class="jobs">
			   <notempty name="vo['jobslist']">
			   <volist name="vo['jobslist']" id="jobs">
				<a href="{$jobs['jobs_url']}" target="_blank">{$jobs['jobs_name']}</a>
			   </volist>
			   <else />
				<a href="javascript:;"><font color="#999">暂无职位</font></a>
			   </notempty>
				<div class="clear"></div>
			  </div>
			</div>
		  </div>
		</volist>
    </div>
	  <div class="clear"></div>
	  <div class="more" jobfair_id="{$info['id']}" page="1">更多</div>
	</div>
  </div>
</div>
<include file="Home@default/public/footer_min" />
<script>
	window._bd_share_config = {
		common : {
			bdText : "{$info['title']}-{:C('qscms_site_name')} 举办时间：{:date('m月d日',$info['holddate_start'])} - {:date('m月d日',$info['holddate_end'])}  举办地址：{$info['address']}",	
			bdDesc : "{$info['title']}-{:C('qscms_site_name')} 举办时间：{:date('m月d日',$info['holddate_start'])} - {:date('m月d日',$info['holddate_end'])}  举办地址：{$info['address']}",	
			bdUrl : "{:C('qscms_site_domain')}{$info['url']}", 	
			bdPic : "{$info['thumb']}"
		},
		share : [{
			"tag" : "share_1",
			"bdCustomStyle":"{:C('TPL_PUBLIC_DIR')}/css/jobfair.css"
		}]
	}
	with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='/static/api/js/share.js?cdnversion='+~(-new Date()/36e5)];
	$(document).ready(function(){
        // 更多
		$(".more").click(function(){
			var jobfair_id = $(this).attr('jobfair_id');
			var page = $(this).attr('page');
			$.getJSON("{:U('ajax_jobfair_com')}",{jobfair_id:jobfair_id,page:page},function(result){
				if(result.status==1){
					$("#com_list").append(result.data);
					$(".more").attr('page',parseInt(page)+1);
                    boxLocation();
				}else{
					$(".more").html('没有更多参会企业了');
				}
			});
		});

        // 参会企业位置
        boxLocation();
        function boxLocation() {
            var box = $('.cli');
            var boxArr = [];
            var heightArr = [];
            box.each(function(index, value){
                var boxHeight = box.eq(index).height();
                if (index < 2) {
                    boxArr[index] = boxHeight;
                } else {
                    var minBoxHeight = Math.min.apply(null, boxArr);
                    var minBoxIndex = $.inArray(minBoxHeight, boxArr);
                    $(value).css({
                        "position": "absolute",
                        "top": minBoxHeight + 50,
                        "left": box.eq(minBoxIndex).position().left
                    })
                    boxArr[minBoxIndex] += box.eq(index).height() + 25;
                }
            });
            var lastBoxTop = box.last().offset().top + box.last().height();
            var bigBoxTop = $('.clist').offset().top;
            var bigHeight = lastBoxTop - bigBoxTop;
            $('.clist').css("height", bigHeight + (50 * heightArr.length) + $('.more').height());
            $('.more').css({
                "position": "absolute",
                "top": bigHeight + (50 * heightArr.length) + 25
            })
        }
	});
</script>
</body>
</html>