<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../public_qichen/css/style.css">
    <qscms:company_show 列表名="info" 企业id="$_GET['id']"/>
    <include file="public:meta"/>
    <link rel="stylesheet" href="../public/css/jobs.css">
</head>
<body>
<div class="comshowtop">
  <div class="topbg">
    <div class="return js-back for-event"></div>
    <if condition="$info['preview'] eq 0">
    <div class="attention font14 <eq name="info['focus']" value="1">for_cancel<else /></eq>"><eq name="info['focus']" value="1">取消关注<else />关注</eq></div>
    </if>
    <div class="logobox"><img src="{$info['logo']}"></div>
  </div>


  <div class="com">
  	<div class="cname font16">{$info['companyname']}
    <if condition="$info['audit'] eq 1"><img src="../public/images/120.png" title="认证企业"></if>
    <if condition="$info['setmeal_id'] gt 1"><img src="../public/images/121.png" title="{$info.setmeal_name}"></if>
    <if condition="$info['famous'] eq 1"><img src="../public/images/122.png" title="诚聘通企业"></div></if>
    <if condition="$info['report'] eq 1"><img src="../public/images/291.png" title="实地认证企业"></if>
    <div class="txt font14">{$info['nature_cn']} | {$info['scale_cn']} | {$info['district_cn']}</div>
  </div>
</div>


<div class="split-block"></div>
<div class="comshowpor">
<div class="eattitle list_height">
  公司名片
  <div id="J_reply" class="qs-btn qs-btn-blue qs-btn-inline apply_jobs reply">咨询</div>
</div>

<div class="txt substring"><span>规模</span>{$info['scale_cn']}</div>
<div class="txt substring"><span>行业</span>{$info['trade_cn']}</div>
<if condition="$info['website']">
<div class="txt substring"><span>网址</span>{$info['website_']}</div>
</if>
<div class="txt substring"><span>地址</span>{$info['address']}</div>
<if condition="$info['report'] eq 1">
<div class="report font12" onclick="javascript:location.href='{:url_rewrite('QS_company_report',array('id'=>$info['id']))}'">该企业已通过实地认证，点击查看认证报告>></div>
</if>
</div>

<if condition="$info['tag_arr']">
<div class="split-block"></div>
<div class="comshowtag font13">
<div class="eattitle list_height">公司福利</div>
  <div class="tagul">
  <volist name="info['tag_arr']" id="vo">
    <div class="tagli substring">{$vo}</div>
  </volist>
	<div class="clear"></div>
  </div>
</div>
</if>
<div class="split-block"></div>

<div class="comshowdes">
  <div class="eattitle list_height">公司简介</div>
  <div class="txt desc">{:nl2br($info['company_profile'])}</div>
  <div class="more">
  	<div class="showbtn font12 ">展开信息</div>
  	<!--<div class="showbtn font12 topbtn">收起信息</div> -->
  </div>
</div>
<if condition="$info['img']">
<div class="split-block"></div>
<div class="comshowimg">
  <div class="eattitle list_height">企业风采</div>
  <div class="scrollbox">
    <volist name="info['img']" id="vo">
    <div class="imgbox"><img src="{$vo['img']}"></div>
    </volist>
  </div>
    <div class="clear"></div>
</div>
</if>

<div class="split-block"></div>
<div class="comshowcon">
  <div class="eattitle list_height">
  联系方式
  <if condition="$info['hide']">
    <div class="ritle font12 J_check_truenum">点击查看</div>
    </if>
  </div>
  <if condition="$info['landline_tel']">
  <div class="tel">{$info['landline_tel']}</div>
  </if>
  <if condition="$info['telephone']">
  <div class="mob">{$info['telephone']} ({$info['contact']})</div>
  </if>
  <div class="email">{$info['email']}</div>
  <div class="font12" style="padding-left: 0.7rem;padding-top: 0.3rem;"><if condition="C('qscms_apply_jobs_contact')">
    (企业已设置投递简历才能查看联系方式)
    <else />
    (联系我时，请说是在{:C('qscms_site_name')}上看到的)
    </if></div>
  </if>
  <div class="map link_blue">{$info['address']} <if condition="$info['map_x'] gt 0 && $info['map_y'] gt 0"><a class="show-map" href="#map">[地图]</a></if></div>
  <if condition="$info['famous'] eq 1">
  <div class="tip font12">该企业已加入诚聘通会员，可放心求职</div>
  <else />
   <div class="tip font12">面试过程中，遇到用人单位收取费用请提高警惕！</div>
  </if>
  </if>
</div>

<qscms:jobs_list 列表名="jobs" 会员UID="$info['uid']" 显示数目="100"/>
 <if condition="$jobs['list']">
<div class="split-block"></div>
<div class="comshowrec">
  <div class="eattitle list_height">
  该企业正在招聘
  </div>
 <volist name="jobs['list']" id="vo">
  <div class="jobslist" onclick="javascript:location.href='{$vo.jobs_url}'">
    <div class="jname font15 link_gray6 substring"><a href="{$vo.jobs_url}">{$vo['jobs_name']}</a></div>
	<div class="cname font12">{$vo['district_cn']} | {$vo['education_cn']} | {$vo['experience_cn']}</div>
	<div class="wage font13">{$vo['wage_cn']}</div>
	<div class="time font12">{$vo['refreshtime_cn']}</div>
  </div>
  </volist>
</div>
</if>
<div class="split-block"></div>
<script id="tpl-map" type="text/html">
    <!--地图-->
    <div class="headernavfixed">
        <div class="headernav font18"><div class="title">企业位置<div class="return js-back"></div></div></div>
    </div>
    <div class="com-map">
        <div class="map" id="container"></div>
    </div>
    <div class="split-block"></div>
    <div class="btn-spacing">
        <div id="mapBtn" class="qs-btn qs-btn-blue font18" title="返回">返回</div>
    </div>
</script>
<div style="height:60px"></div>
<include file="public_qichen:footer_geren_2" />
        <script src="../public/js/fastclick.js"></script>
<script>
    window.addEventListener( "load", function() {
        FastClick.attach(document.body);
    }, false );
</script>
<script src="../public/js/QSpopout.js"></script>
<script src="../public/js/QSfilter.js"></script>
<script src="../public/js/zepto.hwSlider.js"></script>
<script src="../public/js/scrollTo.js"></script>
<script src="../public/js/RongIMLib-2.2.8.min.js"></script>
<script src="../public/js/qs.action.js"></script>
<script src="../public/js/qs.select.js"></script>
<script src="../public/js/dialog.js"></script>
<script src="https://static.geetest.com/static/tools/gt.js"></script>
<if condition="$rong_state eq 1">
<script src="../public/js/rong_main.js"></script>
</if>
<script>
    if (!$('.foot_pub_box_list li').length) {
        $('#JFootPub').remove();
        $('.fix-footNav').addClass('n4');
    }
    // 锁定屏幕
    function lockTouchMove(){
        //document.body.addEventListener('touchmove', handler, { passive: false })
        $("body").bind("touchmove",function(event){event.preventDefault()});
    }

    // 解锁屏幕
    function unLockTouchMove(){
        //document.body.removeEventListener('touchmove', handler, { passive: false })
        $("body").unbind("touchmove");
    }
    // 服务
    function closeFootPub() {
        $('.JFootPubNav').removeClass('slideInUp animated').addClass('slideOutDown animated'); unLockTouchMove();
    }
    $('#JFootPub').off().on('click', function() {
        lockTouchMove();
        $('.JFootPubNav').removeClass('slideOutDown animated').addClass('slideInUp animated');
        // 关闭
        $('#JFootPubClose').off().on('click', function() { closeFootPub(); });
    });
    $('a[href]').click(function() {
        var f = $(this).attr('href');
        var reg = /\#(\w+)/;
        if (reg.test(f)) {
            if (!$(this).data('nm')) {
                return !1;
            }
        }
    });
    $(".js-back").on('click',function(){
        /*if (history.length == 1){
            window.location.href = '{:U("index/index")}';
        } else {
            history.back();
        }*/
        history.back();
    });
    /**
     * 监听鼠标
     */
    if ('ontouchstart' in window) {
        $.EVENT_START = 'touchstart';
        $.EVENT_END = 'touchend';
    } else {
        $.EVENT_START = 'mousedown';
        $.EVENT_END = 'mouseup';
    }
    $('.plist-txt, .qs-btn, .for-event').on($.EVENT_START, function() {
        $(this).addClass('eventactive');
        /*if($(this).find('input[type="text"]').length) {
            $(this).find('input[type="text"]').focus();
        }*/
    });
    $('.plist-txt, .qs-btn, .for-event').on($.EVENT_END, function() {
        $(this).removeClass('eventactive');
    });
    $('.plist-txt, .qs-btn, .for-event').on('touchcancel', function() {
        $(this).removeClass('eventactive');
    });
    $('.logout').on('click', function() {
        forCloseNav();
        $(document).dialog({
            type: 'confirm',
            content: '确定退出吗？',
            onClickConfirmBtn: function() {
                window.location.href = "{:U('Members/logout')}";
            }
        });
    });
    /**
     * 返回顶部
     */
    var global = {
        h: $(window).height(),
        st: $(window).scrollTop(),
        backTop: function() {
            global.st > (global.h * 0.5) ? $("#backtop").show() : $("#backtop").hide();
        }
    };
    /**
     * Notice 提醒公用方法
     * @param infoText 提示文字
     */
    function qsNotice(infoText) {
        $(document).dialog({
            type : 'notice',
            infoText: infoText,
            autoClose: 1500,
            position: 'center',
            dialogClass: 'dialog_toast'
        });
    }
    // 定义Toast图片路径
    var loadingImg = '../public/images/dialog/loading.gif',
        successImg = '../public/images/dialog/success.png',
        failImg = '../public/images/dialog/fail.png',
        warningImg = '../public/images/dialog/warning.png';
    /**
     * 正在加载中
     * @param infoText 内容
     */
    function qsToasting() {
        var infoContent = arguments[0] ? arguments[0] : '';
        var closeTime = arguments[1] === 0 ? arguments[1] : 1500;
        var $cuToasting = $(document).dialog({
            type : 'toast',
            infoIcon: loadingImg,
            infoText: infoContent,
            autoClose: closeTime
        });
        return $cuToasting;
    }
    /**
     * Toast 类型通知 用于需要反馈结果
     * @param msg 反馈内容
     * @param type 反馈类型 可以不传参数有默认值 0->失败 1->成功
     * @param obj 正在加载对象 用于更新Toast
     */
    function qsToast(msg, type, obj) {
        type = arguments[1] ? arguments[1] : 2;
        var icons = [failImg, successImg, warningImg];
        var setting = {
            type : 'toast',
            infoText: msg,
            infoIcon: icons[type],
            autoClose: 1500,
            dialogClass: 'dialog_toast'
        };
        if (obj){
            obj.update(setting);
        } else {
            return $(document).dialog(setting);
        }
    }
    // 锁定屏幕
    function lock_touchmove(){
        $("body").bind("touchmove",function(event){event.preventDefault();});
    }
    // 解锁屏幕
    function un_lock_touchmove(){
        $("body").unbind("touchmove");
    }
    // 弹出框登录
    function logDialog() {
        // 是否需要刷新页面
        var isRefresh = arguments[0] === 0 ? arguments[0] : 1;
        // 页面跳转链接
        var urlValue = arguments[1] ? arguments[1] : '';
        if(qscms.is_login > 0 && urlValue){
            window.location.href = urlValue;
            return !1;
        }
        var utype = arguments[2] ? arguments[2] : 0;
        // 正在加载
        var $logLoad = qsToasting('', 0);
        var loginUrl = "{:U('AjaxCommon/ajax_login')}";
        $.getJSON(loginUrl, {refresh: isRefresh, url: urlValue, utype:utype}, function(result){
            $logLoad.close();
            if(result.status==1){
                var $logPop = new QSpopout('亲，验证一下手机吧');
                $logPop.setContent(result.data);
                $('.qs-popout-ft').remove();
                $('.qs-popout-bd').addClass('no-pd');
                $logPop.show();
                // 关闭
                $('.closePopout').on('click', function() {
                    $('#popout').fadeOut(200);
                    $('#popout').remove();
                });
            } else {
                qsToast(result.msg, '', '');
            }
        });
    }
    // 如果文档高度不大于窗口高度，数据较少，删除页面中的无数据提醒
    function removeDropLoadDown() {
        var doc = document;
        var $doc = $(doc);
        var $dropDownEle = $('.dropload-down');
        var scrollContentHeight = $doc.height();
        var scrollWindowHeight = doc.documentElement.clientHeight;
        var threshold = Math.floor($dropDownEle.height()*1/3);
        if((scrollContentHeight - threshold) <= scrollWindowHeight){
            $dropDownEle.remove();
        }
    }
    //判断是不是iPhoneX，适配iPhoneX底部遮挡问题
    if (funJudgeX()) {
        $('.fix-footNav').addClass('iPhoneX');
        $('body').addClass('iPhoneX');
    }
</script>
<div class="qs-hidden">{:htmlspecialchars_decode(C('qscms_statistics'))}</div>
<script src="../public/js/popWin.js"></script>
<script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak={:C('qscms_map_ak')}"></script>
<script type="text/javascript" charset="utf-8" src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script src="../public/js/imageScrool.js"></script>
<script type="text/javascript">
      var mapTemp = $('#tpl-map').html();
      $(".show-map").on('click', function() {
          var $this = $(this);
          popWin.init({
              from:"right",
              html:mapTemp,
              handle:function(a){
                var map = new BMap.Map("container");
                var point = new BMap.Point("{$info['map_x']}","{$info['map_y']}");  // 创建点坐标
                map.centerAndZoom(point, "{$info['map_zoom']}");
                var qs_marker = new BMap.Marker(point);        // 创建标注
                map.addOverlay(qs_marker);
                map.setCenter(point);
                map.addControl(new BMap.NavigationControl());//添加鱼骨
                map.enableScrollWheelZoom();//启用滚轮放大缩小，默认禁用。
                $('#mapBtn').on('click',function(){
                    a.close();
                });
              }
          })
      });
  (function(){
  /*
      注意：$.mggScrollImg返回的scrollImg对象上有
              next，prev，go三个方法，可以实现外部对滚动索引的控制。
      如：scrollImg.next();//会切换到下一张图片
          scrollImg.go(0);//会切换到第一张图片
  */
  var scrollImg = $.mggScrollImg('.scrollbox',{
          loop : true,//循环切换
          auto : true//自动切换
      });
  })()
  $.getJSON("{:U('ajaxCommon/company_statistics_add')}",{comid:"{$info['id']}"});
  var isVisitor = "{:C('visitor.uid')}";
  var utype = "{:C('visitor.utype')}";
  $('.more').on('click',function(){
    var prev = $(this).prev();
    var child = $(this).children('.showbtn');
    if(prev.hasClass('desc')){
      prev.removeClass('desc');
      child.addClass('topbtn');
      child.html('收起信息');
    }else{
      prev.addClass('desc');
      child.removeClass('topbtn');
      child.html('展开信息');
    }
  });
      // 关注
      $(".attention").on('click', function() {
          var url = "{:U('ajaxPersonal/company_focus')}";
          var company_id = "{$info['id']}";
          var thisObj = $(this);
          if ((qscms.is_login > 0)) {
              if (utype != 2) {
                  $(document).dialog({
                    titleText: '提示',
                    type : 'confirm',
                    buttonTextConfirm:'切换',
                    content: '您当前为“企业帐号”，本次操作需为“个人帐号”，是否切换为“个人帐号”？',
                    onClickConfirmBtn: function() {
                        $.getJSON("{:U('Members/switch_utype')}",{utype:2},function(result){
                            if(result.status==1){
                                qsToast(result.msg, 1, '');
                                setTimeout(function(){
                                    window.location.reload();
                                },2000);
                            } else {
                                qsToast(result.msg, 0, '');
                                return false;
                            }
                        });
                    }
                });
                return false;
              }
              var $cuLoad = qsToasting('', 0);
              $.getJSON(url, {
                  company_id: company_id
              }, function(result) {
                  if (result.status == 1) {
                      $cuLoad.close();
                      qsToast(result.msg, 1, '');
                      thisObj.html(result.data.html).toggleClass('for_cancel');
                  } else if (result.dialog) {
                      $cuLoad.close();
                      // 登录
                      logDialog('','',2);
                  } else {
                      $cuLoad.close();
                      qsToast(result.msg, '', '');
                      return false;
                  }
              });
          } else {
              logDialog('','',2);
          }
      });
    $('.J_check_truenum').on('click',function(){
      if(isVisitor > 0) {
        if(utype == 1){
          $(document).dialog({
              titleText: '提示',
              type : 'confirm',
              buttonTextConfirm:'切换',
              content: '您当前为“企业帐号”，本次操作需为“个人帐号”，是否切换为“个人帐号”？',
              onClickConfirmBtn: function() {
                  $.getJSON("{:U('Members/switch_utype')}",{utype:2},function(result){
                      if(result.status==1){
                          qsToast(result.msg, 1, '');
                          setTimeout(function(){
                              window.location.reload();
                          },2000);
                      } else {
                          qsToast(result.msg, 0, '');
                          return false;
                      }
                  });
              }
          });
          return false;
        } else {
          qsToast('请先创建一份简历');
          window.location.href="{:U('personal/resume_add')}";
          return false;
        }
      }else{
          window.location.href="{:U('members/login')}";
          return false;
      }
    });
    $('#J_reply').on('click',function(){
      if(!isVisitor){
        window.location.href="{:U('members/login')}";
        return false;
      }
      if(utype != 2){
        $(document).dialog({
          titleText: '提示',
          type : 'confirm',
          buttonTextConfirm:'切换',
          content: '您当前为“企业帐号”，本次操作需为“个人帐号”，是否切换为“个人帐号”？',
          onClickConfirmBtn: function() {
              $.getJSON("{:U('Members/switch_utype')}",{utype:2},function(result){
                  if(result.status==1){
                      qsToast(result.msg, 1, '');
                      setTimeout(function(){
                          window.location.reload();
                      },2000);
                  } else {
                      qsToast(result.msg, 0, '');
                      return false;
                  }
              });
          }
      });
      return false;
      }
      // 判断用户是否有简历
        if ('{$visitor_resume_id}' > 0) {
            window.location.href="{:U('personal/pms_consult_show',array('uid'=>$info['uid']))}";
        } else {
            qsToast('请先填写个人简历基本信息！', 2, '');
        }

    });
    wx.config({
    // debug: true,
    appId: '{$signPackage.appId}',
    timestamp: '{$signPackage.timestamp}',
    nonceStr: '{$signPackage.nonceStr}',
    signature: '{$signPackage.signature}',
    jsApiList: [
      // 所有要调用的 API 都要加到这个列表中
      "onMenuShareTimeline",
      "onMenuShareAppMessage",
      "onMenuShareQQ",
      "onMenuShareWeibo"
    ]
  });
  wx.ready(function ()
  {
      var linkUrl = "{:build_mobile_url(array('c'=>'Jobs','a'=>'comshow','params'=>'id='.$info['id']))}";//放链接
      var title = "{$info['companyname']}真棒,招个人都搞的这么轰动,下血本啊,小伙伴们快来看看吧。";
      var desc = "我司正在招聘人才，待遇福利优厚，欢迎各路人才，快来看看吧。";
      var imgUrl="{$info['logo']}";//图片链接

      wx.onMenuShareTimeline({
          title: title, // 分享标题
          desc: desc, // 分享描述
          link: linkUrl, // 分享链接
          imgUrl: imgUrl, // 分享图标
          success: function () {
          // 用户确认分享后执行的回调函数
          },
          cancel: function () {
              // 用户取消分享后执行的回调函数
          }
      });
      wx.onMenuShareAppMessage({
          title: title, // 分享标题
          desc: desc, // 分享描述
          link: linkUrl, // 分享链接
          imgUrl: imgUrl, // 分享图标
          type: '', // 分享类型,music、video或link，不填默认为link
          dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
                    success: function () {
          // 用户确认分享后执行的回调函数
          },
          cancel: function () {
              // 用户取消分享后执行的回调函数
          }
      });
      wx.onMenuShareQQ({
          title: title, // 分享标题
          desc: desc, // 分享描述
          link: linkUrl, // 分享链接
          imgUrl: imgUrl, // 分享图标
                    success: function () {
          // 用户确认分享后执行的回调函数
          },
          cancel: function () {
              // 用户取消分享后执行的回调函数
          }
      });
      wx.onMenuShareWeibo({
          title: title, // 分享标题
          desc: desc, // 分享描述
          link: linkUrl, // 分享链接
          imgUrl: imgUrl, // 分享图标
                    success: function () {
          // 用户确认分享后执行的回调函数
          },
          cancel: function () {
              // 用户取消分享后执行的回调函数
          }
      });
  });
</script>
</body>
</html>