<include file="Admin@default/public/header" />

<div class="seltpye_y">
    <div class="tit">审核状态</div>
    <div class="ct">
        <div class="txt <neq name='Think.get.audit' value=''>select</neq>">{$Think.get.audit_cn|default="不限"}</div>
    </div>
    <div class="downlist">
        <li url="{:P(array('audit'=>'','audit_cn'=>'不限'))}">不限</li>
        <li url="{:P(array('audit'=>'0','audit_cn'=>'等待审核'))}">等待审核<if condition="$count[0] gt 0"><!--<span style="color:#FF6600">({$count[0]})</span>--></if></li>
        <li url="{:P(array('audit'=>'1','audit_cn'=>'审核通过'))}">审核通过<!--<span>({$count[1]})</span>--></li>
        <li url="{:P(array('audit'=>'2','audit_cn'=>'审核未通过'))}" title="审核未通过" >审核未通过<!--<span>({$count[2]})</span>--></li>
    </div>
</div>
<div class="seltpye_y">
    <div class="tit">添加时间</div>
    <div class="ct">
        <div class="txt <notempty name='Think.get.addsettr'>select</notempty>">{$Think.get.addsettr_cn|default="不限"}</div>
    </div>
    <div class="downlist">
        <li url="{:P(array('addsettr'=>'','addsettr_cn'=>'不限'))}">不限</li>
        <li url="{:P(array('addsettr'=>'3','addsettr_cn'=>'三天内'))}">三天内</li>
        <li url="{:P(array('addsettr'=>'7','addsettr_cn'=>'一周内'))}">一周内</li>
        <li url="{:P(array('addsettr'=>'30','addsettr_cn'=>'一月内'))}">一月内</li>
    </div>
</div>
<div class="seltpye_y">
    <div class="tit">刷新时间</div>
    <div class="ct">
        <div class="txt <notempty name='Think.get.settr'>select</notempty>">{$Think.get.settr_cn|default="不限"}</div>
    </div>
    <div class="downlist">
        <li url="{:P(array('settr'=>'','settr_cn'=>'不限'))}">不限</li>
        <li url="{:P(array('settr'=>'3','settr_cn'=>'三天内'))}">三天内</li>
        <li url="{:P(array('settr'=>'7','settr_cn'=>'一周内'))}">一周内</li>
        <li url="{:P(array('settr'=>'30','settr_cn'=>'一月内'))}">一月内</li>
    </div>
</div>
<div class="seltpye_y">
    <div class="tit">排序方式</div>
    <div class="ct">
        <div class="txt <if condition="($Think.get.orderby neq '') AND ($Think.get.orderby neq 'addtime')">select</if>">{$Think.get.orderby_cn|default="发布时间"}</div>
    </div>
    <div class="downlist">
        <li url="{:P(array('orderby'=>'addtime','orderby_cn'=>'发布时间'))}">发布时间</li>
        <li url="{:P(array('orderby'=>'refreshtime','orderby_cn'=>'刷新时间'))}">刷新时间</li>
    </div>
</div>
<div class="clear"></div>

<form id="form1" name="form1" method="post" action="{:U('set_audit')}">
    <div class="list_th">
        <div class="td" style=" width:23%;">
            <label id="chkAll" class="left_padding">
                <input type="checkbox" name="chkAll" id="chk" title="全选/反选"/>兼职名称
            </label>
        </div>
        <div class="td" style=" width:10%;">兼职类型</div>
        <div class="td" style=" width:10%;">发布人</div>
        <div class="td" style=" width:10%;">手机号</div>
        <div class="td center" style=" width:10%;">审核状态</div>
        <div class="td center" style=" width:8%;">发布时间</div>
        <div class="td center" style=" width:8%;">刷新时间</div>
        <div class="td center" style=" width:8%;">报名/浏览</div>
        <div class="td" style=" width:13%;">操作</div>
        <div class="clear"></div>
    </div>

    <volist name="list" id="vo">
        <div class="list_tr link_black">
            <div class="td" style=" width:23%;">
                <div class="left_padding striking">
                    <input name="id[]" type="checkbox" id="id" value="{$vo['id']}"/>{$vo['jobs_name']}
                    <!--<a href="{$vo['jobs_url']}" target="_blank">{$vo['jobs_name']}</a>-->
                    <!--<span class="view jobs_log" title="职位日志" parameter="id={$vo['id']}">&nbsp;&nbsp;&nbsp;</span>-->
                </div>
            </div>
            <div class="td" style=" width:10%;">{$vo['category_cn']}</div>
            <div class="td" style=" width:10%;">{$vo['contact']}</div>
            <div class="td" style=" width:10%;">{$vo['mobile']}</div>
            <div class="td center" style=" width:10%;">
                <if condition="$vo['audit'] eq 1">
                    审核通过
                    <elseif condition="$vo['audit'] eq 2"/>
                    <span style="color:#FF0000">审核未通过</span>
                    <elseif condition="$vo['audit'] eq 0"/>
                    <span style="color:#FF6600">等待审核</span>
                </if>
                <!--<span class="view audit_log" title="查看日志" parameter="type=jobs_id&id={$vo['id']}">&nbsp;&nbsp;&nbsp;</span>-->
            </div>
            <div class="td center" style=" width:8%;">{:admin_date($vo['addtime'])}</div>
            <div class="td center" style=" width:8%;">{:admin_date($vo['refreshtime'])}</div>
            <div class="td center" style=" width:8%;">{$vo['apply_num']} / {$vo['click']}</div>
            <div class="td edit" style=" width:13%;">
                <a href="{:U('receive',array('id'=>$vo['id']))}">收到的报名</a>
                <a href="{:U('edit_jobs',array('id'=>$vo['id']))}">编辑</a>
                <a href="{:U('del_jobs',array('id'=>$vo['id']))}" onClick="return confirm('你确定要删除该兼职吗？')" class="gray">删除</a>
            </div>
            <div class="clear"></div>
        </div>
    </volist>
</form>

<empty name="list">
    <div class="list_empty">没有任何信息！</div>
</empty>

<div class="list_foot">
    <div class="btnbox">
        <input type="button" class="admin_submit" id="ButAdd" value="添加" onclick="window.location.href='{:U('add_jobs')}'"/>
        <input type="button" class="admin_submit" id="ButAudit" value="审核"/>
        <input type="button" class="admin_submit" id="ButRefresh" value="刷新"/>
        <input type="button" class="admin_submit" id="ButDel" value="删除"/>
    </div>

    <div class="footso">
        <form action="?" method="get">
            <div class="sobox">
                <input type="hidden" name="m" value="{:MODULE_NAME}">
                <input type="hidden" name="c" value="{:CONTROLLER_NAME}">
                <input type="hidden" name="a" value="{:ACTION_NAME}">
                <input name="key" type="text" class="sinput" value="{$Think.get.key}"/>
                <input name="key_type" id="J_key_type_id" type="hidden" value="{$Think.get.key_type|default='1'}" />
                <input name="key_type_cn" id="J_key_type_cn" type="hidden" value="{$Think.get.key_type_cn|default='兼职名'}"/>
                <input name="" type="submit" value="" class="sobtn"/>
                <div class="sotype" id="J_key_click">{$Think.get.key_type_cn|default='职位名'}</div>
                <div class="mlist" id="J_mlist">
                    <ul>
                        <li id="1" title="兼职名">兼职名</li>
                        <li id="2" title="发布人">发布人</li>
                        <li id="3" title="手机号">手机号</li>
                        <li id="4" title="兼职ID">兼职ID</li>
                    </ul>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="pages">{$page}</div>

</div>
<include file="Admin@default/public/footer" />

</body>
<script type="text/javascript">
    $(document).ready(function () {
        //职位日志
        $(".jobs_log").click(function () {
            var qsDialog = $(this).dialog({
                title: '职位日志',
                loading: true,
                footer : false
            });
            var param = $(this).attr('parameter');
            var url = "{:U('Ajax/jobs_log')}&" + param;
            $.getJSON(url, function (result) {
                qsDialog.setContent(result.data);
            });
        });
        //职位审核日志
        $(".audit_log").click(function () {
            var qsDialog = $(this).dialog({
                title: '审核日志',
                loading: true,
                footer : false
            });
            var param = $(this).attr('parameter');
            var url = "{:U('Ajax/audit_log')}&" + param;
            $.getJSON(url, function (result) {
                qsDialog.setContent(result.data);
            });
        });
        //审核职位
        $("#ButAudit").click(function () {
            var data = $("form[name=form1]").serialize();
            if(data.length == 0){
                disapperTooltip('remind','请选择兼职！');
            } else {
                var qsDialog = $(this).dialog({
                    title: '审核兼职',
                    loading: true,
                    footer : false
                });
                var url = "{:U('set_audit')}";
                $.post(url, data, function (result) {
                    if(result.status == 1){
                        qsDialog.setContent(result.data);
                    } else {
                        qsDialog.hide();
                        disapperTooltip('remind',result.msg);
                    }
                });
            }
        });
        //点击批量删除
        $("#ButDel").click(function () {
            if (confirm('你确定要删除吗？')) {
                $("form[name=form1]").attr("action", "{:U('del_jobs')}");
                $("form[name=form1]").submit();
            }
        });
        //点击批量刷新
        $("#ButRefresh").click(function () {
            $("form[name=form1]").attr("action", "{:U('refresh')}");
            $("form[name=form1]").submit();
        });
    });
</script>
</html>