<include file="Admin@default/public/header" />
<div class="toptip">
    <p style="font-size: 14px;">
        兼职名称：<span class="font_green">{$job.jobs_name}</span>，兼职类型：<span class="font_green">{$job.category_cn}</span>
        ，发布人：<span class="font_green">{$job.contact}</span>，手机号：<span class="font_green">{$job.mobile}</span>
        ，薪资待遇：<span class="font_green">{$job.wage}元/{$job.wage_type_cn}（{$job['settlement_cn']}）</span>
    </p>
    <p style="font-size: 14px;">
        基本要求：<span class="font_green"><if condition="$info.sex eq 0">性别不限<else />{$job.sex_cn}</if> |
        <if condition="$job.identity eq 0">身份不限<else />{$job.identity_cn}</if> |
        <if condition="$job.height eq 0">身高不限<else />{$job.height_cn}</if> |
        <if condition="$job.amount neq 0">招聘{$job.amount}人<else />人数不限</if> |
        <if condition="$job['minage'] && $info['maxage']">{$job['minage']}-{$job['maxage']}<else />年龄不限</if>
        </span>，工作周期：<span class="font_green"><eq name="job['long_period']" value="1">长期招聘<else />{:date('Y.m.d',$job['cycle_starttime'])} ~ {:date('Y.m.d',$job['cycle_endtime'])}</eq></span>
        ，工作地区：<span class="font_green">{$job.district_cn}</span>，详细地址：<span class="font_green">{$job.address}</span>
    </p>
</div>

<form id="form1" name="form1" method="post" action="{:U('del_receive')}">
    <input type="hidden" name="pid" value="{$pid}"/>
    <div class="list_th">
        <div class="td" style=" width:20%;">
            <label id="chkAll" class="left_padding">
                <input type="checkbox" name="chkAll" id="chk" title="全选/反选"/>姓名
            </label>
        </div>
        <div class="td center" style=" width:15%;">性别</div>
        <div class="td center" style=" width:15%;">年龄</div>
        <div class="td center" style=" width:15%;">身份类型</div>
        <div class="td center" style=" width:15%;">手机号</div>
        <div class="td center" style=" width:15%;">报名时间</div>
        <div class="td" style=" width:5%;">操作</div>
        <div class="clear"></div>
    </div>
    <volist name="list" id="vo">
        <div class="list_tr link_black">
            <div class="td" style=" width:20%;">
                <div class="left_padding striking link_blue">
                    <input name="id[]" type="checkbox" id="id" value="{$vo['id']}"/>{$vo['realname']|default='-'}
                </div>
            </div>
            <div class="td center" style=" width:15%;">{$vo['sex_cn']|default='-'}</div>
            <div class="td center" style=" width:15%;">{:intval(date('Y')-$vo['birthdate'])}岁</div>
            <div class="td center" style=" width:15%;">{$vo['identity_cn']|default='-'}</div>
            <div class="td center" style=" width:15%;">{$vo.mobile|default='-'}</div>
            <div class="td center" style=" width:15%;">{:admin_date($vo['addtime'])}</div>
            <div class="td edit" style=" width:5%;">
                <a href="{:U('del_receive',array('id'=>$vo['id'],'pid'=>$pid))}" class="gray">删除</a>
            </div>
            <div class="clear"></div>
        </div>
    </volist>
</form>

<empty name="list">
    <div class="list_empty">没有任何信息！</div>
</empty>

<div class="list_foot">
    <div class="btnbox">
        <input type="button" class="admin_submit" id="ButDel" value="删除"/>
        <input type="button" class="admin_submit" value="返回" onclick="window.location='{:U('Parttime/Admin/index')}'"/>
    </div>

    <div class="footso"></div>
</div>
<div class="pages">{$page}</div>

</div>
<include file="Admin@default/public/footer" />

</body>
<script type="text/javascript">
    $(document).ready(function () {
        //点击批量删除
        $("#ButDel").click(function () {
            $("form[name=form1]").submit();
        });
    });
</script>
</html>