/*LOGO通栏*/
.index_head{margin:0 auto; width:1200px;}
.index_head .logobox{ width:260px; float:left; padding-top:20px; overflow:hidden}
.index_head .mall{float:left; width:200px; padding-left:30px; height:30px; margin-top:40px; border-left:1px #CCCCCC solid; font-size:22px; color:#FF6600}
.index_head .sobox{ width:589px; float: left; padding-top:40px;}
.index_head .sobox .inputbg{ width:400px;height:36px;border:2px #29AD61 solid;position:relative; background-color:#FFFFFF;}
.index_head .sobox .inputbg .inoputso{ width:350px; height:34px; line-height:34px; border:0px; padding-left:10px; background-color:#FFFFFF}
.index_head .sobox .inputbg .sobut{ background-color:#29AD61;  font-size:16px; text-align:center; position:absolute; right:-2px ; top:-2px; width:80px; height:38px; line-height:38px; border:0px; color:#FFFFFF; cursor:pointer;}
.index_head .sobox .inputbg .sobut.hover{ background-color:#1D964F }
.index_head .sobox .righttxt{ float:left; padding-left:20px; font-size:12px; margin-top:10px;}
.index_head .sobox .righttxt a.map{ padding-left:36px;background-image:url(../images/109.png); background-repeat:no-repeat; background-position:18px -110px;}
.index_head .mob{ width:120px; float:left; height:112px; padding-top:8px; cursor:pointer}
.index_head .mob img{ width:120px; height:112px; border:0px;}
/*导航*/
.mall_nav{ width:100%;  background-color:#29AD61}
.mall_nav .main{ width:1200px; margin:0 auto; height:50px;}
.mall_nav .main li{ width:120px; height:50px; line-height:50px; float:left; text-align:center; font-size:16px; margin-right:1px;cursor: pointer;}
.mall_nav .main li:hover{ background-color:#1D964F}
.mall_nav .main li.select{background-color:#1D964F}
.mall_nav .main li a{ color:#FFFFFF; text-decoration:none;}
/*积分商城首页*/
.mall_index{ width:1200px; margin:0 auto;  margin-top:25px;}
.mall_index .l{ float:left; width:860px;}
.mall_index .l .banner{ width:835px; height:350px;}
.mall_index .l .dynamic{ width:833px; border:1px #EEEEEE solid;height:50px;line-height:50px;background-color:#FFFFFF; margin-top:25px;}
.mall_index .l .dynamic .dyl{ width:120px; background-color:#FF4401; background-image:url(../images/01.png); background-repeat:no-repeat; background-position:right center; float:left; text-align:center; height:50px; line-height:50px; color:#FFFFFF}
.mall_index .l .dynamic .dyc{ width:560px; float:left; padding-left:20px;}
.mall_index .l .dynamic .dyc a{ padding-left:30px;}
.mall_index .l .dynamic .dyr{ width:100px; float:left;}
.mall_index .l .gbox{width:833px; border:1px #EEEEEE solid;background-color:#FFFFFF; margin-top:25px;}
.mall_index .l .gbox .title{ width: 772px; margin:0 auto; border-bottom:2px #EEEEEE solid; height:50px; line-height:50px; position:relative}
.mall_index .l .gbox .title .txt{ width:85px; font-size:16px;text-align:center;height:50px;line-height:50px; position:absolute; left:0px; top:0px; border-bottom:2px #29AD61 solid;}
.mall_index .l .gbox .title .more{width:85px;height:50px;line-height:50px; position:absolute; right:0px; top:0px; text-align:right}
.mall_index .l .gbox .goods{width:833px; padding-left:15px; padding-top:25px;}
.mall_index .l .gbox .goods .list{ width:265px; float:left; height:320px;}
.mall_index .l .gbox .goods .list .pic{ width:236px; border:1px #EEEEEE solid; margin:0 auto; position:relative}
.mall_index .l .gbox .goods .list .pic:hover{ border-color:#29AD61;-moz-box-shadow: 0px 0px 10px #E4E4E4;/*firefox*/-webkit-box-shadow: 0px 0px 10px #E4E4E4;/*safari或chrome*/
box-shadow:0px 0px 10px #E4E4E4;/*opera或ie9*/ }
.mall_index .l .gbox .goods .list .pic img{width:236px; height:238px;}
.mall_index .l .gbox .goods .list .pic .news{ position:absolute; left:-3px; top:-4px; width:64px; height:64px;background-image:url(../images/02.png); background-repeat:no-repeat;}
.mall_index .l .gbox .goods .list .txt{ padding-top:6px; padding-left:15px;}
.mall_index .l .gbox .goods .list .price{ padding-top:6px; padding-left:15px;color:#FF6600}

.mall_index .r{float:left; width:340px;}
.mall_index .r .sign{ width:338px; border:1px #EEEEEE solid;}
.mall_index .r .sign .topbtn{ height:60px; width:338px; border-bottom:1px  #EEEEEE solid; padding-top:15px; background-color:#FAFAFA}
.mall_index .r .sign .topbtn .btn{ width:135px; height:42px; line-height:42px; font-size:16px; border:1px #FF6600  solid;border-radius:8px; color:#FF6600; cursor:pointer; margin:0 auto; padding-left:53px; background-image:url(../images/03.png); background-repeat:no-repeat; background-position:20px 10px; background-color:#FFFFFF}
.mall_index .r .sign .topbtn .btn:hover{ background-color:#FF6600; color:#FFFFFF;background-position:20px -50px;}
.mall_index .r .sign .txt{ width:308px; height:210px; background-image:url(../images/04.png); background-repeat:no-repeat; background-repeat:0px 0px; margin-top:20px; margin-left:30px;}
.mall_index .r .sign .txt .t{ height:30px; color:#333333; font-size:16px; padding-left:40px; padding-top:3px;}
.mall_index .r .sign .txt li{ height:29px; padding-left:40px; padding-top:3px;}
.mall_index .r .sign .txt li:hover{ background-image:url(../images/05.png); background-position:11px 10px; background-repeat:no-repeat}
.mall_index .r .ad340_190{ width:340px; height:190px; margin-top:25px;}
.mall_index .r .ad340_190 img{ width:340px; height:190px;}

.mall_index .r .gbox{width:338px; border:1px #EEEEEE solid;background-color:#FFFFFF; margin-top:25px;}
.mall_index .r .gbox .title{ width: 290px; margin:0 auto; border-bottom:2px #EEEEEE solid; height:50px; line-height:50px; position:relative}
.mall_index .r .gbox .title .txt{ width:85px; font-size:16px;text-align:center;height:50px;line-height:50px; position:absolute; left:0px; top:0px; border-bottom:2px #29AD61 solid;}
.mall_index .r .gbox .list{ width:290px; border-bottom:1px #EEEEEE solid; margin:0 auto; margin-top:15px; padding-bottom:15px;}
.mall_index .r .gbox .list .glil{ width:100px; float:left;}
.mall_index .r .gbox .list .glil .pic{ width:82px; height:82px; border:1px #EEEEEE solid;}
.mall_index .r .gbox .list .glil .pic img{width:82px; height:82px;}
.mall_index .r .gbox .list .glir{float:left; width:160px;}
.mall_index .r .gbox .list .glir .txt{ width:200px; height:26px;}
.mall_index .r .gbox .list .glir .txt.c{ color:#FF6600}
.mall_index .r .gbox .list .glir .txt .btn{ display:block; width:80px; text-decoration:none; text-align:center; height:24px; line-height:24px; font-size:12px; color:#FFFFFF; background-color:#29AD61;border-radius:24px;}
.mall_index .r .gbox .list .glir .txt .btn:hover{ background-color:#229955}
/*商品列表页*/
.goods_list_top{ width:1198px; border:1px #EEEEEE solid; margin:0 auto;  margin-top:25px; padding-bottom:25px;}
.goods_list_top .lefttit{ width:120px; padding-right:10px; text-align:right; float:left; margin-top:20px;}
.goods_list_top .txt{float:left;width:1000px; margin-top:20px}
.goods_list_top .txt a{ display:block; float:left; text-decoration:none;padding:2px 14px; margin-right:15px; color:#666666; text-decoration:none;border-radius:30px;}
.goods_list_top .txt a:hover{ background-color:#29AD61 ; color:#FFFFFF;}
.goods_list_top .txt a.select{background-color:#29AD61 ; color:#FFFFFF;}
.goods_list_top .subclass{ width:950px; border:1px #29AD61 solid; position:relative; margin-top:15px; padding:20px; margin-left:120px; background-color:#F5FEF9;border-radius:6px;}
.goods_list_top .subclass .arrow{ width:13px; height:8px; background-image:url(../images/06.png); position:absolute; left:115px; top:-8px;}
.goods_list_top .subclass a{ display:block; float:left; text-decoration:none;padding:2px 14px; margin-right:15px; color:#666666; text-decoration:none;border-radius:30px;}
.goods_list_top .subclass a:hover{ background-color:#29AD61 ; color:#FFFFFF;}
.goods_list_top .subclass a.select{background-color:#29AD61 ; color:#FFFFFF;}

.goods_list{width:1198px; border:1px #EEEEEE solid; margin:0 auto;  margin-top:25px; padding-bottom:25px;}
.goods_list .tit{width:1198px; height:50px; border-bottom:2px  #EEEEEE solid; position:relative}
.goods_list .tit .listnav{width:900px; position:absolute; left:0px ; top:0px; padding-left:20px;}
.goods_list .tit .listnav .nli{ width:76px; height:50px; line-height:50px; float:left; padding-left:15px; background-image:url(../images/07.png); background-repeat:no-repeat; background-position:78px  -53px; margin-right:10px;}
.goods_list .tit .listnav .nli:hover a{color:#009966}
.goods_list .tit .listnav .nli.select{ border-bottom:2px #29AD61 solid;background-position:78px  21px;}
.goods_list .tit .listnav .nli.select a{ color:#009966;}
.goods_list .tit .listnav .screen{float:left;height:20px; padding-top:3px; border-left:1px #EEEEEE solid;padding-left:30px; margin-top:12px; margin-left:40px; cursor:pointer}
.goods_list .tit .listnav .screen .radiobox{ margin-top:2px; width:17px; height:17px; float:left;background-position:0px 0px;background-image:url(../images/08.png); background-repeat:no-repeat; cursor:pointer; background-color:#FFFFFF}
.goods_list .tit .listnav .screen:hover .radiobox{background-position:0px -23px;}
.goods_list .tit .listnav .screen.select .radiobox{background-position:0px -23px;}
.goods_list .tit .listnav .screen .radiotxt{ float:left; padding-left:10px;}
.goods_list .lbox{ width:1175px; margin:0 auto;}
.goods_list .lbox .gs{width:235px; float:left; padding-top:20px;}
.goods_list .lbox .gs .main{ width:206px; margin:0 auto; padding:1px;}
.goods_list .lbox .gs .main .pic{ width:204px; height:204px; border:1px #EEEEEE solid}
.goods_list .lbox .gs .main .pic img{ width:204px ;height:204px;}
.goods_list .lbox .gs .main .txt{ height:25px; width:200px; padding-left:3px; padding-top:5px;}
.goods_list .lbox .gs .main .txt.c{ color:#FF6600}
.goods_list .lbox .gs .main:hover{ background-color:#29AD61;-moz-box-shadow: 0px 0px 10px #E4E4E4;/*firefox*/-webkit-box-shadow: 0px 0px 10px #E4E4E4;/*safari或chrome*/
box-shadow:0px 0px 10px #E4E4E4;/*opera或ie9*/}
.goods_list .lbox .gs .main:hover .pic{ border-color:#29AD61}
.goods_list .lbox .gs .main:hover .txt a{ color:#FFFFFF}
.goods_list .lbox .gs .main:hover .txt.c{ color:#FFFFFF}
.goods_page{ width:1200px; margin:0 auto; text-align:center; padding-top:15px; padding-bottom:15px;}

/*排行榜*/
.charts{ width:1200px; margin:0 auto;  margin-top:25px;}
.charts .l{ float:left; width:860px;}
.charts .l .gbox{width:833px; border:1px #EEEEEE solid;background-color:#FFFFFF;}
.charts .l .gbox .title{ width: 772px; margin:0 auto; border-bottom:2px #EEEEEE solid; height:50px; line-height:50px; position:relative}
.charts .l .gbox .title .txt{ width:85px; font-size:16px;text-align:center;height:50px;line-height:50px; position:absolute; left:0px; top:0px; border-bottom:2px #29AD61 solid;}
.charts .l .gbox .cli{ border-bottom:1px #EEEEEE solid; padding-top:20px; padding-bottom:20px;}
.charts .l .gbox .cli .td1{ padding-left:30px; padding-top:5px;width:60px;}
.charts .l .gbox .cli .td1 .number{ width:38px; height:40px; color:#FFFFFF; background-image:url(../images/09.png); background-position:0px -539px; background-repeat:no-repeat; text-align:center; font-size:18px; padding-top:8px; font-family:Arial, Helvetica, sans-serif}
.charts .l .gbox .cli .td1 .number.n1{ background-position:0px 0px;}
.charts .l .gbox .cli .td1 .number.n2{ background-position:0px -191px;}
.charts .l .gbox .cli .td1 .number.n3{ background-position:0px -374px;}
.charts .l .gbox .cli .td2{ width:120px;}
.charts .l .gbox .cli .td2 .pic{ width:90px; height:90px; border:1px #EEEEEE solid}
.charts .l .gbox .cli .td2 .pic img{ width:90px; height:90px;}
.charts .l .gbox .cli .td3{ width:400px; line-height:180%;}
.charts .l .gbox .cli .td3 span{ color:#FF6600}
.charts .l .gbox .cli .td4{ width:200px; padding-top:22px; display: none;}
.charts .l .gbox .cli .td4 a{ display:block; text-decoration:none; width:105px; height:36px; line-height:36px; text-align:center; border:1px #29AD61 solid; background-color:#FFFFFF;border-radius:6px;}
.charts .l .gbox .cli .td4 a:hover{ background-color:#29AD61; color:#FFFFFF}
.charts .l .gbox .cli.hover{ background-color:#F5FEF9;}
.charts .l .gbox .cli.hover .td4{ display:block;}

.charts .r{float:left; width:340px;} 
.charts .r .gbox{width:338px; border:1px #EEEEEE solid;background-color:#FFFFFF;}
.charts .r .gbox .title{ width: 290px; margin:0 auto; border-bottom:2px #EEEEEE solid; height:50px; line-height:50px; position:relative}
.charts .r .gbox .title .txt{ width:85px; font-size:16px;text-align:center;height:50px;line-height:50px; position:absolute; left:0px; top:0px; border-bottom:2px #29AD61 solid;}
.charts .r .gbox .list{ width:290px; border-bottom:1px #EEEEEE solid; margin:0 auto; margin-top:15px; padding-bottom:15px;}
.charts .r .gbox .list .glil{ width:100px; float:left;}
.charts .r .gbox .list .glil .pic{ width:82px; height:82px; border:1px #EEEEEE solid;}
.charts .r .gbox .list .glil .pic img{width:82px; height:82px;}
.charts .r .gbox .list .glir{float:left; width:160px;}
.charts .r .gbox .list .glir .txt{ width:200px; height:26px;}
.charts .r .gbox .list .glir .txt.c{ color:#FF6600}
.charts .r .gbox .list .glir .txt .btn{ display:block; width:80px; text-decoration:none; text-align:center; height:24px; line-height:24px; font-size:12px; color:#FFFFFF; background-color:#29AD61;border-radius:24px;}
.charts .r .gbox .list .glir .txt .btn:hover{ background-color:#229955}
/*商品详细页*/
.gshow_top{width:1198px; margin:0 auto;  margin-top:25px; border:1px #EEEEEE solid;}
.gshow_top .l{ width:340px; float: left; padding-top:30px; padding-left:30px; padding-bottom:30px;}
.gshow_top .l .pic{ width:300px; height:300px; border:1px #EEEEEE solid;}
.gshow_top .l .pic img{width:300px; height:300px;}
.gshow_top .r{ width:823px; float:left;padding-top:30px;}
.gshow_top .r .t{ width:800px; height:50px; font-size:20px;}
.gshow_top .r .gold{ width:780px; height:50px; background-color:#F9F9F9}
.gshow_top .r .gold .gl{ float:left; width:300px; line-height:50px; font-size:20px; color:#FF6600; padding-left:20px;}
.gshow_top .r .gold .gr{float:right; width:300px;line-height:50px; padding-right:20px; text-align:right }
.gshow_top .r .gold .gr span{ color:#FF6600}
.gshow_top .r .txt{ line-height:200%; padding-top:15px;}
.gshow_top .r .txt span{ color:#FF6600}
.gshow_top .r .n{ padding-top:5px;}
.gshow_top .r .n .td1{font-size:14px; width:80px; padding-top:5px;}
.gshow_top .r .n .td2{ width:100px; border:1px #CCCCCC solid; height:30px; text-align:center; line-height:30px; position:relative;}
.gshow_top .r .n .td2 .reduction{ width:30px; height:30px; line-height:30px; position:absolute; left:-1px; top:-1px;border:1px #CCCCCC solid; cursor:pointer; font-size:18px;}
.gshow_top .r .n .td2 .reduction:hover{ color:#000000; background-color:#F9F9F9}
.gshow_top .r .n .td2 .add{ width:30px; height:30px; line-height:30px; position:absolute; right:-1px; top:-1px;border:1px #CCCCCC solid;cursor:pointer; font-size:18px;}
.gshow_top .r .n .td2 .add:hover{ color:#000000; background-color:#F9F9F9}
.gshow_top .r .n .td3{ width:200px;font-size:14px; color:#999999; padding-left:10px; padding-top:5px;}
.gshow_top .r .btn{ width:200px; height:45px; background-color:#FD542D; border:1px #FD542D solid; color:#FFFFFF; margin-top:20px; font-size:16px; cursor:pointer;border-radius:6px;}
.gshow_top .r .btn:hover{ background-color:#FD431C}

.gshow{ width:1200px; margin:0 auto;  margin-top:25px;}
.gshow .l{ float:left; width:860px;}
.gshow .l .gbox{width:833px; border:1px #EEEEEE solid;background-color:#FFFFFF;}
.gshow .l .gbox .title{ width: 833px;border-bottom:1px #EEEEEE solid; height:50px; line-height:50px; background-color:#FAFAFA; position:relative}
.gshow .l .gbox .title .tnav{position:absolute; left:0px; top:0px;}
.gshow .l .gbox .title .tnav .nl{ width:100px;text-align:center;height:50px;line-height:50px; float:left; cursor:pointer;}
.gshow .l .gbox .title .tnav .nl.last{ border-left:1px #EEEEEE solid }
.gshow .l .gbox .title .tnav .nl:hover{ color:#29AD61}
.gshow .l .gbox .title .tnav .nl.select{ background-color:#FFFFFF; color:#29AD61; border-bottom:1px #FFFFFF solid; }
.gshow .l .gbox .title .tnav .nl.last.select{ border-right:1px #EEEEEE solid}
.gshow .l .gbox .info{ padding:20px; line-height:180%;}
.gshow .l .gbox .info.list{ width:790px; display:none}
.gshow .l .gbox .info.list .th1{ width:280px; height:40px; line-height:40px; background-color:#F7F7F7; padding-left:20px;}
.gshow .l .gbox .info.list .th2{ width:190px; text-align:center;height:40px; line-height:40px; background-color:#F7F7F7}
.gshow .l .gbox .info.list .th3{width:250px;height:40px; line-height:40px; background-color:#F7F7F7; text-align:right; padding-right:50px;}
.gshow .l .gbox .info.list .td1{ width:280px; height:40px; line-height:40px;padding-left:20px;}
.gshow .l .gbox .info.list .td2{ width:190px; text-align:center;height:40px; line-height:40px;}
.gshow .l .gbox .info.list .td3{width:280px;height:40px; line-height:40px;text-align:right; padding-right:20px;}
 

.gshow .r{float:left; width:340px;} 
.gshow .r .gbox{width:338px; border:1px #EEEEEE solid;background-color:#FFFFFF;}
.gshow .r .gbox .title{ width: 290px; margin:0 auto; border-bottom:2px #EEEEEE solid; height:50px; line-height:50px; position:relative}
.gshow .r .gbox .title .txt{ width:85px; font-size:16px;text-align:center;height:50px;line-height:50px; position:absolute; left:0px; top:0px; border-bottom:2px #29AD61 solid;}
.gshow .r .gbox .list{ width:290px; border-bottom:1px #EEEEEE solid; margin:0 auto; margin-top:15px; padding-bottom:15px;}
.gshow .r .gbox .list .glil{ width:100px; float:left;}
.gshow .r .gbox .list .glil .pic{ width:82px; height:82px; border:1px #EEEEEE solid;}
.gshow .r .gbox .list .glil .pic img{width:82px; height:82px;}
.gshow .r .gbox .list .glir{float:left; width:160px;}
.gshow .r .gbox .list .glir .txt{ width:200px; height:26px;}
.gshow .r .gbox .list .glir .txt.c{ color:#FF6600}
.gshow .r .gbox .list .glir .txt .btn{ display:block; width:80px; text-decoration:none; text-align:center; height:24px; line-height:24px; font-size:12px; color:#FFFFFF; background-color:#29AD61;border-radius:24px;}
.gshow .r .gbox .list .glir .txt .btn:hover{ background-color:#229955}


/*弹框商品兑换*/
.modal_mall_exchange{width:460px;padding:20px 15px 15px;}
.modal_mall_exchange .mall_exc_head{position:relative;width:460px;height:1px;background:#ededed;margin-bottom:35px;}
.modal_mall_exchange .mall_exc_head.last{margin-top:43px;}
.mall_exc_head .head_txt{position:absolute;top:-8px;left:0;font-size:16px;line-height:16px;color:#29ad61;padding-right:16px;background:#fff;}
.modal_mall_exchange .info_line{margin-bottom:22px;color:#333;font-size:14px;line-height:14px;}
.modal_mall_exchange .info_line.last{margin-bottom:0;}
.modal_mall_exchange .info_line_input{margin-bottom:10px;}
.modal_mall_exchange .info_line_input .info_line_input_left{float:left;width:60px;text-align:right;line-height:41px;}
.modal_mall_exchange .info_line_input .info_line_input_right{float:left;padding-left:15px;}
.modal_mall_exchange .info_line_input .info_line_input_right .info_input{width:343px;height:39px;line-height:39px;border:1px solid #ededed;border-radius:3px;padding-left:10px;}
.modal_mall_exchange .info_line_input .info_line_input_right .info_area{width:343px;padding:10px;height:59px;border:1px solid #ededed;border-radius:3px;padding-left:10px;resize:none;}
.modal_mall_exchange .info_line_input .info_line_input_right .info_input.focus,.modal_mall_exchange .info_line_input .info_line_input_right .info_area.focus{background-color:#ECF9FF;border:1px #33CCFF solid;}
.modal_mall_exchange .btn_group{text-align:center;margin-top:40px;}
.modal_mall_exchange .btn_group .btn_block{width:208px;height:40px;line-height:40px;text-align:center;font-size:18px;color:#ffffff;background:#29ad61;border:0;cursor:pointer;border-radius:3px;display:inline-block;*display:inline;*zoom:1;}
.modal_mall_exchange .btn_group .btn_block:hover{background:#249b56;}
.modal_mall_exchange .errbox{display:none;width:333px;margin-left:74px;height:26px;line-height:26px;color:#CC3300;background-color:#FFD8CE;border:1px #FF9E86 solid;font-size:12px;padding-left:10px;margin-bottom:15px;border-radius:3px;}
