<include file="Admin@default/public/header" />

<div class="seltpye_x">
    <div class="left">可用状态</div>
    <div class="right">
        <a href="{:P(array('status'=>''))}" <eq name='Think.get.status' value=''>class="select"</eq>>不限</a>
        <a href="{:P(array('status'=>'1'))}" <eq name='Think.get.status' value='1'>class="select"</eq>>可用</a>
        <a href="{:P(array('status'=>'2'))}" <eq name='Think.get.status' value='2'>class="select"</eq>>不可用</a>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>

<form id="form1" name="form1" method="post" action="{:U('delete')}">
    <div class="list_th">
        <div class="td" style=" width:50%;">
            <label id="chkAll" class="left_padding">
                <input type="checkbox" name="chkAll" id="chk" title="全选/反选"/>模板名称
            </label>
        </div>
        <div class="td" style=" width:40%;">状态</div>
        <div class="td" style=" width:10%;">操作</div>
        <div class="clear"></div>
    </div>

    <volist name="list" id="vo">
        <div class="list_tr link_black">
            <div class="td" style=" width:50%;">
                <div class="left_padding striking link_blue">
                    <input name="id[]" type="checkbox" id="id" value="{$vo['id']}"/>{$vo['title']}
                </div>
            </div>
            <div class="td" style=" width:40%;">
                <if condition="$vo['status'] eq 1">
                    可用
                    <else />
                    <span style="color: #999999">不可用</span>
                </if>
            </div>
            <div class="td edit" style=" width:10%;">
                <a href="{:U('edit',array('id'=>$vo['id']))}">修改</a>
                <a href="{:U('delete',array('id'=>$vo['id']))}" class="gray" onclick="return confirm('你确定要删除吗？')">删除</a>
            </div>
            <div class="clear"></div>
        </div>
    </volist>
</form>

<empty name="list">
    <div class="list_empty">没有任何信息！</div>
</empty>

<div class="list_foot">
    <div class="btnbox">
        <input type="button" class="admin_submit" id="ButAdd" value="新增" onclick="window.location='{:U('add')}'"/>
        <input type="button" class="admin_submit" id="ButDel" value="删除所选"/>
    </div>

    <div class="footso"></div>
</div>
<div class="pages">{$page}</div>

</div>
<include file="Admin@default/public/footer" />

</body>
<script type="text/javascript">
    $(document).ready(function () {
        //批量删除
        $("#ButDel").click(function () {
            var ids = $("input[name='id[]']:checked");
            if(ids.length == 0){
                disapperTooltip('remind','请选择展位模版！');
            } else {
                if(confirm('确定删除吗？')){
                    $("#form1").submit();
                }
            }
        });
    });
</script>
</html>