<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>每日签到</title>

		<link rel="stylesheet" href="../public_qichen/css/check-in.css">
		<link rel="stylesheet" href="../public_qichen/css/style.css" />

	</head>
	<style>
		.container-fluid {
			background: #faca34;
		}
		
		.footer>div p {
			margin-top: 8px;
		}
	</style>

	<body>
		<div id="wrap">
			<div class="banner2"><img src="../public_qichen/img/banner.jpg" /></div>

			<div id="tabs-body2" class="tabsbox">
				<div class="title1">活动说明</div>
				<p>1.本次活动为启辰人力资源公司专属活动。
					<br/>2.活动期间，启辰人力资源公司客户每天可参与签到领取礼物一次。
					<br/>3.签到送积分，连续签到积分可得更多积分
					<br/>4.完成相应任务可获得积分
					<br/>5.推荐员工入职和新用户注册可获得积分或现金红包。
					<br/>6.所获积分均可兑换现金红包。（1000积分=1元）以此类推。
				</p>
				<br/>
			</div>
			<a href="{:U('sign')}" class="btn4">返回</a>
		</div>
		<!--公共底部-->
		<div style="height: 80px;background: #faca34;"></div>
		<include file="public_qichen:footer_shouye_2"/>
	</body>

</html>