<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta content="招聘" http-equiv="keywords">
		<meta name="description" content="招聘,培训">
		<meta name="format-detection" content="telephone=no">
		<meta name="viewport" content="width=device-width,user-scalable=no, initial-scale=1">
		<meta name="renderer" content="webkit" />
		<title>证明开具</title>
		<!-- css -->
		<link rel="stylesheet" href="../public_qichen/css/select-ceng.css" />

		<link rel="stylesheet" href="../public_qichen/css/style.css" />
		<link rel="stylesheet" href="../public_qichen/css/ep.css" />
		<link rel="stylesheet" href="../public_qichen/css/mui.min.css" />

		<script type="text/javascript" src="../public_qichen/js/mui.min.js"></script>
	</head>
	<style>
		.upload_file li {
			height: 100px;
			margin-top: 5px;
		}
		.a-upload {
			padding: 4px 25px;
			height: 20px;
			line-height: 20px;
			/*position: relative;*/
			/*cursor: pointer;*/
			color: #888;
			background: #fafafa;
			border: 1px solid #ddd;
			border-radius: 4px;
			/*overflow: hidden;*/
			/*display: inline-block;*/
			text-align-all: center;
		}

	</style>

	<body style="height: auto;">
		<!--头部 -->
		<div class="salary-xqall">
			<header class="zy_search_top_box scroll_fix">
				<div class="zy_title_top fix">
					<div class="one" href="javascript:" onclick="history.back();"><img src="../public_qichen/img/back_jt.png"><span>返回</span></div>
					<h1>证明开具</h1>
					<div class="r">
						<a href="{:U('Personal/index')}"><img src="../public_qichen/img/menu_icon04.png"></a>
					</div>
				</div>
			</header>
		</div>

		<div class="baodan_all">

			<!--头部结束-->
			<!--列表-->
			<div class="baodan_list ">
				<form action="" enctype="multipart/form-data" method="post">
					<div class="baodan_list_first mui-input-group">
						<div class="mui-input-row">
							<label>真实姓名</label>
							<input type="text" name="name" placeholder="请填写姓名">
						</div>
						
						<div class="mui-input-row">
							<label>手机号</label>
							<input type="text" name="mobile" placeholder="请填写联系方式">
						</div>
						<div style="height: 20px;background: #F5F5F5;"></div>
						<div class="mui-input-row">
							<label>身份证号</label>
							<input type="text" name="id_card" placeholder="请填写身份证证件号">
						</div>
					</div>

					<div class="baodan_list_content mui-input-group">
						<div class="mui-input-row">
							<label>开具证明类型</label>
							<input class="for-select" name="baodan" type="text" placeholder="请选择" title="开具证明类型" readonly/>
							<span class="mui-icon mui-icon-arrowdown"></span>
							<select class="select-for-baodan">
								<option value="工作证明">工作证明</option>
								<option value="收入证明">收入证明</option>
								<option value="解除劳动合同">解除劳动合同</option>
							</select>
						</div>

					</div>
					<div class="baodan_list_last mui-input-group">
						<div class="mui-input-row">
							<label>收货地址</label>
							<input id="expressArea" type="text" name="address" placeholder="请选择" readonly/>
							<span class="mui-icon mui-icon-arrowdown"></span>
							<!--选择地区弹层-->
							<section id="areaLayer" class="express-area-box">
								<header>
									<h3>选择地区</h3>
									<a id="backUp" class="back" href="javascript:void(0)" title="返回"></a>
									<a id="closeArea" class="close" href="javascript:void(0)" title="关闭"></a>
								</header>
								<article id="areaBox">
									<ul id="areaList" class="area-list"></ul>
								</article>
							</section>
						</div>
						<div class="mui-input-row" id="xiangxidizhi" style="display: none;">
							<label>详细地址</label>
							<input type="text" name="xiangxidizhi" placeholder="请填写您的详细地址">
						</div>
					</div>
					<div style="height: 20px;background: #F5F5F5;"></div>
					<div class="sc-zm">上传证明模板(图片)</div>
					<!-- -->
					<div class="upload_photo">
						<li id="div2">
							<input type="file" class="photo_sc" name="fileAttach[]" />
							<img src="../public_qichen/img/021.png" id="myimage">
						</li>
						<li id="div2">
							<input type="file" class="photo_sc" name="fileAttach[]"/>
							<img src="../public_qichen/img/021.png" id="myimage">
						</li>
						<li id="div2">
							<input type="file" class="photo_sc" name="fileAttach[]"/>
							<img src="../public_qichen/img/021.png" id="myimage">
						</li>
					</div>
					<div class="sc-zm">上传证明模板(文件)</div>
					<div class="upload_file">
						<li id="div2" class="a-upload" >
							<input type='file' name='photo[]'>
						</li>
						<li id="div2" class="a-upload">
							<input type='file'  name='photo[]'>
						</li>
						<li id="div2" class="a-upload">
							<input type='file'  name='photo[]'>
						</li>
					</div>
						<button class="zy_login_btn"><a style="color: #fff;">提交</a></button>
					</div>
				</form>
			</div>

		</div>
		<!--选择弹层-->
		<section id="selectCeng" class="express-area-box">
			<header>
				<h3 id="selectTitle"></h3>
				<a id="closeSelect" class="close" href="javascript:void(0)"></a>
			</header>
			<article id="selectBox">
				<ul id="selectList" class="area-list"></ul>
			</article>
		</section>
		<!--遮罩层-->
		<div id="areaMask" class="mask"></div>
<div style="height: 50px;"></div>
		<include file="public_qichen:footer_fuwu_2"/>
	</body>

</html>
<script type="text/javascript" src="../public_qichen/js/jQuery-v1.1.min.js"></script>
<script type="text/javascript" src="../public_qichen/js/jquery.area.js"></script>
<script>
	//照片更换
	$(document).ready(function() {
		$('#div2').click(function() {
			$('.photo_sc').click();
		})
		$('.photo_sc').change(function() {
			var fileObj = $(this).get(0).files;
			var img_box = $(this).next();
			img_box.attr({
				"src": getObjURL(fileObj[0]),
				"style": "width:100%;height:100px;",
			});
		})
	});

	function getObjURL(file) {
		var url = null;
		if(window.createObjectURL != undefined) {
			url = window.createObjectURL(file);
		} else if(window.URL != undefined) {
			url = window.URL.createObjectURL(file);
		} else if(window.webkitURL != undefined) {
			url = window.webkitURL.createObjectURL(file);
		}
		return url;
	}
</script>
<script type="text/javascript">
	var selectAll = new Object;
	$(function() {
		var forSelect = $('.for-select');
		for(var i = 0; i < forSelect.length; i++) {
			var selOptions = $('.select-for-' + forSelect[i].name)[0].options;
			var objName = forSelect[i].name;
			eval('selectAll.' + objName + ' = new Array');
			for(var o = 0; o < selOptions.length; o++) {
				eval('selectAll.' + objName + '[o] = {"value":selOptions[o].value,"text":selOptions[o].innerText}');
			}
		}

		forSelect.click(function() {
			$("#areaMask").fadeIn();
			$("#selectTitle").text($(this).attr('title'));
			var listObj = eval('selectAll.' + $(this).attr('name'));
			for(var i in listObj) {
				$("#selectList").append("<li onClick='selectIntoBox(\"" + $(this).attr('name') + "\",\"" + listObj[i].text + "\")'>" + listObj[i].text + "</li>");
			}

			$("#selectCeng").animate({
				"bottom": 0
			});
		});

		$("#areaMask,#closeSelect").click(function() {
			clockSelect();
		});

	});

	function clockSelect() {
		$("#areaMask").fadeOut();
		$("#selectCeng").animate({
			"bottom": "-100%"
		});
		$("#selectList").empty();
		intProvince();
	}

	function selectIntoBox(name, value) {
		$('.for-select[name="' + name + '"]').val(value);
		clockSelect();
	}
</script>