<!DOCTYPE html>
<html>
	<head>
		<include file="public:meta" />
		<link rel="stylesheet" href="../public/css/company.css">
	</head>
	<body>
		<include file="public:header" />
        <script>showAndroidTopBack();</script>
		<div class="split-block"></div>
		<volist name="message['list']" id="msg">
			<if condition="$msg['formuid'] eq $visitor['uid']">
				<div class="J_imList pmsshow-right">
					<div class="txt">{$msg.message}
						<div class="times font10">{:date('m-d H:i',$msg['addtime'])}</div>
						<div class="arrow"></div>
					</div>
					<div class="pic">
						<img src="{$ronguser.avatars}">
					</div>
					<div class="clear"></div>
				</div>
			<else/>
				<div class="J_imList pmsshow-left">
					<div class="pic">
						<img src="{$sendUser.avatars}">
					</div>
					<div class="txt">{$msg.message}
						<div class="times font10">{:date('m-d H:i',$msg['addtime'])}</div>
						<div class="arrow"></div>
					</div>
					<div class="clear"></div>
				</div>
			</if>
			<div class="split-block"></div>
		</volist>
		<div id="send" class="pmsreply">
			<div class="replybox">
				<div class="inputbox">
					<input id="J_val" type="text"  placeholder="请输入内容">
				</div>
				<div class="btnbox">
					<div id="J_btn" class="qs-btn qs-btn-medium qs-btn-blue">发送</div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
        <include file="public:footer_js" />
		<script src="../public/js/qscrollTo.js"></script>
        <script type="text/javascript">
        	rongUser = {
				sendUser:{
                	id:"{$sendUser['uid']}",
                	name: "{$sendUser['username']}",
                    avatars: "{$sendUser['avatars']}"
                },
                newTime:"{$message.newTime}"
			}
			rongChangeScrollHeight(0);
		    var p = 2,
		    	is_exe = !1,
        		is_load = {$message.is_load|default=0};
		    $('body').slideUp(function(e){
		        if(!is_load || is_exe) return !1;
		        if ((qscms.is_login > 0)) {
			        is_exe = !0;
			        $.getJSON("{:U('Im/get_message')}",{uid:rongUser.sendUser.id,page:p},function(result){
			            if(result.status == 1){
			                var h = e[0].scrollHeight;
			                $('.J_imList').first().before(result.data.html);
			                e.scrollTop(e[0].scrollHeight-h);
			                if(result.data.is_load){
			                    p++;
			                }else{
			                   is_load = 0; 
			                }
			            } else if (result.dialog) {
	                        // 登录
	                        $cuLoad.close();
	                        logDialog();
	                    }
			            is_exe = !1;
			        });
			    } else {
	                logDialog();
	            }
		    });
        </script>
	</body>
</html>