<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta content="招聘" http-equiv="keywords">
		<meta name="description" content="招聘,培训">
		<meta name="format-detection" content="telephone=no">
		<meta name="viewport" content="width=device-width,user-scalable=no, initial-scale=1">
		<meta name="renderer" content="webkit" />
		<title>启辰人力资源</title>
		<link rel="stylesheet" type="text/css" href="../public_qichen/css/style.css">
		<link rel="stylesheet" type="text/css" href="../public_qichen/css/login.css">
		<link rel="stylesheet" href="../public_qichen/css/mui.min.css" />

	</head>

	<body>
		<div class="zy_login_box">
			<header class="zy_search_top_box">
				<div class="zy_title_top fix">
					<div class="one" href="javascript:" onclick="history.back();"><img src="../public_qichen/img/back_jt.png"><span>返回</span></div>
					<h1>注册</h1>
					<div class="r">
						<a>注册类型</a>
					</div>
				</div>
			</header>

			<!-- 内容框 -->
			<div class="sf">
				请选择身份
			</div>
			<div class="sf-all">
				<div class="sf1">
					<a href="{:U('members/apilogin_binding',array('utype'=>1))}">
						<div class="sf-q">
							<img src="../public_qichen/img/qy.png">
							<p>企业</p>
						</div>
					</a>
				</div>
				<div class="sf1">
					<a href="{:U('members/apilogin_binding',array('utype'=>2))}">
						<div class="sf-q">
							<img src="../public_qichen/img/gr.png">
							<p>个人</p>
						</div>
					</a>				</div>
			</div>

			<!-- 内容框 -->

		</div>

	</body>

</html>