<include file="public:header"/>

<div class="toptit">编辑在职员工工资</div>
<form id="form1" action="{:U('zaizhi_edit')}" method="post">

    <div class="form_main width150">
        <div class="fl">工资日期:</div>
            <div class="fr">
                <input name="gongzi_time" type="text" class="input_text_default middle"  value="{$data['gongzi_time']}"/>
                
            </div>

            
        <volist name="config" id="vo">
            <div class="fl">{$vo['cn']}:</div>
            <div class="fr">
                <input name="{$vo['en']}" type="text" class="input_text_default middle"  value="{$vo['value']}"/>
            </div>
        </volist>
        <div class="fl">应发工资:</div>
            <div class="fr">
                <input name="yingfa" type="text" class="input_text_default middle"  value="{$data['yingfa']}"/>
                
            </div>
        <div class="fl">实发工资:</div>
            <div class="fr">
                <input name="shifa" type="text" class="input_text_default middle"  value="{$data['shifa']}"/>
                
            </div>
        
        
        
        <div class="fl"></div>
        <div class="fr">
            <input type="hidden" name="com_id" value="{$data['com_id']}">
            <input type="hidden" name="zaizhi_id" value="{$data['zaizhi_id']}">
            <input type="hidden" name="id" value="{$data['id']}">
            <input type="button" class="admin_submit" value="保存" id="J_submit"/>
            <input type="button" class="admin_submit" value="返回" onclick="window.location.href='{:U('zaizhi')}'"/>
        </div>
        <div class="clear"></div>
    </div>
</form>

</div>
<include file="public:footer"/>
</body>
<script type="text/javascript">
    $('#J_submit').click(function(){
            var that = $(this);
            if(that.hasClass('disabled')){
                return false;
            }
            that.val('正在保存...').addClass('disabled');
            $.post("{:U('gongzi_edit')}",$('#form1').serialize(),function(result){
                if(result.status==1){
                    disapperTooltip("success", result.msg,function(){
                        location.reload();
                    });
                }else{
                    disapperTooltip("remind", result.msg,function(){
                        that.val('保存修改').removeClass('disabled');
                    });
                    return false;
                }
            },'json');
        });
</script>
</html>