<include file="Admin@default/public/header"/>
<div class="toptip">
    <div class="toptit">提示：</div>
    <p class="link_green_line">新增专题模板只需将模板文件上传至 /Application/Subject/View/ 目录下，更多模版请到 <a href="http://www.74cms.com/tpl/lists.html" target="_blank" style="color:#009900">[官网]</a> 获取。</p>
    <p>使用与骑士CMS不同版本的模板易产生错误</p>
    <p class="link_green_line">如果您熟悉html语法，则可以参考 <a href="http://www.74cms.com/handbook" target="_blank" style="color:#009900">[模版开发手册]</a> 自定义风格模版。</p>
</div>
  <div class="toptit">专题模板</div>
  <div style="padding-left:20px;font-size:12px;">
  <volist name="list" id="li">
    <div style="float:left; width:240px;  text-align:center; padding:15px; line-height:180%;"  class="link_blue tpl_list">
    <img src="{$li.thumb_dir}/thumbnail.jpg" alt="{$li.info.name}" width="225" height="136" border="1"  style="border: #CCCCCC;"/>
    </a>
    <br />
  模版ID：{$li.tpl_dir}
   </div>
  </volist>
  </div>
  <div class="clear"></div>
</div>
<include file="public:footer" />
<script type="text/javascript"> 
$(document).ready(function()
{
  $(".tpl_list").hover(
  function () {
    $(this).css("background-color","#E4F4FC");
  },
  function () {
    $(this).css("background-color","");
  }
);
});
</script>
</body>
</html>