<include file="Admin@default/public/header" />
 <script type="text/javascript">
	$(document).ready(function(){
		showmenu("#company_nature_cn","#menu1","#company_nature");
		showmenu("#company_trade_cn","#menu2","#company_trade");
		showmenu("#company_scale_cn","#menu4","#company_scale");
		
		
	});
</script>
    <div class="toptip">
	<h2>提示：</h2>
	<p>火车头采集规则请到论坛下载！</p>
	</div>
	 <form action="{:U('basic_mod')}" method="post"  name="form1" id="form1">
    <div class="toptit">企业信息采集设置</div>
    <table width="100%" border="0" cellpadding="1" cellspacing="10" style=" margin-bottom:3px; margin-top:10px;">
      <tr>
        <td width="180" align="right">默认企业认证状态：</td>
        <td >
		  <label><input name="company_audit"  type="radio" value="1" <if condition="$show.company_audit eq 1">checked="checked"</if>/>认证通过</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		 <label><input name="company_audit"  type="radio" value="2" <if condition="$show.company_audit eq 2">checked="checked"</if> />等待认证</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		  <label><input name="company_audit"  type="radio" value="3" <if condition="$show.company_audit eq 3">checked="checked"</if> />认证未通过</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		   <label><input name="company_audit"  type="radio" value="0" <if condition="$show.company_audit eq 4">checked="checked"</if> />未认证</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		</td>
      </tr>
	 
      <tr>
        <td align="right">企业性质无法匹配则为：</td>
        <td>
	 <div style="z-index: 99999;">  
		<input type="text" value="<volist name="company_type" id="vo"><if condition="$key==$show[company_nature]">{$vo}</if></volist>"  readonly="readonly" name="company_nature_cn" id="company_nature_cn" class="input_text_200 input_text_selsect"/>
		<input name="company_nature" id="company_nature" type="hidden" value="{$show.company_nature}" />
		<div id="menu1" class="menu">
			<ul>
			<volist name="company_type" id="vo">
			<li id="{$key}" title="{$vo}">{$vo}</li>
			</volist>
			</ul>
		</div>
	</div>
	</td>
      </tr>
<tr>
        <td align="right">企业行业无法匹配则为：</td>
        <td>
		<div style="z-index: 99999;">  
		<input type="text" value="<volist name="company_trade" id="vo"><if condition="$key==$show[company_trade]">{$vo}</if></volist>"  readonly="readonly" name="company_trade_cn" id="company_trade_cn" class="input_text_200 input_text_selsect"/>
		<input name="company_trade" id="company_trade" type="hidden" value="{$show.company_trade}" />
		<div id="menu2" class="dmenu shadow">
			<ul>
			<volist name="company_trade" id="vo">
			<li id="{$key}" title="{$vo}">{$vo}</li>
			</volist>
			</ul>
		</div>
		  </div>
	</td>
      </tr>
	  <tr>
        <td align="right">企业所在地区无法匹配则为：</td>
        <td>
		<div>
        <input type="text" value="{$current_district|default="请选择"}"  readonly="readonly" name="district_cn" id="district_cn" data-title="请选择工作地区" data-multiple="false" data-maxnum="0" <if condition="C('qscms_category_district_level') gt 2">data-width="667"<else/>data-width="520"</if> data-category="{:C('qscms_category_district_level')}" class="input_text_200 input_text_selsect J_resuletitle_city"/>
        <input class="J_resultcode_city" name="company_district" id="districtcategory" type="hidden" value="{$show.company_district}" />
      </div>
	 </td>
      </tr>
	    <tr>
        <td align="right">企业规模无法匹配则为：</td>
        <td>
	<div style="z-index: 99999;">  
		<input type="text" value="<volist name="company_scale" id="vo"><if condition="$key==$show[company_scale]">{$vo}</if></volist>"  readonly="readonly" name="company_scale_cn" id="company_scale_cn" class="input_text_200 input_text_selsect"/>
		<input name="company_scale" id="company_scale" type="hidden" value="{$show.company_scale}" />
		<div id="menu4" class="menu">
			<ul>
			<volist name="company_scale" id="vo">
			<li id="{$key}" title="{$vo}">{$vo}</li>
			</volist>
			</ul>
		</div>
		  </div>
	
	</td>
      </tr>
	  <tr>
        <td align="right">注册资金无法匹配则为：</td>
        <td >
		<input name="company_registered" type="text"  class="input_text_200" id="company_registered"   value="{$show.company_registered}" style="width:80px;"/>&nbsp;万
		<label><input name="company_currency"  type="radio" value="人民币" <if condition="$show[company_currency] eq '人民币'">checked="checked"</if>/>人民币</label>&nbsp;&nbsp;
		 <label><input name="company_currency"  type="radio" value="美元" <if condition="$show[company_currency] eq '美元'">checked="checked"</if>/>美元</label>&nbsp;&nbsp;</td>
      </tr>
	  <tr>
        <td align="right">&nbsp;</td>
        <td height="50"><span style="font-size:14px;">
          <input type="submit" class="admin_submit"    value="保存修改"/>
        </span></td>
      </tr>
    </table>
  </form>
	 

<include file="Admin@default/public/footer" />
<qscms:load type="category"/>
<script type="text/javascript" src="../public/js/jquery.modal.userselectlayer.js"></script>
</body>
</html>