<include file="Admin@default/public/header" />

<div class="toptit">新增参会企业</div>
<form action="{:U('exhibitors_add')}" method="post" name="FormData">
    <div style="padding: 0 20px;">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td width="450" valign="top">
                    <table width="100%" border="0" cellpadding="10" cellspacing="0" bgcolor="#F5F7F8"
                           style="border-bottom:1px #DFDFDF solid;border-top:1px #DFDFDF solid;border-left:1px #DFDFDF solid;">
                        <tr>
                            <td height="32" align="right">企业名称：</td>
                            <td >
                                <input type="text" class="input_text_default small" id="get_comname" maxlength="25"/>
                            </td>
                        </tr>
                        <tr>
                            <td height="32" align="right">或会员ID：</td>
                            <td>
                                <input type="text" class="input_text_default small" id="get_uid" maxlength="25"/>
                            </td>
                        </tr>
                    </table>
                    <table width="100%" border="0" cellspacing="0" cellpadding="10">
                        <tr>
                            <td width="107" height="35" align="right">预定方式：</td>
                            <td>
                                <div class="imgradio">
                                    <input name="etype" type="hidden" value="1">
                                    <div class="radio select" data="1" title="在线">在线</div>
                                    <div class="radio" data="2" title="电话">电话</div>
                                    <div class="radio" data="3" title="其他方式">其他方式</div>
                                    <div class="clear"></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td height="35" align="right">预定状态：</td>
                            <td>
                                <div class="imgradio">
                                    <input name="audit" type="hidden" value="1">
                                    <div class="radio select" data="1" title="成功预定">成功预定</div>
                                    <div class="radio" data="2" title="等待确认">等待确认</div>
                                    <div class="clear"></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td height="35" align="right">预定招聘会：</td>
                            <td>
                                <select name="jobfair_id" id="jobfair_id">
                                    <option value="">请选择招聘会</option>
                                    <volist name="jobfair" id="li">
                                        <option value="{$li.id}">{$li.title}</option>
                                    </volist>
                                </select>
                            </td>
                        </tr>
                        <tr class="position_select_block" style="display:none;">
                            <td height="35" align="right">预定展位：</td>
                            <td>
                                <select name="position_id" id="position_id">
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td height="35" align="right">推荐名企：</td>
                            <td>
                                <div class="imgradio">
                                    <input name="recommend" type="hidden" value="0">
                                    <div class="radio" data="1" title="推荐">推荐</div>
                                    <div class="radio select" data="0" title="未推荐">未推荐</div>
                                    <div class="clear"></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td height="35" align="right">备注：</td>
                            <td>
                                <textarea name="note" class="input_text_default" style="width:285px; height:80px; line-height:180%"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td height="35" align="right">&nbsp;</td>
                            <td height="60">
                                <input type="button" class="admin_submit" id="BtnAdd" value="确定"/>
                                <input type="button" class="admin_submit" value="返回" onclick="Javascript:window.history.go(-1)"/>
                            </td>
                        </tr>
                        <tr>
                            <td height="35" align="right">&nbsp;</td>
                            <td height="60">&nbsp;</td>
                        </tr>
                    </table>

                </td>
                <td valign="top">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td style="border:1px #DFDFDF solid; height:128px;" id="showtd" bgcolor="#FFFFFF" valign="top">
                                <div style="padding:20px; color: #0066CC">请在左侧表单中输入你要查找的值。</div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</form>

</div>
<include file="Admin@default/public/footer" />
</body>
<script type="text/javascript">
    $(document).ready(function () {

        $("#get_comname,#get_uid").keyup(function () {
            if ($(this).val()) {
                var tsTimeStamp = new Date().getTime();
                $.get("{:U('ajax_get_company')}", {
                            "tstime": tsTimeStamp,
                            "key": $(this).val(),
                            "type": $(this).attr("id")
                        },
                        function (data) {
                            if (data) {
                                html = "<table width=\"100%\" border=\"0\" cellpadding=\"10\" cellspacing=\"0\" style=\"margin-bottom:10px;\" class=\"link_blue\">";
                                html += "<tr style=\"color: #333333;\" bgcolor=\"#F5F7F8\">";
                                html += "<td height=\"30\">&nbsp;&nbsp;<strong>公司名称<\/strong><\/td>";
                                html += "<td width=\"20%\" align=\"center\"><strong>刷新时间<\/strong><\/td>";
                                html += "<td width=\"20%\" align=\"center\"><strong>添加时间<\/strong><\/td>";
                                html += "<\/tr>";
                                var str = data.split("@@@");
                                var i = 1;
                                for (x in str) {
                                    var val = str[x].split("%%%");
                                    html += "<tr>";
                                    html += "<td height=\"30\" style=\"border-bottom:1px #DFDFDF dashed\" >&nbsp;";
                                    html += "<label>";
                                    html += "<input type=\"radio\" class=\"comid\" name=\"comid\" value=\"" + val[0] + "\" data=\"" + val[8] + "\" \/>";
                                    html += "<\/label>";
                                    html += "<a href=\"" + val[2] + "\" target=\"_blank\">" + val[1] + "<\/a><\/td>";
                                    html += "<td align=\"center\"  style=\"border-bottom:1px #DFDFDF dashed\">" + val[3] + "<\/td>";
                                    html += "<td align=\"center\"  style=\"border-bottom:1px #DFDFDF dashed\">" + val[4] + "<\/td>";
                                    html += "<\/tr>";
                                    i++;
                                }
                                html += "<\/table>";
                                $("#showtd").html(html);
                            }
                            else {
                                html = "<div style=\"padding:20px; color:#0066CC\">没有找到对应的公司。</div>";
                                $("#showtd").html(html);
                            }
                        })
            }
        });
        $("#jobfair_id").change(function(){
            var jobfair_id = $(this).val();
            $.get("{:U('ajax_get_position')}",{jobfair_id:jobfair_id},function(data,textStatus){
                if (data)
                {
                    $(".position_select_block").show();
                    $("#position_id").html(data);
                }else{
                    $(".position_select_block").show();
                    $("#position_id").html("<option value=''>没有可以预定的展位</option>");
                }
            });
        });
        //点击提交
        $("#BtnAdd").live('click', function () {
            var job_id = $("input[name='comid']:checked");
            if (job_id.length == 0) {
                disapperTooltip('remind',"请选择参会企业！");
                return false;
            }
            if ($("#jobfair_id").val() == "") {
                disapperTooltip('remind',"请选择要预定的招聘会！");
                $("#days").focus();
                return false;
            }
            if ($("#position_id").val() == '') {
                disapperTooltip('remind',"请选择要预定展位！");
                return false;
            }
            $("form[name='FormData']").submit();
        });
    });
</script>
</html>