<!DOCTYPE html>
<html>
<head>

    <include file="Mobile@public/meta" />
    <link rel="stylesheet" href="{$tpl_public_dir}/css/parttime.css">
    <link rel="stylesheet" href="{:C('TPL_PUBLIC_DIR')}/css/dropload.css">
    <link rel="stylesheet" href="../public_qichen/css/ny.css">
    <link rel="stylesheet" href="../public_qichen/css/style1.css">
    <qscms:load type="category" search="1"/>
</head>
<body>
<header class="zy_search_top_box scroll_fix">
                <div class="zy_title_top fix">
                    <div class="one" href="javascript:" onclick="history.back();"><img src="../public_qichen/img/back_jt.png"><span>返回</span></div>
                    <h1>兼职列表</h1>
                    <div class="r">
                        <a href="{:U('Personal/index')}"><img src="../public_qichen/img/menu_icon04.png"></a>
                    </div>
                </div>
            </header>
<input type="hidden" id="pageSoType" value="1">
<div class="lts-box">
    <div class="list-top-sea">
        <form action="">
            <input id="searchKey" type="text" class="tp-input" value="{$Think.get.key|urldecode|urldecode}" placeholder="请输入兼职职位关键字">
            <input class="tp-icon" type="button" value="" onclick="searchGo()">
        </form>
    </div>
    <div id="hwslider" class="hwslider">
        <ul>
            <li><img class="s-img" src="{:C('TPL_PUBLIC_DIR')}/images/lts_bg.jpg" alt=""></li>
        </ul>
    </div>
</div>
<div class="filter-group x2 filter-outer">
    <div id="f-mask"></div>
    <div class="filter-outer">
        <div class="filter-list js-filter qs-temp-new-city" data-tag="0" data-type="city"><div class="filter-cell"><div class="filter-cell-txt qs-temp-txt-city"><if condition="$Think.get.citycategory neq ''">{$city['select']['categoryname']|default="地区"}<else/>地区</if></div></div></div>
        <div class="filter-list js-filter" data-tag="1"><div class="filter-cell"><div class="filter-cell-txt f-normal-txt-category">{$category_jobs[$_GET['category']]|default="兼职类型"}</div></div></div>
        <div class="clear"></div>
        <div class="qs-actionmore"></div>
        <form id="searchForm">
            <input type="hidden" class="" name="search_type" value="">
            <input type="hidden" class="" name="key" value="{$Think.get.key|urldecode}">
            <input type="hidden" class="qs-temp-code-city" name="citycategory" value="{$Think.get.citycategory}">
            <input type="hidden" class="f-normal-code-category" name="category" value="{$Think.get.category}">
        </form>
        <input type="hidden" class="f-seach-page" value="?m=Mobile&c=Parttime&a=index&">
    </div>
    <div class="con-filter">
        <div class="f-box f-box-city"></div>
        <div class="f-box f-box-category">
            <div class="f-box-inner">
                <volist name="category_jobs" id="category">
                    <li><a class="f-item f-item-normal <if condition="$Think.get.wage eq $key">select</if>" href="javascript:;" data-type="category" data-code="{$key}" data-title="{$category}">{$category}</a></li>
                </volist>
            </div>
            <div class="f-btn-submit qs-center"><div onclick="window.location='{:P(array('category'=>''))}';" class="qs-btn qs-btn-inline qs-btn-medium qs-btn-orange">不限</div></div>
        </div>
    </div>
</div>
<qscms:parttime_jobs_list 列表名="joblist" 显示数目='10' 兼职类型="$_GET['category']" 结算方式="$_GET['settlement']" 地区分类="$_GET['citycategory']" 关键字="$_GET['key']" 分页显示='1'/>
<qscms:classify 列表名="city" 类型="QS_citycategory" 地区分类="$_GET['district']" 显示数目="100"/>
<div class="job-group">
    <notempty name="joblist['list']">
        <div id="listData">
            <volist name="joblist['list']" id="vo">
                <div class="job-item">
                    <a href="{$vo.url}" class="ji-top">
                        <div class="job-info">
                            <div class="info-txt">
                                <div class="it-o">
                                    <div class="io-jn substring font16 txt-3">{$vo['jobs_name']}</div>
                                    <div class="io-jd font13 txt-o">{:date('Y-m-d',$vo['refreshtime'])}</div>
                                    <div class="clear"></div>
                                </div>
                                <div class="it-t">
                                    <div class="it-cn font13 substring">{$vo['category_cn']} | {$vo['district_cn']} | {$vo['settlement_cn']}</div>
                                    <div class="it-jw font13">{$vo['wage']}元/{$vo['wage_type_cn']}</div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="job-des font13">{$vo['contents']}</div>
                    </a>
                    <div class="ji-bot" data-jid="{$vo['id']}">
                        <a href="javascript:;" class="bot-item applyJob"><div class="bot-cell dli">报名</div></a>
                        <if condition="C('qscms_rongyun_open') eq 1">
                        <a onclick="logDialog(0,'{:U('Im/message',array('uid'=>$vo['uid']))}')" href="javascript:;" class="J_Im bot-item"><div class="bot-cell chat">聊聊</div></a>
                        </if>
                        <a href="javascript:;" class="J_like bot-item"><div class="bot-cell click"><if condition="$vo['like_num']">{$vo.like_num}<else/>点赞</if></div></a>
                    </div>
                </div>
            </volist>
        </div>
    <else />
        <div class="list-split-block"></div>
        <div class="list-empty link_blue">
            抱歉，没有找到符合您条件的职位！<br/>
            放宽搜索条件也许有更多合适您的职位哦~
        </div>
    </notempty>
</div>

<include file="Mobile@public_qichen/footer_shouye_2"/>
<script src="../public/js/fastclick.js"></script>
<script>
    window.addEventListener( "load", function() {
        FastClick.attach(document.body);
    }, false );
</script>
<script src="../public/js/QSpopout.js"></script>
<script src="../public/js/QSfilter.js"></script>
<script src="../public/js/zepto.hwSlider.js"></script>
<script src="../public/js/scrollTo.js"></script>
<script src="../public/js/RongIMLib-2.2.8.min.js"></script>
<script src="../public/js/qs.action.js"></script>
<script src="../public/js/qs.select.js"></script>
<script src="../public/js/dialog.js"></script>
<script src="https://static.geetest.com/static/tools/gt.js"></script>
<if condition="$rong_state eq 1">
<script src="../public/js/rong_main.js"></script>
</if>
<script>
    if (!$('.foot_pub_box_list li').length) {
        $('#JFootPub').remove();
        $('.fix-footNav').addClass('n4');
    }
    // 锁定屏幕
    function lockTouchMove(){
        //document.body.addEventListener('touchmove', handler, { passive: false })
        $("body").bind("touchmove",function(event){event.preventDefault()});
    }

    // 解锁屏幕
    function unLockTouchMove(){
        //document.body.removeEventListener('touchmove', handler, { passive: false })
        $("body").unbind("touchmove");
    }
    // 服务
    function closeFootPub() {
        $('.JFootPubNav').removeClass('slideInUp animated').addClass('slideOutDown animated'); unLockTouchMove();
    }
    $('#JFootPub').off().on('click', function() {
        lockTouchMove();
        $('.JFootPubNav').removeClass('slideOutDown animated').addClass('slideInUp animated');
        // 关闭
        $('#JFootPubClose').off().on('click', function() { closeFootPub(); });
    });
    $('a[href]').click(function() {
        var f = $(this).attr('href');
        var reg = /\#(\w+)/;
        if (reg.test(f)) {
            if (!$(this).data('nm')) {
                return !1;
            }
        }
    });
    $(".js-back").on('click',function(){
        /*if (history.length == 1){
            window.location.href = '{:U("index/index")}';
        } else {
            history.back();
        }*/
        history.back();
    });
    /**
     * 监听鼠标
     */
    if ('ontouchstart' in window) {
        $.EVENT_START = 'touchstart';
        $.EVENT_END = 'touchend';
    } else {
        $.EVENT_START = 'mousedown';
        $.EVENT_END = 'mouseup';
    }
    $('.plist-txt, .qs-btn, .for-event').on($.EVENT_START, function() {
        $(this).addClass('eventactive');
        /*if($(this).find('input[type="text"]').length) {
            $(this).find('input[type="text"]').focus();
        }*/
    });
    $('.plist-txt, .qs-btn, .for-event').on($.EVENT_END, function() {
        $(this).removeClass('eventactive');
    });
    $('.plist-txt, .qs-btn, .for-event').on('touchcancel', function() {
        $(this).removeClass('eventactive');
    });
    $('.logout').on('click', function() {
        forCloseNav();
        $(document).dialog({
            type: 'confirm',
            content: '确定退出吗？',
            onClickConfirmBtn: function() {
                window.location.href = "{:U('Members/logout')}";
            }
        });
    });
    /**
     * 返回顶部
     */
    var global = {
        h: $(window).height(),
        st: $(window).scrollTop(),
        backTop: function() {
            global.st > (global.h * 0.5) ? $("#backtop").show() : $("#backtop").hide();
        }
    };
    /**
     * Notice 提醒公用方法
     * @param infoText 提示文字
     */
    function qsNotice(infoText) {
        $(document).dialog({
            type : 'notice',
            infoText: infoText,
            autoClose: 1500,
            position: 'center',
            dialogClass: 'dialog_toast'
        });
    }
    // 定义Toast图片路径
    var loadingImg = '../public/images/dialog/loading.gif',
        successImg = '../public/images/dialog/success.png',
        failImg = '../public/images/dialog/fail.png',
        warningImg = '../public/images/dialog/warning.png';
    /**
     * 正在加载中
     * @param infoText 内容
     */
    function qsToasting() {
        var infoContent = arguments[0] ? arguments[0] : '';
        var closeTime = arguments[1] === 0 ? arguments[1] : 1500;
        var $cuToasting = $(document).dialog({
            type : 'toast',
            infoIcon: loadingImg,
            infoText: infoContent,
            autoClose: closeTime
        });
        return $cuToasting;
    }
    /**
     * Toast 类型通知 用于需要反馈结果
     * @param msg 反馈内容
     * @param type 反馈类型 可以不传参数有默认值 0->失败 1->成功
     * @param obj 正在加载对象 用于更新Toast
     */
    function qsToast(msg, type, obj) {
        type = arguments[1] ? arguments[1] : 2;
        var icons = [failImg, successImg, warningImg];
        var setting = {
            type : 'toast',
            infoText: msg,
            infoIcon: icons[type],
            autoClose: 1500,
            dialogClass: 'dialog_toast'
        };
        if (obj){
            obj.update(setting);
        } else {
            return $(document).dialog(setting);
        }
    }
    // 锁定屏幕
    function lock_touchmove(){
        $("body").bind("touchmove",function(event){event.preventDefault();});
    }
    // 解锁屏幕
    function un_lock_touchmove(){
        $("body").unbind("touchmove");
    }
    // 弹出框登录
    function logDialog() {
        // 是否需要刷新页面
        var isRefresh = arguments[0] === 0 ? arguments[0] : 1;
        // 页面跳转链接
        var urlValue = arguments[1] ? arguments[1] : '';
        if(qscms.is_login > 0 && urlValue){
            window.location.href = urlValue;
            return !1;
        }
        var utype = arguments[2] ? arguments[2] : 0;
        // 正在加载
        var $logLoad = qsToasting('', 0);
        var loginUrl = "{:U('AjaxCommon/ajax_login')}";
        $.getJSON(loginUrl, {refresh: isRefresh, url: urlValue, utype:utype}, function(result){
            $logLoad.close();
            if(result.status==1){
                var $logPop = new QSpopout('亲，验证一下手机吧');
                $logPop.setContent(result.data);
                $('.qs-popout-ft').remove();
                $('.qs-popout-bd').addClass('no-pd');
                $logPop.show();
                // 关闭
                $('.closePopout').on('click', function() {
                    $('#popout').fadeOut(200);
                    $('#popout').remove();
                });
            } else {
                qsToast(result.msg, '', '');
            }
        });
    }
    // 如果文档高度不大于窗口高度，数据较少，删除页面中的无数据提醒
    function removeDropLoadDown() {
        var doc = document;
        var $doc = $(doc);
        var $dropDownEle = $('.dropload-down');
        var scrollContentHeight = $doc.height();
        var scrollWindowHeight = doc.documentElement.clientHeight;
        var threshold = Math.floor($dropDownEle.height()*1/3);
        if((scrollContentHeight - threshold) <= scrollWindowHeight){
            $dropDownEle.remove();
        }
    }
    //判断是不是iPhoneX，适配iPhoneX底部遮挡问题
    if (funJudgeX()) {
        $('.fix-footNav').addClass('iPhoneX');
        $('body').addClass('iPhoneX');
    }
</script>
<div class="qs-hidden">{:htmlspecialchars_decode(C('qscms_statistics'))}</div>
<script src="{:C('TPL_PUBLIC_DIR')}/js/dropload.min.js"></script>
<script src="{:C('TPL_PUBLIC_DIR')}/js/zepto.hwSlider.js"></script>
<script src="{:C('TPL_PUBLIC_DIR')}/js/filter.js"></script>
<script src="{:C('TPL_PUBLIC_DIR')}/js/qsCitySearch.js"></script>
</body>
<script>
    // 下拉加载更多
    $(function(){
        var page = 1;
        var size = 5;
        // 标识关闭弹窗的时候是否应该解锁下拉加载
        var isLock = true;
        $('#listData').dropload({
            scrollArea : window,
            autoLoad : false,
            loadDownFn : function(me){
                page++;
                $.ajax({
                    type: 'GET',
                    url: "{:U('Parttime/ajax_jobs_list',$_GET)}",
                    data:{page:page},
                    dataType: 'json',
                    success: function(data){
                        if (data.status) {
                            if (data.data.html) {
                                $("#listData .dropload-down").before(data.data.html);
                                like();
                                if ((page > 1) && !(page%2 ==0)) {
                                    // 如果弹窗引导已经存在则不重复提示
                                    if ($('.qs-popout').length) {
                                        // IOS
                                        me.lock();
                                        me.resetload();
                                        return false;
                                    }
                                    if ($('.dialog-overlay').length) {
                                        // Android
                                        me.lock();
                                        me.resetload();
                                        return false;
                                    }
                                    // 从第二页开始判断是否登录
                                    if (!(qscms.is_login > 0)) {
                                        // 未登录显示登录弹窗
                                        var loginUrl = "{:U('AjaxCommon/ajax_login')}";
                                        $.getJSON(loginUrl, function(result){
                                            if(result.status==1){
                                                var $logPop = new QSpopout('亲，验证一下手机吧');
                                                $logPop.setContent(result.data);
                                                $('.qs-popout-ft').remove();
                                                $('.qs-popout-bd').addClass('no-pd');
                                                $logPop.show();
                                                me.lock();
                                                me.resetload();
                                                // 关闭
                                                $('.closePopout').on('click', function() {
                                                    $('#popout').fadeOut(200);
                                                    $('#popout').remove();
                                                    if (isLock) {
                                                        me.unlock();
                                                        me.resetload();
                                                    }
                                                });
                                            } else {
                                                qsToast(result.msg, '', '');
                                            }
                                        });
                                    }
                                }
                                if (data.data.isfull) {
                                    isLock = false;
                                    me.lock();
                                    me.noData();
                                    me.resetload();
                                    return;
                                } else {
                                    me.resetload();
                                }
                            }
                        } else {
                            me.lock();
                            me.noData();
                            me.resetload();
                            removeDropLoadDown();
                            return;
                        }
                    },
                    error: function(xhr, type){
                        qsToast('出错啦', '', '');
                        me.resetload();
                    }
                });
            }
        });
    });
    // 发布
    $('.J_add').on('click', function() {
        if(qscms.is_login > 0){
            $.getJSON("{:U('Parttime/check_jobs_num')}", function(result) {
                if (result.status == 0) {
                    $(document).dialog({
                        titleText: '发布职位',
                        content: result.msg
                    });
                } else {
                    window.location.href = '{:U("Parttime/add")}';
                }
            });
        }else{
            logDialog(0);
        }
    });
    function like(){
        // 报名
        $('.applyJob').off().on('click', function() {
            if(qscms.is_login > 0){
                var pid = $(this).closest('.ji-bot').data('jid');
                $.getJSON("{:U('Parttime/check_apply_cache')}", {
                    pid: pid
                }, function(result) {
                    if (result.status == 1) {
                        qsToast(result.msg, '', '');
                    } else {
                        window.location.href = result.data;
                    }
                });
            }else{
                logDialog(0);
            }
        });
        $('.J_like').off().on('click',function(){
            var url = "{:U('Parttime/like')}";
            var id = $(this).closest('.ji-bot').data('jid');
            var f = $(this).find('div');
            if ((qscms.is_login > 0)) {
                // 正在加载
                var $cuLoad = qsToasting('', 0);
                // ajax请求
                $.getJSON(url,{id:id},function(result) {
                    $cuLoad.close();
                    if (result.status == 1) {
                        if (result.data.is_like) {
                            qsToast(result.msg, '', '');
                        } else {
                            qsToast(result.msg, 1, '');
                        }
                        f.html(result.data.like_num);
                    } else if (result.dialog) {
                        // 登录
                        logDialog(0, '');
                    } else {
                        qsToast(result.msg, '', '');
                        return false;
                    }
                });
            } else {
                logDialog(0, '');
            }
        });
    }
    like();
    function searchGo(){
        var key = $('#searchKey').val(),
            url = "{:url_rewrite('QS_parttime',array('key'=>'_key'))}";
        window.location.href=url.replace('_key',encodeURI(encodeURI(htmlspecialchars(key))));
    }
    // 广告位
    $("#hwslider").hwSlider({
        autoPlay: true,
        dotShow: true,
        touch: true,
        arrShow: false
    });
    // 添加地区筛选底部的按钮
    setTimeout(function() {
        var noLimitCityHtml = '<div class="f-btn-submit qs-center"><div class="qs-btn qs-btn-inline qs-btn-medium qs-btn-border-orange" id="j-cate-city" style="margin-right:.25rem;">按地区</div><div class="qs-btn qs-btn-inline qs-btn-medium qs-btn-orange" id="j-cate-range" style="margin-right:.25rem;">附近职位</div><div class="qs-btn qs-btn-inline qs-btn-medium qs-btn-orange" id="j-no-limit-city">不限</div></div>';
        $('.f-box-city').append(noLimitCityHtml);
    }, 100);

    // 地区筛选不限
    $('#j-no-limit-city').die().live('click', function() { window.location = "{:P(array('citycategory'=>'','range'=>''))}"; });

    // 初始化筛选
    $('.js-filter').on('click', function () {
        var filter = new QSfilter($(this)); document.getElementById('f-mask').ontouchstart = function(e){ e.preventDefault(); }
    });

    // 除更多和读取缓存之外的下拉列表
    $('.f-item-normal').on('click', function () {
        const thisType = $(this).data('type'), thisTitle = $(this).data('title'), thisCode = $(this).data('code');
        $('.f-normal-code-' + thisType).val(thisCode); $('.f-normal-txt-' + thisType).text(thisTitle);
        $('body').removeClass('filter-fixed'); $('.f-box-' + thisType).addClass('qs-hidden'); $('.js-filter').removeClass('active'); $('#f-mask').hide();
        goPage();
    });

    // 跳转方法
    function goPage() { const toSearchPage = $('.f-seach-page').val(); window.location.href = qscms.root + toSearchPage + $('#searchForm').serialize(); }
</script>
</html>