<include file="Admin@default/public/header"/>
<div class="toptip">
    <div class="toptit">提示：</div>
    <p>删除顶级菜单将会自动删除此菜单下的子菜单</p>
    <p><font color="red">使用微信菜单，请保证服务器环境开启伪静态！</font></p>
</div>

<form id="form1" name="form1" method="post" action="{:U('bind_del')}">
    <div class="list_th">
        <div class="td" style=" width:25%;">
            <div class="left_padding">微信自定义菜单</div>
        </div>
        <div class="td center" style=" width:10%;">菜单关键字</div>
        <div class="td center" style=" width:10%;">菜单类型</div>
        <div class="td center" style=" width:23%;">链接地址</div>
        <div class="td center" style=" width:6%;">状态</div>
        <div class="td center" style=" width:6%;">排序</div>
        <div class="td" style=" width:20%;">
            <div class="list_right">操作</div>
        </div>
        <div class="clear"></div>
    </div>

    <volist name="list" id="vo">
        <div class="list_tr link_bk">
            <div class="td" style=" width:25%;">
                <div class="category_img J_show" id="{$vo.id}" level="1"></div>
                <div class="category_input">
                    <input name="save_id[]" type="hidden" value="{$vo.id}"/>{$vo.title}
                    <span style="color:#999999; margin-left: 5px; font-size: 13px;">(id:{$vo.id})</span>
                </div>
            </div>
            <div class="td center" style=" width:10%;">
                <eq name="vo.key" value="">-
                    <else/>
                    {$vo.key}
                </eq>
            </div>
            <div class="td center" style=" width:10%;">{$vo.type}</div>
            <div class="td center" style=" width:23%;">{$vo.url|default='-'}</div>
            <div class="td center" style=" width:6%;">
                <eq name="vo.status" value="1"><font color="green">显示</font>
                    <else/>
                    <font color="grey">隐藏</font></eq>
            </div>
            <div class="td center" style=" width:6%;">{$vo.menu_order|default='0'}</div>
            <div class="td edit" style=" width:20%;">
                <div class="list_right btn">
                    <a href="{:U('menu_add',array('parentid'=>$vo['id']))}">此菜单下添加子菜单</a>
                    <a href="{:U('menu_edit',array('id'=>$vo['id']))}">修改</a>
                    <a href="{:U('menu_del',array('id'=>$vo['id']))}" class="gray" onclick="return confirm('你确定要删除吗？')">删除</a>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </volist>
</form>

<empty name="list">
    <div class="list_empty">没有任何信息！</div>
</empty>

<div class="list_foot">
    <div class="btnbox">
        <input type="button" class="admin_submit" value="添加菜单" onclick="window.location='{:U('menu_add')}'"/>
        <input type="button" class="admin_submit" value="同步菜单" onclick="window.location='{:U('menu_sync')}'"/>
    </div>
    <div class="footso"></div>
</div>

</div>
<include file="Admin@default/public/footer"/>

</body>
<script type="text/javascript">
$(document).ready(function () {
    var Maxlevel="2";//最多分类层数
    //打开子菜单
    $(".J_show").live('click', function () {
        var sub_box = $(this).closest(".list_tr").next('.j_smalldiv');
        var level = $(this).attr('level');
        sub_box.is(':visible') ? $(this).removeClass("show") : $(this).addClass("show");
        if (sub_box.length == 0 && level < Maxlevel) {
            get_menu($(this).attr('id'), $(this).closest(".list_tr"), level);
        }
        else {
            sub_box.toggle();
        }

    });
    //生成分类
    function get_menu(pid, thisobj, level) {
        var tsTimeStamp = new Date().getTime();
        $.getJSON("{:U('menu')}", {"parentid": pid}, function (result) {
            if (result.status == 1) {
                var html = "";
                var leftbg = "";
                var i = 1;
                level++;
                for (x in result.data) {
                    html += "<div class=\"list_tr link_bk\">";
                    html += "<div class=\"td\" style=\"width:25%\">";
                    html += "<div class=\"category_sub_img l" + level + "\">&nbsp;</div>";
                    html += "<div class=\"category_img J_show\" id=\"" + result.data[x]['id'] + "\" level=\"" + level +"\"></div>";
                    html += "<div class=\"category_input\">";
                    html += "<input name=\"save_id[]\" type=\"hidden\" value=\"" + result.data[x]['id'] + "\"/>";
                    html += result.data[x]['title'];;
                    html += "<span style=\"color:#999999; margin-left: 5px; font-size: 13px;\">(id:" + result.data[x]['id'] + ")</span>";
                    html += "</div>";
                    html += "<div class=\"clear\"></div>";
                    html += "</div>";
                    if(result.data[x]['key']){
                        html += "<div class=\"td center\" style=\"width:10%\">" + result.data[x]['key'] + "</div>";
                    }else{
                        html += "<div class=\"td center\" style=\"width:10%\">-</div>";
                    }
                    if(result.data[x]['type']){
                        html += "<div class=\"td center\" style=\"width:10%\">" + result.data[x]['type'] + "</div>";
                    }else{
                        html += "<div class=\"td center\" style=\"width:10%\">-</div>";
                    }
                    if(result.data[x]['url']){
                        html += "<div class=\"td center\" style=\"width:23%\">" + result.data[x]['url'] + "</div>";
                    }else{
                        html += "<div class=\"td center\" style=\"width:23%\">-</div>";
                    }
                    if(result.data[x]['status']==1){
                        html += "<div class=\"td center\" style=\"width:6%\"><font color=\"green\">显示</font></div>";
                    }else{
                        html += "<div class=\"td center\" style=\"width:6%\"><font color=\"grey\">隐藏</font></div>";
                    }
                    html += "<div class=\"td center\" style=\"width:6%\">" + result.data[x]['menu_order'] + "</div>";
                    html += "<div class=\"td edit\" style=\"width:20%\"><div class=\"list_right btn\">";
                    if (level < Maxlevel) {
                        html += "<a href=\"{:U('menu_add')}&parentid=" + result.data[x]['id'] + "\">此菜单下添加子菜单</a>";
                    }
                    html += "<a href=\"{:U('menu_edit')}&id=" + result.data[x]['id'] + "\">修改</a>";
                    html += "<a onclick=\"return confirm('你确定要删除吗？')\" href=\"{:U('menu_del')}&id=" + result.data[x]['id'] + "\" class=\"gray\">删除</a>";
                    html += "</div></div>";
                    html += "<div class=\"clear\"></div>";
                    html += "</div>";
                    i++;
                }
                thisobj.after('<div class="j_smalldiv">' + html + '</div>');
            }
        });
    }
});
</script>
</html>