<include file="Admin@default/public/header" />
<div class="toptip">
    <div class="toptit">提示：</div>
    <p>此功能仅限于已开通微信模板消息功能的公众号使用。</p>
    <p>必须填写【模板ID】才能【开启】模板消息推送状态，否则将无法正常发送通知。</p>
    <p>【模板ID】请到 微信公众平台 >> 模板消息 >> 模板库 选择对应【模板编号】的模板，然后获取【模板ID】填写到此处。</p>
    <p>以下所有模板均属于“IT科技/互联网|电子商务”和“商业服务/中介服务”。</p>
</div>

<form id="form1" action="{:U('rule')}" method="post" name="FormData">
    <div class="list_th">
        <div class="td" style=" width:18%;">
            <div class="left_padding">通知事件</div>
        </div>
        <div class="td" style=" width:7%;">状态</div>
        <div class="td" style=" width:15%;">模板名称</div>
        <div class="td" style=" width:15%;">所属行业</div>
        <div class="td" style=" width:15%;">模板编号</div>
        <div class="td center" style=" width:30%;">模板ID</div>
        <div class="clear"></div>
    </div>

    <volist name="weixin_config_list" id="vo">
        <div class="list_tr link_blue">
            <div class="td" style=" width:18%;">
                <div class="left_padding striking">
                    <input name="alias[]" type="hidden" value="{$vo.alias}" />{$vo.name}
                </div>
            </div>
            <div class="td" style=" width:7%;">
                <div data-code="0,1" class="imgchecked_small <eq name='vo.value' value='1'>select</eq>">
                    <input name="{$vo.alias}_value" type="hidden" value="{$vo.value}" />
                </div>
                <div class="clear"></div>
            </div>
            <div class="td" style=" width: 15%;">{$vo.template_title|default='-'}</div>
            <div class="td" style=" width: 15%;">{$vo.template_trade|default='-'}</div>
            <div class="td" style=" width: 15%;">{$vo.template_no|default='-'}</div>
            <div class="td center" style=" width:30%;">
                <input name="template_id[]" type="text" class="input_text_default small" value="{$vo['template_id']}" style="width: 285px;"/>
            </div>
            <div class="clear"></div>
        </div>
    </volist>
</form>

<empty name="weixin_config_list">
    <div class="list_empty">没有任何信息！</div>
</empty>

<div class="list_foot">
    <div class="btnbox">
        <input type="button" class="admin_submit" id="ButSave" value="保存"/>
    </div>
    <div class="footso"></div>
</div>

</div>
<include file="Admin@default/public/footer" />
</body>
<script type="text/javascript">
    $(document).ready(function () {
        //保存
        $('#ButSave').click(function(){
            var that = $(this);
            if(that.hasClass('disabled')){
                return false;
            }
            that.val('正在保存...').addClass('disabled');
            $.post("{:U('rule')}",$('#form1').serialize(),function(result){
                if(result.status==1){
                    disapperTooltip("success", result.msg,function(){
                        location.href='{:U("rule")}';
                    });
                }else{
                    disapperTooltip("remind", result.msg,function(){
                        that.val('保存').removeClass('disabled');
                    });
                    return false;
                }
            },'json');
        });
    });
</script>
</html>