<!DOCTYPE html>
<html>
<head>
    <include file="public:meta"/>
    <link rel="stylesheet" href="../public/css/personal.css">
</head>
<body>
<include file="public:header"/>

<div class="split-block"></div>
<div class="imSelectParent">
    <div class="list_height plist-txt imitateSelect">
        <div class="pic"></div>
        <div class="tit font14">意见类型</div>
        <div class="describe font13">
            <span class="selectTxt"></span>
        </div>
        <div class="arrow"></div>
        <div class="clear"></div>
        <input class="selectKey" type="hidden" name="infotype" id="infotype" value="">
    </div>
    <div class="imSelect">
        <div class="imOption" data-key="1" data-txt="建议">建议</div>
        <div class="imOption" data-key="2" data-txt="意见">意见</div>
        <div class="imOption" data-key="3" data-txt="求助">求助</div>
        <div class="imOption" data-key="4" data-txt="投诉">投诉</div>
    </div>
</div>

<div class="list_height plist-txt last notarrow">
    <div class="pic"></div>
    <div class="tit font14">联系方式</div>
    <div class="describe">
        <input name="tel" type="text" placeholder="请输入您的联系方式" class="font13" value="{$visitor.mobile}">
    </div>
    <div class="arrow"></div>
    <div class="clear"></div>
</div>
<div class="split-block"></div>
<div class="textarea-txt">
    <textarea id="suggest_feedback" name="feedback" placeholder="请详细描述您遇到的问题，有助于我们快速定位并解决问题。" class="font13"></textarea>
</div>

<div class="bottom_txt">
    <div class="llt">最多可输入200字</div>
    <div class="rlt clear-content">清空</div>
</div>
<div id="pop" style="display:none"></div>
<input type="hidden" id="btnCheck">
<div class="btn-spacing">
    <input type="hidden" id="J_suggest_verify" value="{$varify_suggest}"/>
    <a id="J_suggest_submit" href="javascript:;" class="qs-btn qs-btn-blue font18">提 交</a>
</div>
<include file="public:footer_min"/>
<script type="text/javascript">
    //清空内容
    $('.clear-content').on('click', function () {
        $('#suggest_feedback').val('');
    });
    // 提交验证
    $('#J_suggest_submit').on('click', function (event) {
        // 有禁用class不执行，阻止多次点击
        if ($('#J_suggest_submit').hasClass('qs-btn-border-disabled')) {
            return false;
        }
        var typeValue = $.trim($('#infotype').val());
        var telValue = $.trim($('input[name="tel"]').val());
        var feedbackValue = $.trim($('#suggest_feedback').val());
        if (typeValue == "") {
            qsToast('请选择意见类型');
            return false;
        }
        if (telValue == "") {
            qsToast('请填写联系方式');
            return false;
        }
        if (telValue != "" && telValue.length > 30) {
            qsToast('联系方式不能超出30个字');
            return false;
        }
        if (feedbackValue == "") {
            qsToast('请填写反馈内容');
            return false;
        }
        var cuToast = qsToasting('正在提交中');
        $('#J_suggest_submit').text('提交中');
        $(this).addClass('qs-btn-border-disabled');
        if (eval($('#J_suggest_verify').val())) {
            $('.geetest_panel').remove();
            $.ajax({
                url: qscms.root + '?m=Mobile&c=Captcha&type=mobile&t=' + (new Date()).getTime(),
                type: 'get',
                dataType: 'json',
                success: function (config) {
                    initGeetest({
                        gt: config.gt,
                        challenge: config.challenge,
                        offline: !config.success,
                        new_captcha: config.new_captcha,
                        product: 'bind'
                    }, function (captchaObj) {
                        captchaObj.appendTo("#pop");
                        captchaObj.onSuccess(function () {
                            var captChaResult = captchaObj.getValidate();
                            $('#pop').hide();
                            var typeValue = $.trim($('#infotype').val());
                            var telValue = $.trim($('input[name="tel"]').val());
                            var feedbackValue = $.trim($('#suggest_feedback').val());
                            // 正在加载
                            var $cuLoad = qsToasting('', 0);
                            // 提交表单
                            $.ajax({
                                url: "{:U('Personal/feedback')}",
                                type: 'POST',
                                dataType: 'json',
                                data: {
                                    infotype: typeValue,
                                    tel: telValue,
                                    feedback: feedbackValue,
                                    geetest_challenge: captChaResult.geetest_challenge,
                                    geetest_validate: captChaResult.geetest_validate,
                                    geetest_seccode: captChaResult.geetest_seccode
                                },
                                success: function (data) {
                                    console.log(data);
                                    if (parseInt(data.status)) {
                                        qsToast(data.msg, 1, cuToast);
                                        setTimeout(function () {
                                            window.location.reload();
                                        }, 2000);
                                    } else {
                                        qsToast(data.msg, 1, cuToast);
                                        $('#J_suggest_submit').text('提 交').removeClass('qs-btn-border-disabled');
                                    }
                                },
                                error: function (data) {
                                    qsToast(data.msg, '', cuToast);
                                    $('#J_suggest_submit').text('提 交').removeClass('qs-btn-border-disabled');
                                }
                            });
                        })
                        captchaObj.onReady(function () {
                            captchaObj.verify();
                        });
                        $('#btnCheck').on('click', function () {
                            captchaObj.verify();
                        })
                        window.captchaObj = captchaObj;
                    });
                }
            });
        } else {
            $('#J_suggest_submit').text('提 交 中...').addClass('qs-btn-border-disabled');
            doSuggestFun();
        }
    });
    function doSuggestFun() {
        var typeValue = $.trim($('#infotype').val());
        var telValue = $.trim($('input[name="tel"]').val());
        var feedbackValue = $.trim($('#suggest_feedback').val());
        // 正在加载
        var $cuLoad = qsToasting('', 0);
        // 提交表单
        $.ajax({
            url: "{:U('Personal/feedback')}",
            type: 'POST',
            dataType: 'json',
            data: {infotype: typeValue, tel: telValue, feedback: feedbackValue},
            success: function (data) {
                // 关闭正在加载，重新提示
                $cuLoad.close();
                if (parseInt(data.status)) {
                    qsToast(data.msg, 1, '');
                    setTimeout(function () {
                        window.location.reload();
                    }, 2000);
                } else {
                    qsToast(data.msg, 0, '');
                    $('#J_suggest_submit').text('提 交').removeClass('qs-btn-border-disabled');
                }
            },
            error: function (data) {
                // 关闭正在加载，重新提示
                $cuLoad.close();
                qsToast(data.msg, '', '');
                $('#J_suggest_submit').text('提 交').removeClass('qs-btn-border-disabled');
            }
        });
    }
</script>
</body>
</html>