<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="../public_qichen/css/style.css">
		<include file="public:meta" />
		<link rel="stylesheet" href="../public/css/personal.css">
        <qscms:load type="category" search="1"/>
	</head>
	<body>
		<include file="public:header"/>
        <div class="imSelectParent">
            <div class="list_height plist-txt imitateSelect">
                <div class="pic"></div>
                <div class="tit font14">目前状态<span class="font_red_light">*</span></div>
                <div class="describe font13">
                    <span class="selectTxt"></span>
                </div>
                <div class="arrow"></div>
                <div class="clear"></div>
                <input class="selectKey" type="hidden" name="current" id="current" value="{$resume.current}">
            </div>
            <div class="imSelect">
                <volist name="current" id="current">
                    <div class="imOption" data-key="{$key}" data-txt="{$current}">{$current}</div>
                </volist>
            </div>
        </div>
        <div class="imSelectParent">
            <div class="list_height plist-txt imitateSelect">
                <div class="pic"></div>
                <div class="tit font14">工作性质<span class="font_red_light">*</span></div>
                <div class="describe font13">
                    <span class="selectTxt"></span>
                </div>
                <div class="arrow"></div>
                <div class="clear"></div>
                <input class="selectKey" type="hidden" name="nature" id="nature" value="{$resume.nature}">
            </div>
            <div class="imSelect">
                <volist name="jobs_nature" id="nature">
                    <div class="imOption" data-key="{$key}" data-txt="{$nature}">{$nature}</div>
                </volist>
            </div>
        </div>
	    <div class="list_height plist-txt qs-relative js-actionParent">
            <div class="abAct js-showActionSheet"></div>
	        <div class="pic"></div>
	        <div class="tit font14">期望行业</div>
	        <div class="describe font13 qs-temp-level1" data-type="trade" data-base="QS_trade" data-multiple="true" data-num="3" data-link="false">
		        <span class="qs-temp-txt-trade" data-otxt="请选择">{$resume.trade_cn|default="请选择"}</span>
	           <input class="qs-temp-code-trade" name="trade" id="trade" type="hidden" value="{$resume.trade}" />
	        </div>
	         <div class="arrow"></div>
	         <div class="clear"></div>
		    <!--BEGIN actionSheet-->
		    <div>
			    <div class="qs-mask" style="display: none"></div>
			    <div class="qs-actionsheet js-actionsheet">
				    <div class="qs-actionsheet-menu">
					    <div class="con-filter mul">
						    <div class="f-selected-group f-selected-group-trade">
							    <div class="s-bar">
								    <div class="qs-btn qs-btn-inline qs-btn-small qs-btn-border-gray qs-left js-cancelActionSheet">取消</div>
                                    <div class="qs-left mul-txt font12">多选，最多 3 项</div>
								    <div class="qs-btn qs-btn-inline qs-btn-small qs-btn-border-orange qs-right js-cancelActionSheet" id="qs-temp-confirm-trade">确定</div>
								    <div class="clear"></div>
							    </div>
							    <div class="s-list qs-hidden"></div>
						    </div>
						    <div class="f-box f-box-trade"></div>
					    </div>
				    </div>
			    </div>
		    </div>
	    </div>
		<div class="list_height plist-txt qs-relative js-actionParent">
            <div class="abAct js-showActionSheet"></div>
	        <div class="pic"></div>
	        <div class="tit font14">期望职位<span class="font_red_light">*</span></div>
	        <div class="describe font13 qs-temp" data-type="jobs" data-base="QS_jobs_parent" data-source="QS_jobs" data-multiple="true" data-num="5" data-link="false" data-level="{:C('qscms_category_jobs_level')}">
			   <span class="qs-temp-txt-jobs" data-otxt="请选择">{$resume.intention_jobs|default="请选择"}</span>
	           <input class="qs-temp-code-jobs" name="intention_jobs_id" id="intention_jobs_id" type="hidden" value="{$resume.intention_jobs_id}" />
	        </div>
	         <div class="arrow"></div>
	         <div class="clear"></div>
					<!--BEGIN actionSheet-->
					<div>
						<div class="qs-mask" style="display: none"></div>
						<div class="qs-actionsheet js-actionsheet">
							<div class="qs-actionsheet-menu">
								<div class="con-filter mul">
									<div class="f-selected-group f-selected-group-jobs">
										<div class="s-bar">
											<div class="qs-btn qs-btn-inline qs-btn-small qs-btn-border-gray qs-left js-cancelActionSheet">取消</div>
                                            <div class="qs-left mul-txt font12">多选，最多 5 项</div>
											<div class="qs-btn qs-btn-inline qs-btn-small qs-btn-border-orange qs-right js-cancelActionSheet" id="qs-temp-confirm-jobs">确定</div>
											<div class="clear"></div>
										</div>
										<div class="s-list qs-hidden"></div>
									</div>
									<div class="f-box f-box-jobs"></div>
								</div>
							</div>
						</div>
					</div>
	    </div>
        <div class="imSelectParent">
            <div class="list_height plist-txt imitateSelect">
                <div class="pic"></div>
                <div class="tit font14">期望薪资<span class="font_red_light">*</span></div>
                <div class="describe font13">
                    <span class="selectTxt"></span>
                </div>
                <div class="arrow"></div>
                <div class="clear"></div>
                <input class="selectKey" type="hidden" name="wage" id="wage" value="{$resume.wage}">
            </div>
            <div class="imSelect">
                <volist name="wage" id="wage">
                    <div class="imOption" data-key="{$key}" data-txt="{$wage}">{$wage}</div>
                </volist>
            </div>
        </div>
	    <div class="list_height plist-txt qs-relative js-actionParent">
            <div class="abAct js-showActionSheet"></div>
	        <div class="pic"></div>
	        <div class="tit font14">工作地区<span class="font_red_light">*</span></div>
	        <div class="describe font13 qs-temp-new-city" data-multiple="true">
	            <span class="qs-temp-txt-city" data-otxt="请选择">{$resume.district_cn|default="请选择"}</span>
	            <input class="qs-temp-code-city" name="district" id="district" type="hidden" value="{$resume.district}" keep="{$resume.district}" />
	        </div>
	        <div class="arrow"></div>
	        <div class="clear"></div>
			    <!--BEGIN actionSheet-->
			    <div>
				    <div class="qs-mask" style="display: none"></div>
				    <div class="qs-actionsheet js-actionsheet">
					    <div class="qs-actionsheet-menu">
						    <div class="con-filter mul">
							    <div class="f-selected-group f-selected-group-city">
								    <div class="s-bar">
									    <div class="qs-btn qs-btn-inline qs-btn-small qs-btn-border-gray qs-left js-cancelActionSheet">取消</div>
                                        <div class="qs-left mul-txt font12">多选，最多 3 项</div>
									    <div class="qs-btn qs-btn-inline qs-btn-small qs-btn-border-orange qs-right js-cancelActionSheet" id="qs-temp-confirm-city">确定</div>
									    <div class="clear"></div>
								    </div>
								    <div class="s-list qs-hidden"></div>
							    </div>
							    <div class="f-box f-box-city"></div>
						    </div>
					    </div>
				    </div>
			    </div>
	    </div>
		<div class="btn-spacing">
			<a id="J_saveresume"  href="javascript:;" class="qs-btn qs-btn-blue font18">保存</a>
		</div>
	    <div class="split-block"></div>
	    <include file="public_qichen:footer_geren_2" />
	    <script src="../public/js/fastclick.js"></script>
<script>
    window.addEventListener( "load", function() {
        FastClick.attach(document.body);
    }, false );
</script>
<script src="../public/js/QSpopout.js"></script>
<script src="../public/js/QSfilter.js"></script>
<script src="../public/js/zepto.hwSlider.js"></script>
<script src="../public/js/scrollTo.js"></script>
<script src="../public/js/RongIMLib-2.2.8.min.js"></script>
<script src="../public/js/qs.action.js"></script>
<script src="../public/js/qs.select.js"></script>
<script src="../public/js/dialog.js"></script>
<script src="https://static.geetest.com/static/tools/gt.js"></script>
<if condition="$rong_state eq 1">
<script src="../public/js/rong_main.js"></script>
</if>
<script>
    if (!$('.foot_pub_box_list li').length) {
        $('#JFootPub').remove();
        $('.fix-footNav').addClass('n4');
    }
    // 锁定屏幕
    function lockTouchMove(){
        //document.body.addEventListener('touchmove', handler, { passive: false })
        $("body").bind("touchmove",function(event){event.preventDefault()});
    }

    // 解锁屏幕
    function unLockTouchMove(){
        //document.body.removeEventListener('touchmove', handler, { passive: false })
        $("body").unbind("touchmove");
    }
    // 服务
    function closeFootPub() {
        $('.JFootPubNav').removeClass('slideInUp animated').addClass('slideOutDown animated'); unLockTouchMove();
    }
    $('#JFootPub').off().on('click', function() {
        lockTouchMove();
        $('.JFootPubNav').removeClass('slideOutDown animated').addClass('slideInUp animated');
        // 关闭
        $('#JFootPubClose').off().on('click', function() { closeFootPub(); });
    });
    $('a[href]').click(function() {
        var f = $(this).attr('href');
        var reg = /\#(\w+)/;
        if (reg.test(f)) {
            if (!$(this).data('nm')) {
                return !1;
            }
        }
    });
    $(".js-back").on('click',function(){
        /*if (history.length == 1){
            window.location.href = '{:U("index/index")}';
        } else {
            history.back();
        }*/
        history.back();
    });
    /**
     * 监听鼠标
     */
    if ('ontouchstart' in window) {
        $.EVENT_START = 'touchstart';
        $.EVENT_END = 'touchend';
    } else {
        $.EVENT_START = 'mousedown';
        $.EVENT_END = 'mouseup';
    }
    $('.plist-txt, .qs-btn, .for-event').on($.EVENT_START, function() {
        $(this).addClass('eventactive');
        /*if($(this).find('input[type="text"]').length) {
            $(this).find('input[type="text"]').focus();
        }*/
    });
    $('.plist-txt, .qs-btn, .for-event').on($.EVENT_END, function() {
        $(this).removeClass('eventactive');
    });
    $('.plist-txt, .qs-btn, .for-event').on('touchcancel', function() {
        $(this).removeClass('eventactive');
    });
    $('.logout').on('click', function() {
        forCloseNav();
        $(document).dialog({
            type: 'confirm',
            content: '确定退出吗？',
            onClickConfirmBtn: function() {
                window.location.href = "{:U('Members/logout')}";
            }
        });
    });
    /**
     * 返回顶部
     */
    var global = {
        h: $(window).height(),
        st: $(window).scrollTop(),
        backTop: function() {
            global.st > (global.h * 0.5) ? $("#backtop").show() : $("#backtop").hide();
        }
    };
    /**
     * Notice 提醒公用方法
     * @param infoText 提示文字
     */
    function qsNotice(infoText) {
        $(document).dialog({
            type : 'notice',
            infoText: infoText,
            autoClose: 1500,
            position: 'center',
            dialogClass: 'dialog_toast'
        });
    }
    // 定义Toast图片路径
    var loadingImg = '../public/images/dialog/loading.gif',
        successImg = '../public/images/dialog/success.png',
        failImg = '../public/images/dialog/fail.png',
        warningImg = '../public/images/dialog/warning.png';
    /**
     * 正在加载中
     * @param infoText 内容
     */
    function qsToasting() {
        var infoContent = arguments[0] ? arguments[0] : '';
        var closeTime = arguments[1] === 0 ? arguments[1] : 1500;
        var $cuToasting = $(document).dialog({
            type : 'toast',
            infoIcon: loadingImg,
            infoText: infoContent,
            autoClose: closeTime
        });
        return $cuToasting;
    }
    /**
     * Toast 类型通知 用于需要反馈结果
     * @param msg 反馈内容
     * @param type 反馈类型 可以不传参数有默认值 0->失败 1->成功
     * @param obj 正在加载对象 用于更新Toast
     */
    function qsToast(msg, type, obj) {
        type = arguments[1] ? arguments[1] : 2;
        var icons = [failImg, successImg, warningImg];
        var setting = {
            type : 'toast',
            infoText: msg,
            infoIcon: icons[type],
            autoClose: 1500,
            dialogClass: 'dialog_toast'
        };
        if (obj){
            obj.update(setting);
        } else {
            return $(document).dialog(setting);
        }
    }
    // 锁定屏幕
    function lock_touchmove(){
        $("body").bind("touchmove",function(event){event.preventDefault();});
    }
    // 解锁屏幕
    function un_lock_touchmove(){
        $("body").unbind("touchmove");
    }
    // 弹出框登录
    function logDialog() {
        // 是否需要刷新页面
        var isRefresh = arguments[0] === 0 ? arguments[0] : 1;
        // 页面跳转链接
        var urlValue = arguments[1] ? arguments[1] : '';
        if(qscms.is_login > 0 && urlValue){
            window.location.href = urlValue;
            return !1;
        }
        var utype = arguments[2] ? arguments[2] : 0;
        // 正在加载
        var $logLoad = qsToasting('', 0);
        var loginUrl = "{:U('AjaxCommon/ajax_login')}";
        $.getJSON(loginUrl, {refresh: isRefresh, url: urlValue, utype:utype}, function(result){
            $logLoad.close();
            if(result.status==1){
                var $logPop = new QSpopout('亲，验证一下手机吧');
                $logPop.setContent(result.data);
                $('.qs-popout-ft').remove();
                $('.qs-popout-bd').addClass('no-pd');
                $logPop.show();
                // 关闭
                $('.closePopout').on('click', function() {
                    $('#popout').fadeOut(200);
                    $('#popout').remove();
                });
            } else {
                qsToast(result.msg, '', '');
            }
        });
    }
    // 如果文档高度不大于窗口高度，数据较少，删除页面中的无数据提醒
    function removeDropLoadDown() {
        var doc = document;
        var $doc = $(doc);
        var $dropDownEle = $('.dropload-down');
        var scrollContentHeight = $doc.height();
        var scrollWindowHeight = doc.documentElement.clientHeight;
        var threshold = Math.floor($dropDownEle.height()*1/3);
        if((scrollContentHeight - threshold) <= scrollWindowHeight){
            $dropDownEle.remove();
        }
    }
    //判断是不是iPhoneX，适配iPhoneX底部遮挡问题
    if (funJudgeX()) {
        $('.fix-footNav').addClass('iPhoneX');
        $('body').addClass('iPhoneX');
    }
</script>
<div class="qs-hidden">{:htmlspecialchars_decode(C('qscms_statistics'))}</div>
		<script src="../public/js/qsCategory.js"></script>
        <script src="../public/js/qsCityUser.js"></script>
	    <script type="text/javascript">
	        // 验证表单并提交
	        $('#J_saveresume').die().live('click', function() {
                // 有禁用class不执行，阻止多次点击
                if ($('#J_saveresume').hasClass('qs-btn-border-disabled')) {
                    return false;
                }
	            var pid = "{$resume.id}";
	            var currentValue = $.trim($('#current').val());
	            var natureValue = $.trim($('#nature').val());
	            var tradeValue = $.trim($('#trade').val());
	            var intentionJobsValue = $.trim($('#intention_jobs_id').val());
	            var districtValue = $.trim($('#district').val());
	            var wageValue = $.trim($('#wage').val());
	            var news = "{$Think.get.news}";
	            if (currentValue == "") {
	            	qsToast('请选择目前状态');
	                return false;
	            }
	            if (natureValue == "") {
	            	qsToast('请选择工作性质');
	                return false;
	            }
	            if (intentionJobsValue == "") {
	            	qsToast('请选择期望职位');
	                return false;
	            }
	            if (districtValue == "") {
	            	qsToast('请选择工作地区');
	                return false;
	            }
	            if (wageValue == "") {
	            	qsToast('请选择期望薪资');
	                return false;
	            }
                var cuToast = qsToasting('正在保存中');
	            $('#J_saveresume').text('保存中...');
                $(this).addClass('qs-btn-border-disabled');
	            // 提交表单
	            $.ajax({
	                url: "{:U('Personal/resume_edit_intent')}",
	                type: 'POST',
	                dataType: 'json',
	                data: {pid:pid,current: currentValue, nature: natureValue, trade: tradeValue, intention_jobs_id: intentionJobsValue, district: districtValue, wage: wageValue,news:news},
	                success:function(data){
	                    if (data.status == 1) {
	                    	if(data.data.attach!=''){
                                qsToast(data.data.attach, '', cuToast);
						    } else {
                                qsToast(data.msg, 1, cuToast);
						    }
                            setTimeout(function () {
                                window.location.href = data.data.url;
                            }, 2000);
	                    } else {
                            qsToast(data.msg, 0, cuToast);
	                        $('#J_saveresume').text('保存').removeClass('qs-btn-border-disabled');
	                    }
	                },
	                error:function(result){
                        qsToast(result.msg, '', cuToast);
	                    $('#J_saveresume').text('保存').removeClass('qs-btn-border-disabled');
	                }
	            });
	        });
	    </script>
	</body>
</html>