<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <qscms:parttime_jobs_show 列表名="info" 职位id="$_GET['id']"/>
    <include file="Home@default/public/meta" />
    <link href="{:C('TPL_HOME_PUBLIC_DIR')}/css/common.css" rel="stylesheet" type="text/css" />
    <link href="{:C('TPL_HOME_PUBLIC_DIR')}/css/common_ajax_dialog.css" rel="stylesheet" type="text/css" />
    <link href="{:C('TPL_PUBLIC_DIR')}/css/parttime.css" rel="stylesheet" type="text/css" />
</head>
<body>
<include file="Home@default/public/header_other" />
<div class="new-se-group show">
    <div class="new-se-main">
        <div class="jobstit">
            <div class="time">
                <div class="timebg">{$info['refreshtime_cn']}</div>
                <div id="J_jobs_click" class="timebg viewbg">{$info.click|default=0}次</div>
                <div class="clear"></div>
            </div>
            <div class="jobname">
                <div class="j-n-txt">{$info.jobs_name}</div>
                <div class="clear"></div>
            </div>
            <div class="wage">{$info.wage}元/{$info['wage_type_cn']}【{$info['settlement_cn']}】<if condition="$info['wage_remark']">（{$info['wage_remark']}）</if></div>
            <div class="btns">
                <div class="app apply_jobs">立即报名</div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>
<div class="jobsshow">
    <div class="l">
        <div class="main">
            <div class="item">
                <div class="tit">基本信息</div>
                <div class="itemli"><span>兼职类型</span>{$info.category_cn}</div>
                <div class="itemli"><span>招聘人数</span>{$info.amount}人</div>
                <div class="clear"></div>
                <div class="itemli"><span>工作地区</span>{$info.district_cn}</div>
                <div class="itemli"><span>工作周期</span><eq name="info['long_period']" value="1">长期招聘<else />{:date('Y.m.d',$info['cycle_starttime'])} ~ {:date('Y.m.d',$info['cycle_endtime'])}</eq></div>
                <div class="clear"></div>
                <div class="itemli"><span>详细地址</span>{$info.address}</div>
                <div class="clear"></div>
                <div class="itemli" style="width:600px;height:200px;">
                    <span class="fl">工作时间</span>
                    <div class="w500 work-time fl show">
                        <table class="table font12">
                            <tbody><tr>
                                <th>&nbsp;</th>
                                <th>周一</th>
                                <th>周二</th>
                                <th>周三</th>
                                <th>周四</th>
                                <th>周五</th>
                                <th>周六</th>
                                <th>周日</th>
                            </tr>
                            <tr>
                                <th>上午</th>
                                <td <if condition="in_array('0101',$info['worktime'])">class="active"</if>></td>
                                <td <if condition="in_array('0201',$info['worktime'])">class="active"</if>></td>
                                <td <if condition="in_array('0301',$info['worktime'])">class="active"</if>></td>
                                <td <if condition="in_array('0401',$info['worktime'])">class="active"</if>></td>
                                <td <if condition="in_array('0501',$info['worktime'])">class="active"</if>></td>
                                <td <if condition="in_array('0601',$info['worktime'])">class="active"</if>></td>
                                <td <if condition="in_array('0701',$info['worktime'])">class="active"</if>></td>
                            </tr>
                            <tr>
                                <th>下午</th>
                                <td <if condition="in_array('0102',$info['worktime'])">class="active"</if>></td>
                                <td <if condition="in_array('0202',$info['worktime'])">class="active"</if>></td>
                                <td <if condition="in_array('0302',$info['worktime'])">class="active"</if>></td>
                                <td <if condition="in_array('0402',$info['worktime'])">class="active"</if>></td>
                                <td <if condition="in_array('0502',$info['worktime'])">class="active"</if>></td>
                                <td <if condition="in_array('0602',$info['worktime'])">class="active"</if>></td>
                                <td <if condition="in_array('0702',$info['worktime'])">class="active"</if>></td>
                            </tr>
                            <tr>
                                <th>晚上</th>
                                <td <if condition="in_array('0103',$info['worktime'])">class="active"</if>></td>
                                <td <if condition="in_array('0203',$info['worktime'])">class="active"</if>></td>
                                <td <if condition="in_array('0303',$info['worktime'])">class="active"</if>></td>
                                <td <if condition="in_array('0403',$info['worktime'])">class="active"</if>></td>
                                <td <if condition="in_array('0503',$info['worktime'])">class="active"</if>></td>
                                <td <if condition="in_array('0603',$info['worktime'])">class="active"</if>></td>
                                <td <if condition="in_array('0703',$info['worktime'])">class="active"</if>></td>
                            </tr></tbody>
                        </table>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="contact">
                <div class="tit">联系方式</div>
                    <div class="txt">
                        联系人：{$info.contact}
                    </div>
                    <div class="clear"></div>
                    <div class="txt">联系电话：<span class="tel">{$info.show_mobile}</span></div>
                    <div class="clear"></div>
                    <div class="teltip">若商家要求缴纳费用或押金，请提高警惕并向我们举报！</div>
            </div>
            <div class="describe">
                <div class="tit">职位描述</div>
                <div class="txt">{:nl2br($info['contents'])}</div>
                <div class="appjob">
                    <div class="appbtn apply_jobs">立即报名</div>
                    职位常有，机会不常有，愿你能把握好每一次机会。
                </div>
            </div>
        </div>
    </div>
    <div class="r">
        <div class="comqrcode">
            <div class="code"><img src="{:C('qscms_site_dir')}index.php?m=Home&c=Qrcode&a=index&url={:urlencode(build_mobile_url(array('c'=>'Parttime','a'=>'show','params'=>'id='.$info['id'])))}" /></div>
            <div class="codetxt">扫描二维码即可在手机端精彩呈现“兼职招聘”，一键分享到朋友圈为招聘助力！</div>
            <div class="clear"></div>
        </div>
    
        <qscms:parttime_jobs_list 列表名="otherjobs" 显示数目="10" 兼职类型="$info['category']" 去除id="$_GET['id']" 描述长度="76" 填补字符="..."/>
        <div class="comjobs">
            <div class="tit">
                <div class="t">更多相似职位</div>
                <div class="more link_gray6"><a href="{:url_rewrite('QS_parttime')}">更多</a></div>
                <div class="clear"></div>
            </div>
            <notempty name="otherjobs['list']">
            <volist name="otherjobs['list']" id="jobs">
                <div class="list">
                    <div class="jobname link_blue"><a href="{$jobs.url}">{$jobs.jobs_name}</a></div>
                    <div class="wage">{$jobs['wage']}元/{$jobs['wage_type_cn']}({$jobs['settlement_cn']})</div>
                    <div class="clear"></div>
                    <div class="txt">
                        <div class="line_substring" title="{$jobs.district_cn}">{$jobs.district_cn}</div><span>|</span>{$jobs.category_cn}
                    </div>
                </div>
            </volist>
            <else />
            <div class="list">
                暂无其他相似职位
            </div>
            </notempty>
        </div>
    </div>
    <div class="clear"></div>
</div>
<include file="Home@default/public/footer_min" />
<script src="https://static.geetest.com/static/tools/gt.js"></script>
<script type="text/javascript">
    $('.apply_jobs').click(function(){
        var id = "{$info['id']}";
        $.getJSON("{:U('Parttime/Index/check_apply_cache')}",{pid:id},function(r){
            if(r.status==1){
                disapperTooltip('success',r.msg);
            }else{
                var qsDialog = $(this).dialog({
                    title: '报名',
                    loading: true,
                    footer: false,
                    header: false,
                    border: false,
                    backdrop: false
                });
                $.getJSON("{:U('Parttime/Index/apply')}",{id:id},function(result){
                    if(result.status == 1){
                        qsDialog.hide();
                        var qsDialogSon = $(this).dialog({
                            title: '报名',
                            content: result.data,
                            footer:false
                        });
                    } else {
                        qsDialog.hide();
                        disapperTooltip('remind',result.msg);
                    }
                });
            }
        });
        
    });
</script>
</body>
</html>