<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
		<meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
		<title>在职人员注册</title>
		<link rel="stylesheet" href="../public/g/css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="../public/g/css/register.css" />
		<link rel="stylesheet" href="../public/css/common1.css" />
		<style>
			.butyzm {
				right: 0px;
				position: absolute;
				top: 10px;
			}
			
			.phone-yzm {
				position: relative;
			}
			.content {
				height: 400px;
			}
			.textarea {
				height: 400px;
				overflow-y: scroll;
			}
		</style>
	</head>

	<body style="background: #fff;">

		<div class=" login_news">
			<form class="form1 form2" method="post">
				<div>
					<img src="../public/g/img/yh.png">
					<input id="name" type="text" name='name' value='' placeholder="姓名" />
				</div>
				<div>
					<img src="../public/g/img/sf.png">
					<input id="id_card" type="text" name='id_card' value='' placeholder="身份证编号" />
				</div>
				<div>
					<img src="../public/g/img/car.png">
					<input id="company" type="text" value='' placeholder="现任职公司" />
					<input type="hidden" id="com_id" name="com_id">
				</div>
				<div>
					<img src="../public/g/img/shouji.png">
					<input id="mobile" type="text" name='mobile' value='' placeholder="手机号" />
				</div>

				<div>
					<img src="../public/g/img/sf.png">
					<input id="gongzi_card" type="text" name='gongzi_card' value='' placeholder="工资卡号" />
				</div>
				
				

				<div class="login_button" style="border-bottom:none;">
					<button type="button" id='tijiao'>立即注册</button>
				</div>

			</form>
		</div>

	</body>

</html>
<script type="text/javascript" src="../public/g/js/jQuery-v1.1.min.js"></script>
<script type="text/javascript" src="../public/js/alertPopShow.js"></script>
<script>
	$(document).ready(function(){
		$('#company').blur(function(){
			var companyname = $(this).val();
			$.post("{:U('get_com')}",{companyname:companyname},function(data){
				if(data.status == 1){
					$("#com_id").val(data.data.id);
				}
				if(data.status == 0){
					$("#com_id").val('');
					alert('请输入正确的企业名称');
				}
			});
		});

		$("#tijiao").click(function(){
			var name = $("#name").val();
			var id_card = $("#id_card").val();
			var com_id = $("#com_id").val();
			var mobile = $("#mobile").val();
			var gongzi_card = $("#gongzi_card").val();
			if(name==""){
				alert('请输入姓名');
				return false;
			}
			if(id_card==""){
				alert('请输入身份证编号');
				return false;
			}
			if(com_id==""){
				alert('请输入正确企业名称');
				return false;
			}
			if(mobile==""){
				alert('请输入手机号码');
				return false;
			}
			if(gongzi_card==""){
				alert('请输入工资卡号');
				return false;
			}

			$.post("{:U('member_binds')}",{name:name,mobile:mobile,gongzi_card:gongzi_card,id_card:id_card,com_id:com_id},function(data){
				if(data.status == 1){
					alert(data.msg);
					if(data.dialog != ''){
						window.location.href=data.dialog;
					}else{
						return false;
					}
				}
				if(data.status == 0){
					alert(data.msg);
					if(data.dialog != ''){
						window.location.href=data.dialog;
					}else{
						return false;
					}
				}
			})

		});
	});
	//弹出员工守则
	popTipShow.confirm('济南启辰人力资源管理有限公司员工手册','<div class="textarea">济南启辰人力资源管理有限公司员工手册</br>' +
			'总则</br>' +
			'第一条、本公司为明确规定公司与员工双方权利与义务，促进双方关系的和谐，为公司持续经营方针，并顾及公司与员工之间基于互惠、互利、平等协商原则，依据《中华人民共和国劳动法》制定本手册。</br>' +
			'第二条、本手册所称员工系与公司发生工作关系，由公司正式接受雇用并依据规定签订劳动合同及领有工资者，但因业务需要临时雇用的短期员工，以签订的临时用工合同约定的权利义务为准。</br>' +
			'第三条、本手册之专有名称如下：</br>' +
			'一、公司---即指济南市启辰人力资源管理有限公司；</br>' +
			'二、经营管理者---指的是公司主管级以上人员；</br>' +
			'三、员工---每位与公司发生工作关系，已由公司正式接受为员工，并依据劳动合同书内规定领有工资者；</br>' +
			'四、职务、工作---员工依据劳动合同书内规定，而应履行之权利和义务的内容；</br>' +
			'五、职务行为---指以公司员工身份所为的经营管理行为，以及会影响其正常履行职务的个人行为；</br>' +
			'六、工资---员工履行职务所得之酬劳金，其酬劳条件系依双方签订合同书或国家法令规定而行，并含一切奖金、津贴在内；</br>' +
			'七、惩罚---触犯本手册及公司其它管理制度（包括安全规则）而被处罚者；</br>' +
			'八、奖励---对在公司工作上有特殊表现所得之代价；</br>' +
			'九、申戒、警告---员工因犯错违规而案情轻微者之惩戒记录；</br>' +
			'十、小过、大过---员工因犯错违规而案情严重者之惩戒记录；</br>' +
			'十一、工作证---员工身份之证明卡；</br>' +
			'十二、公假---依政府法令及公司规定应给公假者；</br>' +
			'十三、公出---员工因公务需要于上班时间内离开岗位出司（厂）办理公务；</br>' +
			'十四、出差――员工因公务需要前往济南市以外地区者。</br>' +
			'第四条、一般规定</br>' +
			'一、经营管理者依现行管理规定，代表公司指派或分配员工工作；</br>' +
			'二、员工对于主管指定有利于公司之工作，均有义务履行之；</br>' +
			'三、凡员工触犯《员工手册》，其主管应对其采取职务上或一般性之惩罚；</br>' +
			'四、经营管理者为公司代表执行人，有义务履行本《员工手册》。</br>' +
			'第二章：聘用</br>' +
			'第五条、本公司按编制及业务之需要聘用员工，由用人部门主管填写《人员需求申请单》，送行政人事部审核，呈总经理批准后，办理招聘或内部调配。</br>' +
			'第六条、凡应聘人员有下列情形之一者，不予录用：</br>' +
			'一、政府规定不得雇佣者（未满16岁的男女青年）；</br>' +
			'二、经本公司认可医院实施体检检查不合格者，或经发现有恶性传染病者；</br>' +
			'三、曾在本公司及相关企业被开除或未经批准而擅自离职者；</br>' +
			'四、经查学历和工作履历不实、弄虚作假者；</br>' +
			'五、认定不适担任本公司工作者。</br>' +
			'第七条、应聘人员依下述面试程序办理：</br>' +
			'一、应聘人员面试时由行政人事部办理填写个人资料履历表；</br>' +
			'二、向行政人事部提供有关证件；</br>' +
			'三、依需要作智力或针对性专业知识之测验；</br>' +
			'四、经人事部门初试合格后通知用人部门主管复试；</br>' +
			'五、验证有关证件及工作履历；</br>' +
			'六、呈总经理批准录用；</br>' +
			'七、资料转回行政人事部备案。</br>' +
			'第八条、应聘人员经核准雇用，应于接到通知后，按指定日期及时亲自办理报到手续，并缴验下列文件：</br>' +
			'一、居民身份证（影印后退还）；</br>' +
			'二、学历证明正本（影印后退还）；</br>' +
			'三、职称证（有职称者）；</br>' +
			'四、婚姻状况证明、计划生育证明、独生子女证的复印件；</br>' +
			'五、体检表或身体健康证明表；</br>' +
			'六、最近三个月内正面半身1寸照片四张；</br>' +
			'七、待业证或原工作单位终止劳动合同的证明；</br>' +
			'八、其他经指定应缴之文件。</br>' +
			'第九条、本公司雇用人员除特殊情形经核准免予试用，或缩短试用期外，在试用期间，均应签订合同（试用期三至六个月，含受训期间，试用期包含在合同期内），请事、病、伤假不予列计。</br>' +
			'新员工由行政人事部填写《试用安排表》，经核准指派专人进行辅导或培训。</br>' +
			'试用期间，本公司指定辅导人员帮助新员工接受脱产集中培训和在职培训。辅导人员的职责包括向新员工介绍本部门职能、人员情况、讲解本职工作内容和要求，帮助了解公司有关规则和规定，为新员工安排脱产集中培训的时间，确认并协助取得《员工手册》等资料。任何有关工作的具体事务，如确定工作岗位、技术要求、领取办公用品、机器使用、纪律遵守、用餐等，新员工都可咨询辅导人员。</br>' +
			'在试用期间，如果新员工感到公司实际状况、发展机会与预期有较大差距，或由于其它原因而决定离开，可提出辞职，并按规定办理离职手续；相应的，如果职员的工作无法达到本公司要求，公司也会终止对其的试用。</br>' +
			'在试用期内，新员工表现突出，试用部门可提出提前正式转正。</br>' +
			'试用期满，试用部门对试用员工进行转正考核，并填写《新员工转正考核表》，送行政人事部，经考核合格者，于期满次日起转正为正式员工；经考核不合格者，给予解除合同，并不发任何补偿费。</br>' +
			'第十条、经本公司雇用经管财务、出纳、采购、库管、司机、警卫、营销、研发及公司认定其有必要者，应于到职前（特许者在到职后两星期内）办妥连带保证手续，其保证人应具有下列资格：</br>' +
			'一、中国国藉、有固定处所和正式职业，20岁以上公民；</br>' +
			'二、经本公司认为有资格者。</br>' +
			'第十一条、被保证人任职本公司期间，如有下列情形之一者，连带保证人应负连带责任：</br>' +
			'一、侵占或亏空公款（物）者；</br>' +
			'二、不法毁损公物者；</br>' +
			'三、不法毁损、拷贝、转移电脑软件或数据资料者；</br>' +
			'四、不依公司规定擅自越权处理业务，致公司发生损害者；</br>' +
			'五、离职时移交不清者。</br>' +
			'第十二条、行政人事部接到保证书应即予对保，如有不合格者，应立即通知换保。</br>' +
			'第十三条、被保证人离职时，应将经管事物移交完毕三个月后，始得由公司发还原保证书，解除保证责任。</br>' +
			'第十四条、人事安排</br>' +
			'公司有权依业务工作需要安排员工之工作部门、委任、调迁、奖励惩罚、解雇及考核等事项。</br>' +
			'第十五条、工作调动</br>' +
			'一、因公司业务之需要，员工得服从公司之调动命令及其服务地点；</br>' +
			'二、员工若借故推诿、拒绝调遣服务地点时，公司将视情况决定对其终止雇用与否。</br>' +
			'第三章：考勤</br>' +
			'第十六条、出勤时间</br>' +
			'一、每日正常之工作时间8小时，每周工作40小时；</br>' +
			'周一至周五9：00-18：00</br>' +
			'二、各部门出勤及作息时间依实际需要由公司订定。</br>' +
			'第十七条、打卡</br>' +
			'一、员工每日上下班时，应亲自至打卡地点依规定打卡：打上班卡应于规定上班时间前三十分钟以内打卡；</br>' +
			'二、托人打卡及代人打卡者，经查明属实，均记大过一次。</br>' +
			'第十八条、忘打卡</br>' +
			'一、员工于规定时间上（下）班忘打卡者（包括加班），不得重打卡，应于行政人事部填写忘打卡证明单，呈直属部门主管或经理签证后，送行政人事部处理；</br>' +
			'二、经查忘打卡之申请如有不实情事，除当日以旷工论外，申请人记大过一次，其签证主管或经理视情节轻重酌于连带处分；</br>' +
			'三、如忘打卡事后三天内未及时呈主管批示的，行政人事部将视本日未出勤论。一个月内有二次忘打卡未签字的，给予警告处分一次。每增加一次以记小过处分。</br>' +
			'第十九条、迟到、早退、旷工</br>' +
			'本公司员工上（下）班如有迟到、早退情况依下列规定办理：</br>' +
			'一、上班时间后3分钟至30分钟始上班者视为迟到；迟到30分钟以上视为旷工</br>' +
			'二、擅自缺勤或未经主管同意，不服从加班安排者，视为旷工，并视情节给予其警告或小过处分一次；</br>' +
			'三、员工无正当理由提前下班者视为早退，未经主管核准一律以旷工论；</br>' +
			'四、未经准假或假期届满未获准续假而擅自不上班者，以旷工论计，连续旷工超过3日，或全年累计旷工超过5天的。公司可不经预告，给予开除；</br>' +
			'五、对每月漏打卡两次及以上员工，每次扣工资10元。对迟到员工每次扣工资50元</br>' +
			'第二十条、出差</br>' +
			'员工出差当天不能返回的，应填写《出差申请单》，呈部门主管或经理核准后送行政人事部备案；如于上班时间中开始出差者，须填写《员工外出申请》经主管或经理批准后方可外出。有关费用申报，依据《出差管理办法》办理。</br>' +
			'第二十一条、公出</br>' +
			'一、办理：员工因公务需要，于上班中离开岗位或公司者，应填写“员工外出申请”呈部门主管或经理核准后方可公出；</br>' +
			'第四章：工资与给付规定</br>' +
			'第二十二条、本手册所称工资系指员工因工作所获得之报酬，包括基本薪资、生活津贴、绩效工资等，并以转账方式给付。</br>' +
			'第二十三条、工资结构</br>' +
			'一、基本薪资：依深圳物价状况及公司实际予以核定给付；</br>' +
			'二、生活津贴：含住房、通讯、交通等补助的一种津贴；</br>' +
			'三、绩效工资：依个人业绩水平、工作态度等核定的工资；</br>' +
			'四、职务加级：依担任一定主管以上职务责任的津贴；</br>' +
			'五、特殊津贴：为因特殊状况核给的津贴。</br>' +
			'第二十四条、公司发放工资日期为每月的25日，支付的是员工上月1日至31日的工资。若支付日遇节假日或休息日，则顺延。</br>' +
			'员工工资将可能在如下情况下发生调整：</br>' +
			'一、工工资常规调整，即指公司有可能根据经营业绩情况、社会综合物价水平的较大幅度变动而相应调整员工工资；</br>' +
			'二、公司将定期根据员工的工作业绩和工作能力进行奖励性工资晋级，其对象为岗位工作中成绩显著者；促进企业经营管理，提高经济效益方面成绩突出者；公司认为应奖励的其他人员；</br>' +
			'三、员工在考核中，被所在部门认为工作绩效低于平均水平，将可能被降低工资；</br>' +
			'四、员工职务发生变动，其工资相应进行调整，其工资必须在该职务级别工资范围之内。</br>' +
			'第二十五条、试用期内员工离职情况的工资给付规定</br>' +
			'一、试用期内公司决定辞退之员工，工资按实际工作日给付；</br>' +
			'二、试用期内员工自行提出辞职情况：</br>' +
			'1、办公室职员等员工在录用后，实际工作不满一个星期而自行辞职的，工资抵培训费用,不予给付；</br>' +
			'2、一般作业员工在录用后，实际工作不满5个工作日而自行辞职的，工资抵培训费用,不予给付。</br>' +
			'第五章：员工权利</br>' +
			'第二十六条、每个员工有享受宪法规定之公民权利与中国法律给予之权利,且不容侵犯。</br>' +
			'第二十七条、员工有享受劳动安全与保护之权利。</br>' +
			'第二十八条、有按员工手册规定休息与休假之权利。</br>' +
			'第二十九条、有参加公司组织之民主管理权利。</br>' +
			'第三十条、有对公司发展提出建议与评价之权利。</br>' +
			'第三十一条、有按公司规定以劳动取得报酬之权利。</br>' +
			'第三十二条、有按公司规定享受福利待遇之权利。对于明显违反《员工手册》的指令，员工有权拒绝执行并有越级上报的责任和权力。对违反人事管理制度，使员工自身利益受到侵犯的行为，员工有向总经理申诉以得到公正待遇之权利。</br>' +
			'第三十三条、对公司名义之处罚、报酬、休假等发生争议时，有向政府劳动管理机关申请调解仲裁或向法院起诉之权利。</br>' +
			'第三十四条、对公司作出特殊贡献者有享受公司物质及精神奖励之权利。</br>' +
			'第六章：员工职责</br>' +
			'第三十五条、员工职责</br>' +
			'一、员工务必遵守公司之规章制度；</br>' +
			'二、员工对公司指派之工作务必尽责；</br>' +
			'三、员工上班时间均应配戴工作证；</br>' +
			'四、厂牌应妥善保管，遗失时，应即附照片一张，连同工本费20元，送行政人事部门补发新证，不得借用或使用他人厂牌；损坏时，应至行政人事部门以旧换新；</br>' +
			'五、工作时间内应尽职责，除特殊情况经主管许可外，不得擅离职守；</br>' +
			'六、下班离开前，应先清理自己的办公场所或工作场所；</br>' +
			'七、员工应对主管指派之任务尽力执行，并将工作执行情况呈报主管；</br>' +
			'八、员工因职务关系所获得之有关公司机密，务必尽义务保密；</br>' +
			'九、员工务须爱惜公司授予使用之公物；</br>' +
			'十、应就工作场所的各种机会学习训练，以提高工作技能；</br>' +
			'十一、工作场所应保持整洁，避免发生不必要之灾害；</br>' +
			'十二、未经主管许可，不得将职务转托他人代办；</br>' +
			'十三、员工有下列事项之一变动时，应于事发后一星期内向公司行政人事部门报备之：</br>' +
			'1、员工之住址；</br>' +
			'2、家庭状况（如结婚、离婚、生育、家庭成员动态等）；</br>' +
			'3、女员工的妊娠、预产期；</br>' +
			'4、通讯电话和紧急时间联系人。</br>' +
			'第三十六条、员工与本公司解除劳动合同时，应将公司授予使用之工作装备、厂牌、员工手册、文件等物归还公司，若与公司仍有债务时，必须偿还了结。</br>' +
			'第三十七条、员工与公司仍订有劳动合同之期内，不得再与他方另有雇用关系。</br>' +
			'第三十八条、员工须遵守安全卫生规则及配戴各项安全装备，并应注重本身和顾及他人安全。</br>' +
			'第三十九条、员工务必妥善地维护及保养其工作器具与设备。</br>' +
			'第四十条、保密义务</br>' +
			'一、员工有义务保守公司的经营机密。员工务必妥善保管所持有的涉密文件；</br>' +
			'二、员工未经公司授权或批准，不准对外提供标有密级的公司文件，以及其它未经公开的经营情况、业务数据；</br>' +
			'三、管理人员、涉及技术资料的人员严禁泄漏公司技术机密。</br>' +
			'第七章：培训与发展</br>' +
			'第四十一条、为增进专业知识及工作技能熟练以确定员工将来之职位，公司将举办职业训练。如对员工提供职训机会，结训后须进行考核，或呈送职训心得报告书经上级核签，副本送人事部门。员工不得拒绝参与职训。</br>' +
			'第四十二条、外派中长期培训，公司将与员工签订《培训协议书》,明确双方权利义务和相应服务期。</br>' +
			'第四十三条、培训教育是公司及员工均应履行的义务。规定公司确定的培训计划所通知的参加人员，均应准时参加，有事均应事先请假，经主管批准后方可缺席，擅自缺席人员以缺习时间长短视作旷工处理。</br>' +
			'一、公司以为员工提供可持续发展的机会和空间为责任。在公司，员工勤奋的工作除可以获得薪金、享有福利以外，更可以得到公司适时提供的训练和发展机会；</br>' +
			'二、在公司除获得正规培训以外，员工还将自觉或不自觉地得到其他收获。如：员工将学到怎样善用时间；员工将学到如何发挥团队精神；员工将学会如何管理、激励、培训其他人；员工将学到更为有用的专业知识；员工的经验将是基层迈向更高职位的起点；员工在本公司的经历将有助于其从事其他相关工作。</br>' +
			'第八章：劳动合同</br>' +
			'第四十四条、为确立公司与员工的劳动关系，明确双方的权利与义务，公司实施全员劳动合同制管理。</br>' +
			'第四十五条、合同签订、续订、变更和解除：</br>' +
			'一、新入职的员工，公司将在员工入职后与其签订劳动合同；</br>' +
			'二、对于有固定期限的劳动合同，公司与员工双方同意在劳动合同期满后续签劳动合同的，应在原合同期满前三十日内重新订立劳动合同；</br>' +
			'三、公司与员工双方经协商同意，可以变更或者解除劳动合同；</br>' +
			'四、员工有下列情形之一的，公司可以解除劳动合同，且可以不支付经济补偿：</br>' +
			'1、在试用期内被证明不符合录用条件的；</br>' +
			'2、严重违反劳动纪律或公司规章制度的；</br>' +
			'3、严重失职、营私舞弊，对公司利益造成重大损害的；</br>' +
			'4、被依法追究刑事责任的。</br>' +
			'五、有下列情形之一的，公司可以解除劳动合同，但应提前三十日以书面形式通知员工本人：</br>' +
			'1、员工患病或非因工负伤，医疗期满后不能从事原工作也不能从事由公司另行安排的工作的；</br>' +
			'2、员工不能胜任工作，经过培训或者调整工作岗位，仍不能胜任工作的；</br>' +
			'3、劳动合同订立所依据的客观情况发生重大变化，致使原劳动合同无法履行，经当事人协商不能就变更劳动合同达成一致协议的；</br>' +
			'4、公司经营困难发生经济性裁员的。</br>' +
			'六、员工解除劳动合同，应当提前三十日以书面形式通知公司。如未能提前通知公司，给公司造成经济损失的，应根据国家有关劳动法规定承担违约责任。试用期人员离职应提前7天提出申请，但视实际情况经批准获提前离职者不在此限。</br>' +
			'第四十六条、完备离职手续</br>' +
			'一、双方终止或解除劳动合同，员工在离职前均必须完备离职手续，未完备离职手续擅自离职者，公司将按旷工处理或扣留未领工资。离职手续包括：</br>' +
			'1、处理工作交接事宜；</br>' +
			'2、按《离职表》要求办理离职手续；</br>' +
			'3、交还所有公司资料、工作服、文件、办公用品、《员工手册》及其它公物；</br>' +
			'4、住宿者退还公司宿舍及房内公物，并到总务部门办理退宿手续；</br>' +
			'5、报销公司账目，归还公司欠款；离职人员应办妥职务移交手续，若有借款或移交不清楚者，从其剩余工资扣款，不足扣缴且不予处理者，依法追究相应责任；</br>' +
			'6、员工违约或提出解除劳动合同时，应按合同规定，归还在劳动合同期限内的有关费用；</br>' +
			'7、如与公司签定有其它合同，按其它合同的约定办理；</br>' +
			'8、重要岗位管理人员离职，公司将安排离职审计；</br>' +
			'9、辞退或开除之员工必须在办完手续后立即离开本公司。</br>' +
			'第四十七条、纠纷处理</br>' +
			'合同过程中的任何劳动纠纷，员工可通过申诉程序向上代表公司的人事部门申诉，公司不能解决时可向本地劳动行政管理部门劳动仲裁机构申诉。</br>' +
			'第九章：劳动保险与劳动保护</br>' +
			'第四十八、劳动保险：</br>' +
			'一、本公司员工参加劳动保险，均按国家与本地区之规定办理；</br>' +
			'二、医疗保险及工伤保险：按本地区规定办理；</br>' +
			'三、本公司根据需要为员工购买商业保险。</br>' +
			'第四十九条、劳动保护</br>' +
			'一、本公司员工应重视安全管理规则及安全操作规程并提升操作技术水平，积极参与安全教育及技术培训；</br>' +
			'二、员工在执行任务时，应配戴安全保护装备；</br>' +
			'三、禁止在灭火器周围堆积物品，或肆意玩弄灭火器，以免急需取用时受阻；</br>' +
			'四、不得在禁烟区吸烟或引火；</br>' +
			'五、厂区失火时，全体员工有义务协助投入救火工作；</br>' +
			'六、为照顾员工之健康，公司将视需要办理健康检查；</br>' +
			'七、公司有权禁止或解雇患有传染病之员工参与工作，每位员工对同事间知悉有传染病者，均有义务呈报行政人事部门处理，以确保多数员工安全；</br>' +
			'八、工伤发生后按《安全生产管理制度》处理，相关部门在规定时间提出书面事故调查报告。</br>' +
			'第十章：附则</br>' +
			'第五十条、本《员工手册》经总经理批准后实施，修正时亦同。</br>' +
			'第五十一条、本公司员工务必了解本手册一切内容，并不得以未悉为由而免除责任。</br>' +
			'第五十二条、被派遣至其他单位工作的员工，应遵守实际用工的单位的相关守则。</br>' +
			'第五十三条、本规则不尽之处，参照国家法律法规及公司其他规章制度执行。</br>' +
			'第五十四条、员工入职不满五天离职者，员工工资抵扣公司对该员工的培训费用，不再对员工另行结算</br>' +
			'第五十五条、本员工手册在员工入职伊始，对员工通过纸质或通过注册本司公众号对员工进行公示，员工一旦注册微信公众号，视为知悉本员工手册。</br></div>',['确 定','取 消'],
			function(e){
				//callback 处理按钮事件
				var button = $(e.target).attr('class');
				if(button == 'ok'){
					//按下确定按钮执行的操作
					//todo ....
					this.hide();
					setTimeout(function() {
						webToast("欢迎你入职！赶紧注册吧！！！","top", 2000);
					}, 300);
				}

				if(button == 'cancel') {
					//按下取消按钮执行的操作
					//todo ....
					this.hide();
					setTimeout(function() {
						webToast("员工手册要仔细阅读哦！","bottom", 2000);
					}, 300);
				}
			}
	);
</script>