<include file="Admin@default/public/header"/>

<div class="seltpye_x">
    <div class="left">分类名称</div>
    <div class="right">
        <a href="{:P(array('type'=>'job'))}" <eq name='Think.get.type' value='job'>class="select"</eq>>岗位类型</a>
        <a href="{:P(array('type'=>'stage'))}" <eq name='Think.get.type' value='stage'>class="select"</eq>>服务类型</a>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>

<form action="{:U('Rpo/Admin/save_all_cate')}" id="form1" name="form1" method="post">
    <div class="list_th">
        <div class="td" style=" width:30%;">
            <label id="chkAll" class="left_padding">
                <input type="checkbox" name="chkAll" id="chk" title="全选/反选"/>名称
            </label>
        </div>
        <div class="td" style=" width:40%;">描述</div>
        <div class="td" style=" width:10%;">是否显示</div>
        <div class="td" style=" width:10%;">排序</div>
        <div class="td" style=" width:10%;">
            <div class="list_right">操作</div>
        </div>
        <div class="clear"></div>
    </div>

    <volist name="list" id="vo">
        <div class="list_tr link_bk">
            <div class="td" style=" width:30%;">
                <div class="left_padding striking">
                    <input name="cid[]" type="checkbox" value="{$vo.cid}" id="{$vo.cid}"/>
                    <input name="save_cid[]" type="hidden" value="{$vo.cid}"/>
                    <input name="title[]" type="text" class="input_text_default small" maxlength="50"
                           value="{$vo.title}"/>
                    <span style="color:#999999; margin-left: 5px; font-size: 13px;">(id:{$vo.cid})</span>
                </div>
            </div>
            <div class="td" style=" width:40%;">
                <input name="desc[]" type="text" class="input_text_default small" value="{$vo.desc|default='-'}" style="width:350px;"/>
            </div>
            <div class="td" style=" width:10%;">
                <div data-code="0,1" class="imgchecked_small <eq name='vo.display' value='1'>select</eq>">
                    <input name="display[]" type="hidden" value="{$vo.display}" />
                </div>
                <div class="clear"></div>
            </div>
            <div class="td" style=" width:10%;">
                <input name="sort[]" type="text" class="input_text_default small" maxlength="3" value="{$vo.sort|default=0}" style="width:50px;"/>
            </div>
            <div class="td edit" style=" width:10%;">
                <div class="list_right btn">
                    <a href="{:U('Rpo/Admin/edit_cate',array('cid'=>$vo['cid']))}">修改</a>
                    <a href="{:U('Rpo/Admin/del_cate',array('cid'=>$vo['cid']))}" class="gray" onclick="return confirm('你确定要删除吗？')">删除</a>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </volist>

    <empty name="list">
        <div class="list_empty">没有任何信息！</div>
    </empty>

    <div class="list_foot">
        <div class="btnbox">
            <input type="submit" class="admin_submit" id="ButSave" value="保存分类"/>
            <input type="button" class="admin_submit" id="ButAdd" value="添加分类" onclick="window.location='{:U('Rpo/Admin/add_cate',array('type'=>I('get.type')))}'"/>
            <input type="button" class="admin_submit" id="ButDel" value="删除所选"/>
        </div>
        <div class="footso"></div>
    </div>
</form>

</div>
<include file="Admin@default/public/footer"/>
<script type="text/javascript">
$(document).ready(function(){
    // 批量删除
    $("#ButDel").click(function () {
        var ids = $("input[name='cid[]']:checked");
        if(ids.length == 0){
            disapperTooltip('remind','请选择分类！');
        } else {
            if(confirm('确定删除吗？')){
                $("#form1").attr("action","{:U('Rpo/Admin/del_cate')}");
                $("#form1").submit();
            }
        }
    });
});
</script>
</body>
</html>