<include file="Admin@default/public/header" />
<div class="toptip">
    <div class="toptit">提示：</div>
    <p>您可以修改关键字搜索次数来改变关键词排序</p>
</div>

<div class="toptit">新增关键词</div>
<form action="{:U('hotword_add')}" method="post" name="FormData">
    <div class="form_main width120">
        <div class="category_tpl">
            <div class="fl">关键词:</div>
            <div class="fr">
                <input name="w_word[]" type="text" class="input_text_default middle" maxlength="20" value=""/>
            </div>
            <div class="fl">搜索次数:</div>
            <div class="fr">
                <input name="w_hot[]" type="text" class="input_text_default middle" maxlength="3" value="1" onkeyup="if(event.keyCode !=37 && event.keyCode != 39) value=value.replace(/\D/g,'');"onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/\D/g,''))" placeholder="数字越大越靠前，默认是0"/>
            </div>
            <div style="width: 660px; height: 20px; border-top: 1px #DFDFDF dashed; margin-left: 60px; float: left; margin-top: 10px">&nbsp;</div>
        </div>
        <div class="continue_add"></div>
        <div class="fl"></div>
        <div class="fr">
            <input type="submit" class="admin_submit" value="保存"/>
            <input type="button" class="admin_submit" value="继续添加" id="add_more"/>
            <input type="button" class="admin_submit" value="返回" onClick="window.location='{:U('category')}'"/>
        </div>
        <div class="clear"></div>
    </div>
</form>

</div>
<include file="Admin@default/public/footer" />
</body>
<script type="text/javascript">
    $(document).ready(function () {
        $("#add_more").click(function()
        {
            $(".continue_add").append($(".category_tpl").html());
        });
    });
</script>
</html>