<!DOCTYPE html>
<html>
	<head>
		<include file="public:meta" />
		<link rel="stylesheet" href="../public/css/personal.css">
	</head>
	<body>
		<include file="public:header"/>
		<div class="list_height plist-txt notarrow">
	        <div class="pic"></div>
	        <div class="tit font14">证书名称<span class="font_red_light">*</span></div>
	        <div class="describe font13">
	            <input type="text" id="name" id="name" placeholder="请输入证书名称" value="{$info['name']}">
	        </div>
	        <div class="arrow"></div>
	        <div class="clear"></div>
	    </div>
	    <div class="list_height plist-txt qs-relative js-actionParent">
            <div class="abAct js-showActionSheet"></div>
	        <div class="pic"></div>
	        <div class="tit font14">获得时间<span class="font_red_light">*</span></div>
	        <div class="describe font13 qs-temp-date" data-type="get">
		        <span class="f-date-txt-get">
	        	<if condition="$Think.get.id eq ''">
	        		请选择
	        	<else/>
					{$info.year}年-{$info.month}月
	        	</if>
		        </span>
	        	<input type="hidden" class="f-year-code-get" id="year"  value="{$info['year']}">
				<input type="hidden" class="f-month-code-get" id="month"  value="{$info['month']}">
	        </div>
	        <div class="arrow"></div>
	        <div class="clear"></div>
		    <!--BEGIN actionSheet-->
		    <div>
			    <div class="qs-mask" style="display:none"></div>
			    <div class="qs-actionsheet js-actionsheet">
				    <div class="qs-actionsheet-menu">
					    <div class="con-filter">
						    <div class="f-selected-group">
							    <div class="s-bar">
								    <div class="s-bar-title qs-left">获得时间</div>
								    <div class="clear"></div>
							    </div>
							    <div class="s-list"></div>
						    </div>
						    <div class="f-box f-box-date-get"></div>
					    </div>
				    </div>
			    </div>
		    </div>
	    </div>
	    <div class="split-block"></div>
        <div class="btn-spacing">
        	<input type="hidden" id="id" value="{$info['id']}">
            <div id="J_saveresume" class="qs-btn qs-btn-blue font18" title="确定">确定</div>
        </div>
        <div class="split-block"></div>
	    <include file="public:footer_min" />
        <script src="../public/js/qs.date.js"></script>
	    <script type="text/javascript">
		    // 验证
	    	$('#J_saveresume').die().live('click', function() {
                // 有禁用class不执行，阻止多次点击
                if ($('#J_saveresume').hasClass('qs-btn-border-disabled')) {
                    return false;
                }
				var credentValue = $.trim($('#name').val());
				var yearCredentValue = $.trim($('#year').val());
				var monthCredentValue = $.trim($('#month').val());
				var id = $.trim($('#id').val());
				var pid = "{$resume.id}";
				var news = "{$Think.get.news}";
				if (credentValue == "") {
					qsToast('请填写证书名称');
					return false;
				}
				if (yearCredentValue == "") {
					qsToast('请选择获得证书年份');
					return false;
				}
				if (monthCredentValue == "") {
					qsToast('请选择获得证书月份');
					return false;
				}
                var cuToast = qsToasting('正在保存中');
				$('#J_saveresume').text('保存中...');
                $(this).addClass('qs-btn-border-disabled');
	            // 提交表单
	            $.ajax({
	                url: "{:U('Personal/resume_edit_certificate')}",
	                type: 'POST',
	                dataType: 'json',
	                data: {id: id, pid: pid, name: credentValue, year: yearCredentValue, month: monthCredentValue,news:news},
	                success:function(data){
	                    if (data.status == 1) {
                            qsToast(data.msg, 1, cuToast);
                            setTimeout(function () {
                                window.location.href = data.data.url;
                            }, 2000);
	                    } else {
                            qsToast(data.msg, 0, cuToast);
	                        $('#J_saveresume').text('保存').removeClass('qs-btn-border-disabled');
	                    }
	                },
	                error:function(result){
                        qsToast(result.msg, '', cuToast);
	                    $('#J_saveresume').text('保存').removeClass('qs-btn-border-disabled');
	                }
	            });
	        });
	    </script>
	</body>
</html>