		<div class="footer" style="font-size:13px">
			<div>
				<a href="{:U('index/index')}">
					<li data-go="index.html">
						<img src="../public_qichen/img/footer/index.png">
						<p>首页</p>
					</li>
				</a>
			</div>
			<div>
				<a href="{:U('jobs/index')}">
					<li data-go="#">
						<img src="../public_qichen/img/footer/qz-active.png">
						<p class="p-active">在线求职</p>
					</li>
				</a>
			</div>

			<div>
				<a href="{:U('MembersBind/index')}">
					<li>
						<img src="../public_qichen/img/footer/yg.png">
						<p>员工服务</p>
					</li>
				</a>
			</div>
			<div>
				<a href="{:U('Personal/index')}">
					<li data-go="#">
						<img src="../public_qichen/img/footer/me.png">
						<p>个人中心</p>
					</li>
				</a>
			</div>
		</div>