		<div class="footer" style="font-size:13px"> 
			<div>
				<a href="{:U('index/index')}">
					<li data-go="enterprise-sy.html">
						<img src="../public_qichen/img/footer/index.png">
						<p>首页</p>
					</li>
				</a>
			</div>
			<div>
				<a href="{:U('Company/jobs_add')}">
					<li data-go="#">
						<img src="../public_qichen/img/footer/fb.png">
						<p>发布</p>
					</li>
				</a>
			</div>

			<div>
				<a href="{:U('company/pms_list1')}">
					<li>
						<img src="../public_qichen/img/footer/tz.png">
						<p >消息</p>
					</li>
				</a>
			</div>
			<div>
				<a href="{:U('company/index')}">
					<li data-go="#">
						<img src="../public_qichen/img/footer/me-active.png">
						<p class="p-active">我的</p>
					</li>
				</a>
			</div>
		</div>