<include file="public:header"/>

<div class="toptit">新增业务</div>
<form id="form1" action="{:U('add_yewu')}" method="post" name="FormData" enctype="multipart/form-data">
    <div class="form_main width150">
        <div class="fl">业务名字:</div>
        <div class="fr">
            <div style="float: left"><input name="name" type="text" class="input_text_default middle" maxlength="45" value=""/></div>
            
        </div>

       
        
        <div class="fl">内容:</div>
        <div class="fr">
            <textarea name="content" class="input_text_default" style=" width:682px;height:400px; line-height:180%"></textarea>
        </div>

       
        <div class="fl"></div>
        
        <div class="clear"></div>
        <div class="moreform">
           
            
            
           
           
            <div class="clear"></div>
        </div>
        <div class="fl"></div>
        <div class="fr">
            <input type="button" class="admin_submit" value="保存" id="J_submit"/>
            <input type="button" class="admin_submit" value="返回" onClick="window.location='{:U('list_yewu')}'"/>
        </div>
        <div class="clear"></div>
    </div>
</form>

</div>
<include file="public:footer"/>
</body>

<link rel="stylesheet" href="__ADMINPUBLIC__/js/kindeditor/themes/default/default.css"/>
<script charset="utf-8" src="__ADMINPUBLIC__/js/kindeditor/kindeditor-min.js"></script>
<script charset="utf-8" src="__ADMINPUBLIC__/js/kindeditor/lang/zh_CN.js"></script>
<script type="text/javascript">
  var uploadUrl = "{:U('Upload/form_upload')}";
</script>
<script src="__ADMINPUBLIC__/js/ajaxfileupload.js"></script>
<script src="__ADMINPUBLIC__/js/fileupload.js"></script>
<script type="text/javascript" src="__ADMINPUBLIC__/js/jquery.listitem.js"></script>
<script type="text/javascript" src="__ADMINPUBLIC__/js/jquery.dropdown.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        if ($('.J_listitme.list_sel').length) {
            var listSelCn = $.trim($('.J_listitme.list_sel').text());
            var listSelCode = $('.J_listitme.list_sel').data('code');
            $('.J_listitme.list_sel').closest('.J_listitme_parent').find('.J_listitme_text').text(listSelCn);
            $('.J_listitme.list_sel').closest('.J_listitme_parent').find('.J_listitme_code').val(listSelCode);
        }
        //日期
        laydate.render({
            elem: '#addtime' //指定元素
        });
        var editor;
        KindEditor.ready(function(K) {
            editor = K.create('textarea[name="content"]', {
                uploadJson : "?m={:C('admin_alias')}&c=upload&a=index",
                afterBlur: function () { this.sync(); },
                allowFileManager : true});
        });
        $('#J_submit').click(function(){
            editor.sync();
            var that = $(this);
            if(that.hasClass('disabled')){
                return false;
            }
            that.val('正在保存...').addClass('disabled');
            $.post("{:U('add_yewu')}",$('#form1').serialize(),function(result){
                if(result.status==1){
                    disapperTooltip("success", result.msg,function(){
                        location.href='{:U("list_yewu")}';
                    });
                }else{
                    disapperTooltip("remind", result.msg,function(){
                        that.val('保存').removeClass('disabled');
                    });
                    return false;
                }
            },'json');
        });
      // 上传网站首页Logo
      $.upload('#J_upload_article_img',{name:'small_img',dir:'images'},function(result){
        if(result.error == 1){
          var htmlResult = '<img src="'+ result.url.src +'" align=absmiddle>';
          $('#J_upload_article_img').closest('.J-file-input-box').find('.file-input-src .img').html(htmlResult);
          $('#J_upload_article_img').closest('.J-file-input-box').find('.file-input-save-name').val(result.url.savename);
          if ($('#J_upload_article_img').hasClass('file-input-block')) {
            $('#J_upload_article_img').closest('.J-file-input-box').find('.file-input-src').removeClass('hid');
            var $delObj = $('#J_upload_article_img').closest('.J-file-input-box').find('.file-input-del');
            $('#J_upload_article_img').remove();
            $delObj.attr('id', "J_upload_article_img_change_btn");
            $.upload('#J_upload_article_img_change_btn',{name:'small_img',dir:'images'},function(result){
              if(result.error == 1){
                var htmlResult = '<img src="'+ result.url.src +'" align=absmiddle>';
                $('#J_upload_article_img_change_btn').closest('.J-file-input-box').find('.file-input-src .img').html(htmlResult);
                $('#J_upload_article_img_change_btn').closest('.J-file-input-box').find('.file-input-save-name').val(result.url.savename);
              } else {
                disapperTooltip("remind", "上传失败："+result.message);
              }
            })
          }
        } else {
          disapperTooltip("remind", "上传失败："+result.message);
        }
      });
      // 分站全选
        $('#J_all').click(function() {
            if ($(this).is(':checked')) {
                $('.J_for_all').each(function() {
                    $(this).prop('checked', !0);
                })
            } else {
                $('.J_for_all').each(function() {
                    $(this).prop('checked', 0);
                })
            }
        })
        $('.J_for_all').click(function() {
            if (!$(this).is(':checked')) {
                $('#J_all').prop('checked', 0);
            } else {
                if ($('.J_for_all:checked').length == $('.J_for_all').length) {
                    $('#J_all').prop('checked', !0);
                }
            }
        })
    });
</script>
</html>